
// Настройка тегов

@mixin h($level, $default-color: $glob-color-dark-blue, $default-margin: false) {
    $h-font-family: $glob-font-family-h;
    $h-line-height: $glob-line-height-xs;
    $h-margin-bottom: .8em;
    
    line-height: $h-line-height;
    font-family: $h-font-family;
    margin-top:  0;
    word-break:  break-word;
        
    @if ($default-color)  { color: $default-color }
    @if ($default-margin) { margin-bottom: $h-margin-bottom }

    $fs-h1: $glob-fs-h1;
    $fs-h2: $glob-fs-h2;
    $fs-h3: $glob-fs-h3;
    $fs-h4: $glob-fs-h4;
    $fs-h5: $glob-fs-h5;
    $fs-h6: $glob-fs-h6;
    
    @if $level==1 { font-size:$fs-h1; font-weight: 800; }
    @if $level==2 { font-size:$fs-h2; font-weight: 800; }
    @if $level==3 { font-size:$fs-h3; font-weight: 700; }
    @if $level==4 { font-size:$fs-h4; font-weight: 700; }
    @if $level==5 { font-size:$fs-h5; font-weight: 700; }
    @if $level==6 { font-size:$fs-h6; font-weight: 700; }
}
@mixin a {
    $color: $glob-color-light-red;
    $font-family: $glob-font-family;
    color: $color;
    font-family: $font-family;
    display: inline;
    border-bottom: 1px solid #a0214030; // прозрачность
    &:hover {
        color: $color;
        border-bottom-color: $color;
    }
    @include trans;
}
@mixin img {
    $radius: $glob-border-radius;
    //
    display:inline-block;
    object-fit:cover;
    //
    border-radius: $radius;
}
@mixin ul {
    @include list;
    list-style-type: disc;
    li {
        &:before {
            $color: $glob-color-light-red;
            $indent: $glob-space-interval;
            @include make-figure(10, transparent, 2px, $color, 50%);
            margin-right: $indent;
        }
    }
}
@mixin ol {
    @include list;
    list-style-type: decimal;
    counter-reset: li-counter;
    li {
        counter-increment: li-counter;
        &:before {
            $color: $glob-color-light-red;
            $indent: $glob-space-min;
            @include h(4, $color);
            content: counter(li-counter) ". ";
            line-height: 0;
            margin-right: $indent;
            min-width: 1.25em;
        }
    }
}
@mixin p {
    $margin-bottom: $glob-space-min;
    margin-bottom: $margin-bottom;
}
@mixin strong {
    font-weight:600;
    display: inline-block;
}
@mixin small {
    $fs-small: $glob-fs-small;
    font-size:$fs-small;
}
@mixin blockquote {
    width: 100%;
    max-width: pxem(500);
    position: relative;
    //padding: pxem(30) 0 0 pxem(30);
    margin-top: 80px;
    &::before {
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' fill='rgb(243, 250, 253)' width='81' height='72'><path d='M44.2697 0L23.0048 36.096 44.2697 72H21.2649L0 36.096 21.2649 0h23.0048zM81 0L59.7351 36.096 81 72H57.9952L36.7303 36.096 57.9952 0H81z'/></svg>");
        position: absolute;
        left: pxem(-30); 
        top: pxem(-30);
        z-index: -1;
    }
}
@mixin table {
    line-height: 1em;
    width: 100%;
    tr {}
    th {}
    td { vertical-align: middle }
    thead {}
    tbody {}
}
@mixin placeholder {
    &::-webkit-input-placeholder, &::-moz-placeholder, &::-ms-input-placeholder {
        @content;
    }
}

