
// Настройки дефолтных стилей

@mixin pageConfiguration {
    // Конфиг страницы
    html {
        box-sizing:  border-box;
        line-height: 1.15; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
        overflow: hidden auto;
    }
    body {
        -moz-font-smoothing:     antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing:  antialiased;
        text-rendering: optimizeLegibility;
        line-height:inherit;
        background-color: inherit;
        color: inherit;
    }
    html, body {
        width:  100%;
        height: 100%;
        margin:  0;
        padding: 0;
        min-width: 320px;
    }
    *, *::after, *::before {
        box-sizing: inherit;
        min-width:0;
        min-height:0;
    }
    * {
        -webkit-tap-highlight-color: transparent;
        &:focus {
            outline: none;
        }
    }
    [hidden] {
        display: none;
    }
}

@mixin formConfiguration {
    // Чистит стили формы
    input {
        [type="search"]::-webkit-search-cancel-button{
            -webkit-appearance: none;
        }
        [type=time] {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-clear-button {
                display: none;
            }
            -moz-appearance: textfield;
            -moz-creation: searchfield;
            -webkit-appearance: none;
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                display: none
            }
        }
        [type=submit]:not([value]) {
            outline: 2px solid red;
        }

        @include placeholder{ color: inherit; }
    }

    ::-ms-clear,
    ::-ms-reveal{
        display:none;
    }

    fieldset {
        border:    0;
        padding:   0;
        margin:    0;
        min-width: auto;
        width:     100%;
    }
    legend {
        box-sizing:  border-box;
        color:       inherit;
        display:     table;
        max-width:   100%;
        padding:     0;
        white-space: normal;
        width: 100%
    }
    label {
        display:block;
    }
    textarea {
        resize: vertical
    }
    button, input, select, textarea {
        line-height: 1.2;
        font-size:   inherit;
        font-weight: inherit;
        color:       inherit;
    }
    button, label, input[type="submit"], input[type="reset"] {
        cursor:pointer;
    }
}

@mixin tagsConfiguration {
    // Стили тегов
    h1, h2, h3, h4, h5, h6 {
        margin:      0;
        font-weight: inherit;
        font-family: inherit;
        font-size:   inherit;
        color:       inherit;
        line-height: inherit;
    }

    .h1{ @include h(1, $default-margin: true) }
    .h2{ @include h(2, $default-margin: true) }
    .h3{ @include h(3, $default-margin: true) }
    .h4{ @include h(4, $default-margin: true) }
    .h5{ @include h(5, $default-margin: true) }
    .h6{ @include h(6, $default-margin: true) }
    
    a  { color:inherit; text-decoration:none }
    .a { @include a }
    p  { margin:0; line-height: 1.4em }
    .p { @include p }
    strong  { font-weight:inherit }
    .strong { @include strong }
    small   { font-size:inherit }
    .small  { @include small }
    .mark   { @include mark }
    blockquote  { margin:0 }
    .blockquote { @include blockquote }
    
    figure { margin:0 }
    img { max-width:100%; vertical-align:middle }
    .img { @include img }
    hr {
        display: block;
        height:  1px;
        margin:  1.5em 0;
        padding: 0;
        border:  0;
        background: $glob-color-dark-red;
    }
    svg { display: inline-block; vertical-align: middle }

    ul > *:not(li),
    ol > *:not(li),
    dl > *:not(dt):not(dd) { outline: 2px solid red }
    ul, ol, dl, dt, dd{ list-style:none; margin:0; padding:0 }
    .ul    { @include ul }
    .ol    { @include ol }
    .table { @include table }
    table  { border-spacing: 0; border-collapse: collapse; margin: 0; vertical-align: top }
    th     { text-align: inherit; font-weight: inherit }
    th     { font-weight: inherit }
    tbody, tfoot, thead, tr, th, td { vertical-align: inherit; }
    button {}
}

@mixin textConfiguration {
    // Стили текста
    $pageStyle:  $glob-font-style;
    $pageWeight: $glob-font-weight;
    $pageSize:   $glob-base-size-text-px *1px;
    $pageFamily: $glob-font-family;
    $pageLineHeight: $glob-line-height;
    $pageBg:     $glob-color-white;
    $pageColor:  $glob-color-light-grey;

    html {
        font:  $pageStyle $pageWeight $pageSize/$pageLineHeight $pageFamily;
        color: $pageColor;
        background-color: $pageBg;
    }
}

@mixin resetTagsConfiguration {
    // Возвращает стили тегов
    h1 { @include h(1, $default-margin:true) }
    h2 { @include h(2, $default-margin:true) }
    h3 { @include h(3, $default-margin:true) }
    h4 { @include h(4, $default-margin:true) }
    h5 { @include h(5, $default-margin:true) }
    h6 { @include h(6, $default-margin:true) }

    a      { @include a }
    p      { @include p }
    strong { @include strong }
    small  { @include small }
    ul     { @include ul }
    ol     { @include ol }
    table  { @include table }
    mark   { @include mark }
    blockquote { @include blockquote }
    img    { @include img }

    .truncated {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
