
// Логика для обработки стилей

$glob-prefix:'--sendsay-'; // Префикс CSS переменных

@function cssVarGenerator($name) {
    // Генерирует CSS переменную
    @return var(#{$glob-prefix}#{$name});
}

@function cssColorVarGenerator($color-name) {
    // Генерирует CSS переменную для цвета
    @return var(#{$glob-prefix}color-#{$color-name});
}

@mixin cssVarsInit() {
    // Инициализирует CSS переменные
    @each $cssAttr, $cssValue in $glob-commons-styles {
        #{$glob-prefix}#{$cssAttr}: #{$cssValue};
    }
    @each $cssAttr, $cssValue in  $viewports {
        #{$glob-prefix}#{$cssAttr}: #{$cssValue};
    }
    @each $cssAttr, $cssValue in  $spaces {
        #{$glob-prefix}#{$cssAttr}: #{$cssValue};
    }
    @each $cssAttr, $cssValue in $glob-font-settings {
        #{$glob-prefix}#{$cssAttr}: #{$cssValue};
    }
    
    @each $cssAttr, $cssValue in $glob-colors {
        #{$glob-prefix}color-#{$cssAttr}: #{$cssValue};
    }

    @each $cssAttr, $cssValue in $glob-font-sizes {
        #{$glob-prefix}#{$cssAttr}: pxem($cssValue);
    }
  
   
    
}

@function pxem($target, $context: $glob-base-size-text-px){
    // Преобразует единицы измерения px в em
    $target:$target * 1px;
    $context:$context * 1px;
    @return ($target / $context) * 1em;
}

@function pxrem($target, $context: $glob-base-size-text-px){
    // Преобразует единицы измерения px в rem
    $target:$target * 1px;
    $context:$context * 1px;
    @return ($target / $context) * 1rem;
}

@mixin passSelector ($child-selector: null) {
    // инициализирует стили, или передает потомку
    // обертка
    @if ($child-selector){& .#{$child-selector} {
        @content
    }} 
    @else {
        @content
    }
}

//@mixin defineRoot ($root: bull) {
//    @if ($root) {
//        $root: $root;
//    }
//    @else {
//        $root: #{&};
//    }
//    #{$root} {
//        $rt: $root;
//        @content
//    }
//}
