<template lang="pug">
    component(:is="tag").v-link
        span.v-link__icon(v-if="$slots.icon"): slot(name="icon")
        span.v-link__ref: slot
</template>

<script>
    export default {
        name: "VLink",
        props: {
            tag:  { type: String, default: 'a' },
        },
    }
</script>

<style lang="scss">
    .v-link {
        &__icon { margin-right: 25px }
        &__ref  { @include a }
    }
</style>
