<template lang="pug">
    
    component(:is="tag" :class="initClass")
        li.v-list__item(v-for="( item, index ) in $slots.item" :key="`${index}li`"): v-node(:node="item")
    
</template>

<script>
import VNode from "@/components/VNode";
export default {
    components: {VNode},
    name: "v-list",
    props: {
        tag: { type:String, default:'ul' }
    },
    computed: {
        initClass() { return this.tag === 'ul' ? 'ul' : this.tag === 'ol' ? 'ol' : '' }
    }
}
</script>

<style lang="scss"></style>
