<template lang="pug">
    table.table(:class="initClass(type, classList)"): slot
</template>

<script>
export default {
    name: 'VTable',
    data:() => ({
        classList: {
            simple   : ["v-table_simple"],
            inserted : ["v-table_inserted"],
            bicolor  : ["v-table_bicolor"],
        }
    }),
    props: {
        type: { type: String, default: 'simple' },
    },
    methods: {
        initClass(target, list) { for (let key in list) if (target === key) return list[key] },
    }
}
</script>

<style lang="scss">
    .v-table {
        $fs-small: $glob-fs-small;
        &_simple, 
        &_inserted { @include table-simple }
        &_bicolor  { @include table-bicolor }
        
        &_simple {
            $tablet-min: $glob-viewport-tablet-min;
            $padding-bottom: $glob-space-text;

            td:first-child { @include h(5) }
            
            @include media($min: $tablet-min) {
                th    { padding-bottom: $padding-bottom }
                td:not(:first-child) { width: 22% }
            }
            
            @include media($max: $tablet-min) {
                display: flex;
                flex-direction: column;
                
                tr { display: grid ; grid-template-columns: 1fr 1fr }
                th { display: none }
                td {
                    &:first-child {
                        grid-column: 1/-1; grid-row: auto/ span 1;
                        & + td, 
                        & + td + td { &::before { display: block  ; margin-bottom: 1em } }
                        & + td      { &::before { content: 'Срок' } }
                        & + td + td { &::before { content: 'Цены' } }
                    }
                }
            }
        }
        
        &_inserted {
            $padding-y: $glob-space-interval;
            $fs: $glob-fs-small-sm;
            
            position: relative;
            
            tr:first-child { position: absolute; top:0; right:0; left:0 }
            tr {
                //@include flex-container(row, 20px);
                //justify-content: space-between;
            }
            th { padding-bottom: $padding-y; font-size: $fs }
            td { @include h(5) }
        }
        
        &_bicolor {
            th {
                .th__sale {
                    width: 28px;
                    height: 32px;
                    position: absolute;
                    right: 0;
                    bottom: calc(100% + 5px);
                    color:white;
                    white-space: nowrap;
                    font-size: $fs-small;
                    overflow: hidden;
                }
                .th__text {
                    width: max-content;
                    position: relative;
                    
                }
                
            }
            td:first-child { min-width: 20% }
            td:not(:first-child) { width: 18% }
        }

        @include media($max: $glob-viewport-phone-medium) {
            &_bicolor {
                //overflow-x: auto;
                //td:first-child { min-width: 100px }
                //td:not(:first-child) { width: 100px }
            }
        }
    }
</style>
