<template lang="pug">
.page-layout
  blocks(:blocks="blocks", :promo-block="promo_block")
</template>

<script>
import { pageMixin } from '../../mixins/pages'
import { fetchPage } from '../../utils/asyncPages'
import API from '../../api/index'

export default {
  name: 'page-solution',

  async asyncData ({ app, error, params }) {
    return fetchPage(app, error, API.services.solution(params.slug))
  },

  mixins: [pageMixin],

  validate ({ params }) {
    return !!params.slug
  }
}
</script>
