<template lang="pug">
    .overlay

        .overlay__layer(:style="colorInit" v-if="reverse")
            .overlay__layer(:style="imgInit")

        .overlay__layer(:style="imgInit" v-else)
            .overlay__layer(:style="colorInit")

        slot
</template>

<script>


import VNode from "@/components/VNode";
export default {
    name: "Overlay",
    components: {
        VNode

    },
    props: {
        color: {
            default: 'transparent'
        },
        opacity: {
            type: String,
            default: '1'
        },
        img: {
            type: String,
            default: '',
        },
        reverse: {
            type: Boolean,
            default: false
        },
        gradient: {
            type: Boolean,
            default: false,
        }
    },
    computed: {
        colorInit() {
            if (this.color) {
                let bg;
                if (this.gradient) {
                    bg = `linear-gradient(360deg, ${this.color} 0%, transparent 100%)`
                } else {
                    bg = this.color
                }
                return {
                    background: bg,
                    opacity: this.opacity
                }
            }
        },
        imgInit() {
            if (this.img) return {
                background: `url('${this.img}') center/cover no-repeat`
            }
        },
    }
}
</script>

<style lang="scss">
    .overlay {
        position: relative;
        &__layer { @include img-stretch }
        &__layer { z-index: 0 }
    }
</style>
