<template lang="pug">
    .v-abilities-item
        .v-abilities-item__header
            .v-abilities-item__icon
                img(:src="image",  :alt="title" v-if="image")
            v-btn(type="link" v-if="button_url && button_text", :to="button_url").v-abilities-item__link {{button_text}}
        .v-abilities-item__title(v-if="title" v-html="title")
        tags-style.v-abilities-item__text(v-html="content")
</template>

<script>
import VLink from "@/components/tags/VLink";
import VIcon from "@/components/VIcon";
import redactor from '@/assets/icons/other/redactor.svg'
import VBtn from "@/components/controls/VBtn";

export default {
    name: "VAbilitiesItem",
    components: {
        VBtn,
        VIcon,
        VLink,
        redactor,
    },
    props: {
        button_text: {
            required: false,
            type: String,
            default:'Подробнее'
        },
        button_url: {
            required: false,
            type: String,
            default:''
        },
        image: {
            required: false,
            type: String,
            default:''
        },
        title: {
            required: false,
            type: String,
            default:''
        },
        content: {
            required: false,
            type: String,
            default:''
        },
    }
}
</script>

<style lang="scss">
    $space-md: $glob-space-md;
    $color:    $glob-color-white;
    $radius:   $glob-border-radius;
    $space-xs: $glob-space-xs;
    
    .v-abilities-item {
        padding: 40px 50px 45px;
        min-height: 320px;
        height: 100%;
        background: $color;
        border-radius: $radius;
        &__header {
            margin-bottom: $space-md;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__title { @include h(3); margin-bottom: $space-xs }
    }
</style>
