<template lang="pug">
    .v-banner
        .v-banner__content(v-if="include")
            slot
        slot(v-else)
        img(:src="img").v-banner__img
</template>

<script>

export default {
    name: "VBanner",
    props: {
        img: { type: String },
        include: { type: Boolean, default: true }
    },
}
</script>

<style lang="scss">
    .v-banner {
        $space-text: $glob-space-text;
        $space-interval: $glob-space-interval;
        $tablet-min:    $glob-viewport-tablet-min;
        
        padding: $space-interval 0 $space-interval;
        display: grid;
        align-items: center;
        column-gap: $space-text;
        
        &__content { grid-area: v-banner__content }
        &__img { grid-area: v-banner__img }
        
        @include media($max: $tablet-min) {
            display: flex;
            flex-direction: column;
        }
    }
</style>
