<template lang="pug">
    nav.v-breadcrumbs: v-container
        ul.v-breadcrumbs__list
            li.v-breadcrumbs__item
                .v-breadcrumbs__link.v-breadcrumbs__link_active Главная
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
            li.v-breadcrumbs__item
                a(href="#").v-breadcrumbs__link Тарифы
                .v-breadcrumbs__hexagon
                
    
</template>

<script>
import VContainer from "@/components/sections/VContainer";

export default {
    name: 'VBreadcrumbs',
    components: {
        VContainer,
    },
}
</script>

<style lang="scss">
    .v-breadcrumbs {
        $color: $glob-color-light-red;
        $fs: $glob-fs-small;
        $space-xs: $glob-space-xs;
        $space-md: $glob-space-md;
        
        margin: $space-xs 0 $space-md;
        
        &__list { display: flex; align-items: center; font-size: $fs; flex-wrap: wrap; margin-right: -20px }
        &__item { display: flex; align-items: center }
        &__item:last-child &__hexagon { display: none }
        &__link {
            @include trans;
            &:hover, &_active { color: $color }
            &_active { border-bottom: 2px solid $color; cursor: default }
        }
        &__hexagon {
            font-size: .03em;
            margin: 2px 20px 0;
            position: relative;
            width: 10em; height: 17.32em;
            transform: rotate(90deg);
            background: $color;
            transition: opacity .5s;
            
            &:before, &:after {
                position: absolute;
                width: inherit; height: inherit;
                border-radius: inherit;
                background: inherit;
                content: '';
            }
            &:before { transform: rotate(60deg) }
            &:after  { transform: rotate(-60deg) }
        }
    }

</style>


