<template lang="pug">
    .v-burger(@click="burgerClick")
        v-hex-figure(radius="15").v-burger__hexagon
            .v-burger__bar
</template>

<script>
import VHexFigure from "@/components/elements/VHexFigure";
export default {
    name: 'VBurger',
    components: {VHexFigure},
    methods: {
        burgerClick() { this.$emit('is-clicked') }
    }
}
</script>

<style lang="scss">
    .v-burger {
        $fill: $glob-color-light-red;
        &__hexagon {
            cursor: pointer;
            width:  40px;
            height: 44px;
            fill:   transparent;
            stroke: $fill;
            stroke-width: 5;
        }
        &__bar {
            $t:.25s; $a:ease-out; $x:-4px;
            position: relative;
            transition: background 0s $t $a;
            &, &:before, &:after {
                display: block;
                width:   16px;
                height:  2px;
                background: $fill;
            }
            &:before, &:after { content: ''; position: absolute }
            &:before { top: $x;    transition: top $t $t,    transform $t $a }
            &:after  { bottom: $x; transition: bottom $t $t, transform $t $a }
        }
        .v-header.open-menu & {
            &__bar {
                $t:.25s; $a:ease-out; $d:45deg;
                background: transparent;
                &:before { top: 0;    transform: rotate($d);  transition: top $t,    transform $t $t $a }
                &:after  { bottom: 0; transform: rotate(-$d); transition: bottom $t, transform $t $t $a }
            }
            
        }
    }

</style>


