<template lang="pug">
    v-section: tags-style: v-container
        v-banner.v-chess-include(img="/upload/img/include-content-01.jpg" :class="defOrder")
            slot
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VBanner from "@/components/patterns/VBanner";
import TagsStyle from "@/components/TagsStyle";
import VSection from "@/components/sections/VSection";

export default {
    name: 'VChessSlider',
    components: {
        VSection,
        TagsStyle,
        VBanner,
        VContainer,
    },
}
</script>

<style lang="scss">
    .v-chess-include {
        $tablet-min: $glob-viewport-tablet-min;
        $border-radius: $glob-border-radius;
        $sky: $glob-color-sky;
        $space-interval: $glob-space-interval;
        $space-xs: $glob-space-xs;
        $space-text: $glob-space-text;
        
        gap: $space-text;

        justify-content: space-between;
        @include media($min: $tablet-min) {
            margin-bottom: 140px;
            &_reverse  {
                grid-template-columns: 1fr minmax(300px, 1fr);
                grid-template-areas: "v-banner__content v-banner__img"
            }
            &_default {
                grid-template-columns: minmax(300px, 1fr) 1fr;
                grid-template-areas: "v-banner__img v-banner__content"
            }
        }
        @include media($max: $tablet-min) {
            .v-banner__content { order: 2 }
            .v-banner__img { order: 1; margin-bottom: $space-interval; max-width: 350px; width: 100% }
        }
        
        &__decor {
            &-list {
                display: flex;
                width: 100%;
                flex-direction: column;
            }
            &-item {
                padding: $space-xs;
                border-radius: $border-radius;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                p { margin-bottom: 0 }
                &:nth-child(even) { background: $sky }
            }
            &-img {
                min-width: 70px;
                margin-right: $space-interval;
                img { border-radius: 0 }
            }
        }
    }
</style>


