<template lang="pug">
    v-section
        .v-chess-content
            v-container
                top-contents(:title="block.title", :content="block.content")
                v-banner.v-chess-content__banner(v-for="item in block.features", :img="item.image" alt="", :key="item.id")
                    h2.h2(v-if="item.title" v-html="item.title")
                    tags-style(v-if="item.content" v-html="item.content")
                    v-btn(label="Кнопка")
</template>

<script>
import VBanner from "@/components/patterns/VBanner";
import VContainer from "@/components/sections/VContainer";
import TagsStyle from "@/components/TagsStyle";
import VSection from "@/components/sections/VSection";
import VBtn from "@/components/controls/VBtn";
import TopContents from "@/components/elements/TopContents";

export default {
    name: "VChessContent",
    components: {
        TopContents,
        VBtn,
        VSection,
        TagsStyle,
        VContainer,
        VBanner
    },
    props: {
        block: {
            type: Object,
            default:()=>({})
        },
    }
}
</script>

<style lang="scss">
    .v-chess-content {
        $tablet-min: $glob-viewport-tablet-min;
        $space-interval: $glob-space-interval;
        &__banner {
            @include media($min: $tablet-min) {
                &:nth-child(odd)  {
                    grid-template-columns: 1fr minmax(500px, 1fr);
                    grid-template-areas: "v-banner__content v-banner__img"
                }
                &:nth-child(even) {
                    grid-template-columns: minmax(500px, 1fr) 1fr;
                    grid-template-areas: "v-banner__img v-banner__content"
                }
            }
            @include media($max: $tablet-min) {
                .v-banner__content { order: 2 }
                .v-banner__img { 
                    order: 1; 
                    margin-bottom: $space-interval;
                    max-width: 350px; 
                    width: 100% 
                }
            }
        }
    }
</style>
