<template lang="pug">
    .v-reviews-constructor-tabs
        slider-swiper(v-bind="options" :classPrefix="rootClass").v-reviews-constructor-tabs__item
            v-hex-figure.v-reviews-constructor-tabs__hexagon(v-for="(image, index) in $slots.default" :key="index" v-bind="activate(index)")
                .v-reviews-constructor-tabs__tab(@click="tabHandler(index)")
                v-node(:node="image")
        slider-swiper-control(:classPrefix="rootClass")
        
        
</template>

<script>
import VHexFigure from "@/components/elements/VHexFigure";
import VNode from "@/components/VNode";
import SliderSwiper from "@/components/elements/SliderSwiper";
import SliderSwiperControl from "@/components/elements/SliderSwiperControl";

export default {
    name: "VClientsConstructorTabs",
    components: {
        SliderSwiperControl,
        SliderSwiper,
        VNode,
        VHexFigure,
    },
    props: {
        //images: {
        //    type: Array,
        //}
    },
    data:() => ({
        currentIndex: 0,
        rootClass: "v-qwe",
    }),
    methods: {
        tabHandler(index) {
            this.currentIndex = index;
            this.$emit('tab-activated', index)
            console.log("work")
            //return { class: "active" }
        },
        activate(index) { return index === this.currentIndex ? { class: "active" } : null }
    },
    computed: {
        options(){
            return {
                //sliderOnMaxViewportName:'viewport-phone-max',
                options: {
                    spaceBetween: 0,
                    slidesPerGroup: 3,
                    slidesPerView: 3,
                    slidesPerColumn: 2,
                    slidesPerColumnFill:'row',
                    //loop: true,
                    
                    allowTouchMove: false,
                    //nested: false,
                    //effect: "fade",
                    pagination: {
                        el: `.${this.rootClass}__paginator`,
                        type: 'bullets',
                        clickable: true,
                    },
                    /*  autoplay: {
                          delay: 2500,
                      },
                      loop: true,*/
                    //navigation: {
                    //    nextEl: `.v-cluster__arrow-next`,
                    //   prevEl: `.v-cluster__arrow-prev`,
                    //}
                },

            }

        },
    },
}
</script>

<style lang="scss">
    .v-reviews-constructor-tabs {
        $p: ".v-reviews-constructor-tabs";
        $n: "nth-child";
        
        

        grid-row: 1/span 15;
        grid-column: 1/span 9;

        .swiper-wrapper{
            display: grid;
            grid-template-rows: repeat(25, 1.5vw);
            grid-template-columns: repeat(auto-fill, 0.6vw);
            //transform: none !important;
        }

        //&__item {
        //    display: grid;
        //    grid-template-rows: repeat(25, 1.5vw);
        //    grid-template-columns: repeat(auto-fill, 0.6vw);
        //}

        .slider-swiper__slide {
            width:  100% !important;
            fill: #F7F7F7;
            display: flex;
            flex-direction: column;

            &:#{$n}(1) { grid-column: 28/span 23; grid-row: 6/span 11  }
            &:#{$n}(2) { grid-column: 7/span 19;  grid-row: 7/span 9   }
            &:#{$n}(3) { grid-column: 19/span 15; grid-row: 1/span 7   }
            &:#{$n}(4) { grid-column: 15/span 23; grid-row: 15/span 11 }
            &:#{$n}(5) { grid-column: 40/span 11; grid-row: 15/span 9  }
            &:#{$n}(6) { grid-column: 1/span 12;  grid-row: 15/span 6  }
            
            

        }

        //.active {
        //    .v-reviews-constructor-tabs__hexagon {
        //        fill: red;
        //    }
        //}
        &__tab {
            @include abs-stretch
        }
        

        &__hexagon {
            width:  100%;
            fill: #F7F7F7;
            display: flex;
            flex-direction: column;
            height: 100%;
            
            position:relative;

            //&:#{$n}(1) { grid-column: 28/span 23; grid-row: 6/span 11  }
            //&:#{$n}(2) { grid-column: 7/span 19;  grid-row: 7/span 9   }
            //&:#{$n}(3) { grid-column: 19/span 15; grid-row: 1/span 7   }
            //&:#{$n}(4) { grid-column: 15/span 23; grid-row: 15/span 11 }
            //&:#{$n}(5) { grid-column: 40/span 11; grid-row: 15/span 9  }
            //&:#{$n}(6) { grid-column: 1/span 12;  grid-row: 15/span 6  }
            
            &.active {
                fill: red;
            }
        }
    }
</style>
