<template lang="pug">
    .v-clients-logo-pattern-slider()
        template(v-if="!showThemeXs")
            slider-swiper( v-bind="optionsPattern", @activeIndex="setActiveIndexPattern" key="1").v-clients-logo-pattern-slider__list
               v-clients-logo-pattern-list(v-for="(logos,index) in logoListChank", :key="index", :item-list="logos")
            slider-swiper-control(:classPrefix="optionsPattern.classPrefix" vertical key="12")
        
    
        template(v-else)
            slider-swiper( v-bind="options", @activeIndex="setActiveIndex" key="2").v-clients-logo-pattern-slider__xs
                v-clients-logo-item(:active="logo.active" v-for="(logo,index) in itemList", :key="index").v-clients-logo-pattern-slider__v-clients-logo
                    img( :src="logo.url", :alt="logo.title")
            slider-swiper-control(:classPrefix="options.classPrefix" key="22")

</template>

<script>
    import _chank from 'lodash/chunk'
    import SliderSwiper from "@/components/elements/SliderSwiper";
    import SliderSwiperControl from "@/components/elements/SliderSwiperControl";
    import VClientsLogoPatternList from "@/components/patterns/VClientsLogoPatternList";
    import viewports from '@/config/viewports'
    import VClientsLogoItem from "@/components/patterns/VClientsLogoItem";
    
    export default {
        components: {
            VClientsLogoItem,
            VClientsLogoPatternList,
            SliderSwiperControl,
            SliderSwiper,
        },
        props:{
            itemList:{
                type:Array,
                default:()=>[]
            }
        },
        data:() => ({
            rootClass: "v-clients-logo-pattern-slider",
            width:null,
            viewports
        }),
        computed: {
            showThemeXs(){
                return this.$store.state.window.width<parseInt(this.viewports["viewport-tablet-max"])
            },
            logoListChank(){
                return _chank(this.itemList,6)    
            },
            options() { return {
                classPrefix:'v-clients-logo-pattern-slider',
                options: {
                    slidesPerView: 'auto',
                    centeredSlides: true,
                }
            }},
            optionsPattern() { return {
                classPrefix:'v-clients-logo-pattern-slider',
                options: {
                    slidesPerView: 1,
                }
            }},
        },
        methods:{
            setActiveIndexPattern(activeIndex){
                this.$root.$emit('VClientsLogoItemCurrentIndex',this.logoListChank[activeIndex][0].id)
            },
            setActiveIndex(activeIndex){
                this.$root.$emit('VClientsLogoItemCurrentIndex',activeIndex)
            },
        },
    }
</script>

<style lang="scss">
    .v-clients-logo-pattern-slider {
        &__v-clients-logo {
            width:191px;
            height:224px;
        }
        
        @include media($min:$glob-viewport-tablet-max) {
            display:flex;
            flex-wrap:nowrap;
            justify-content:space-between;
            .v-clients-logo-pattern-list {
                width:600px;
            }
        }

      &__xs {
          .swiper-slide {width:auto}
      }
    }
</style>
