<template lang="pug">
    .v-content-grid-item
        a(:href="link").v-content-grid-item__ref
            img(:src="`${this.img}`").v-content-grid-item__img
            tags-style.v-content-grid-item__content
                h4 Как изменился email- маркетинг за последние 5 лет?      
                p И почему он остается одним из главных инструментов повторных продаж?
                v-btn(label="Попробовать бесплатно").v-content-grid-item__btn
</template>

<script>

import VBtn from "@/components/controls/VBtn";
export default {
    name: "VContentGridItem",
    components: {VBtn},
    props: {
        img: { type: String, default: '' },
        link: { type: String, default: '' }
    },
}
</script>

<style lang="scss">
    .v-content-grid-item {
        $box-shadow: $glob-box-shadow;
        $border-radius: $glob-border-radius;
        $space-xs: $glob-space-xs;
        $white: $glob-color-white;

        position: relative;

        height: 572px;
        grid-column-start: auto;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        padding: $space-xs;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            align-items: center;
            
            &, & > * {color: $white !important;}
        }
        &__ref { height: 100% }
        &__img { @include img-stretch; border-radius: $border-radius; z-index: -1}

        @include media($max: $glob-viewport-tablet-max) {
            height: 285px;
            text-align: center;
        }
    }
</style>
