<template lang="pug">
    .v-customer-counting
        .v-customer-counting__count
            .v-customer-counting__count-title
                | Сколько у вас клиентов
            v-range(v-model="value",@input="e=>$emit('input',e)")
            
        .v-customer-counting__price
            .v-customer-counting__price-title
                slot(name="text")
                // Цена за месяц *
            .v-customer-counting__price-cost
                slot(name="cost")
                // 472 Р
            .v-customer-counting__price-caption
                slot(name="subscribers")
                // если у вас от 1 до 1250 подписчиков
                
</template>

<script>
import VRange from "@/components/elements/VRange";

export default {
    name: "VCustomerCounting",
    components: {
        VRange
    },
    props:['value']
}
</script>

<style lang="scss">
    .v-customer-counting {
        $tablet-min:     $glob-viewport-tablet-min;
        $space-xs:       $glob-space-xs;
        $space-2x:       $glob-space-2x;
        $space-interval: $glob-space-interval;
        $space-2xs:      $glob-space-2xs;
        $space-text:     $glob-space-text;
        $space-indent:   $glob-space-indent;
        $fs-small:       $glob-fs-small;
        $space-min:      $glob-space-min;
        $light-blue:     $glob-color-light-blue;
        
        background: $glob-color-sky;
        border-radius: 5px;
        padding: $space-interval $space-2x $space-xs;
        display: grid;
        justify-content: space-between;
        grid-template-columns: minmax(100px, 740px) minmax(120px, 220px);
        column-gap: $space-xs;
        min-height: 220px;

        &__count { &-title {
            @include h(3);
            margin-bottom: $space-2xs;
        }}
        &__price {
            padding-top: $space-interval;
            display: flex;
            flex-direction: column;
            &-title { @include h(5) }
            &-cost  { @include h(3); margin: $space-text 0 }
            &-caption {
                font-size: $fs-small;
                line-height: 1.25em;
            }
        }

        @include media($max: $tablet-min) {
            grid-template-columns: 1fr;
            padding: $space-interval $space-indent;
            &__count { margin-bottom: $space-2x }
            &__price {
                padding-top: 0;
                justify-content: center;
                &-cost { margin: 0 0 $space-min }
            }
        }

    }
</style>
