<template lang="pug">
    .v-feedback
        a(v-for="phone in phones" :href="phone.phone|phoneUrl").v-feedback__tel {{ phone.phone }}

        .v-feedback__soc
            slot(name="socials")
            v-socials-min-wrapper

        .v-feedback__license
            slot(name="license")
</template>

<script>
    import { phoneUrl } from '@/filters'
   
import VSocialsMinWrapper from "@/components/patterns/VSocialsMinWrapper";
export default {
    name: 'VFeedback',
    components: {VSocialsMinWrapper},
    filters: {
        phoneUrl
    },
    props:{
        phones:{
            type:Array,
            default:()=>([])
        }
    }
}
</script>

<style lang="scss">
    .v-feedback {
        $tablet-min:     $glob-viewport-tablet-min;
        $space-text:     $glob-space-text;
        $space-interval: $glob-space-interval;
        $space-xs:       $glob-space-xs;
        $space-min:      $glob-space-min;
        $phone-medium:   $glob-viewport-phone-medium;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $space-interval $space-text;
        padding: $space-interval 0 $space-xs;
        align-items: center;
        
            &__tel { @include h(5) }
            &__license {
                $fs: $glob-fs-small-xs;
                $lh: $glob-line-height-sm;
                @include flex-container(column, 0);
                font-size:   $fs;
                line-height: $lh;
                p:not(:last-child) { margin-bottom: $space-min }
            }

        @include media($max: $tablet-min) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media($max: $phone-medium) {
            &__soc, &__license { grid-column: 1/-1 }
            &__license { padding-top: $space-interval }
            grid-template-columns: 1fr 1fr;
        }
    }
</style>


