<template lang="pug">
    .v-include-constructor-item
        v-icon(name="hexagon-include").v-include-constructor-item__hexagon: hexagon
        .v-include-constructor-item__wrapper
            .v-include-constructor-item__dashed
            .v-include-constructor-item__content: slot
</template>

<script>
import hexagon from "@/assets/icons/other/include-constructor-icon.svg";
import VIcon from "@/components/VIcon";
import TagsStyle from "@/components/TagsStyle";

export default {
    name: 'VIncludeConstructorItem',
    components: {
        VIcon,
        hexagon,
        TagsStyle,
    },
}
</script>

<style lang="scss">
    .v-include-constructor-item {
        $color-white: $glob-color-white;
        $sky: $glob-color-sky;
        $border-radius: $glob-border-radius;
        $space-text: $glob-space-text;
        $space-md: $glob-space-md;
        $space-xs: $glob-space-xs;

        position: relative;
        
        &__hexagon {
            position: absolute;
            top: -20px;
            border-bottom: 10px solid $color-white;
            border-top: 10px solid $color-white;
            z-index: 1;
        }
        &__wrapper {
            position: relative;
            overflow: hidden;
            background: $color-white;
            height: calc(100% + 50px);
        }
        &__dashed {
            @include img-stretch;
            &::before {
                content: '';
                position: absolute;
                top: 0; left: 0; right: 0;
                height: calc(100% + 20px);
            }
        }
        
        &__content {
            border-radius: $border-radius;
            background: $sky;
            padding: $space-text $space-md;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 25px;
                width: 0; height: 0;
                border-style: solid;
            }
        }

        &:nth-child(2n - 1) { grid-column: 2/3 ; grid-row: auto/ span 2 ; margin-left: -1px }
        &:nth-child(2n)     { grid-column: 1/2 ; grid-row: auto/ span 2 }
        
        &:nth-child(2n - 1) & {
            &__hexagon { left: 0; transform: translateX(-50%) }
            &__wrapper { padding-left: 110px }
            &__dashed::before { border-left: 1px dashed $sky }
            &__content::before {
                right: 100%;
                border-width: 20px 30px 20px 0;
                border-color: transparent $sky transparent transparent;
            }
        }
        &:nth-child(2n) & {
            &__hexagon { right: 0; transform: translateX(50%) }
            &__wrapper { padding-right: 110px }
            &__dashed::before { border-right: 1px dashed #4E69FF }
            &__content::before {
                left: 100%;
                border-width: 20px 0 20px 30px;
                border-color: transparent transparent transparent $sky;
            }
        }
        
        &:last-child & { &__dashed::before { border: none } }
        p:last-child { margin-bottom: 0 }


        @include media($max: $glob-viewport-tablet-max) {
            grid-column: auto !important;
            grid-row: auto !important;
            margin: 0 !important;
            &__content {
                padding: $space-xs $space-xs;
            }
            &__hexagon, &__dashed {
                display: none !important;
            }
            &__wrapper {
                padding: 0 !important;
                height: auto !important;
            }
        }
    }
</style>
