<template lang="pug">
    .v-media-news
        slider-swiper(v-bind="options").v-media-news__list
        
            v-media-news-item(
                v-for="(item, index) in block.itemList", :key="index",
                :logoUrl="item.logoUrl",
                :logoTitle="item.logoTitle",
                :imgTitle="block.title",
                :img="item.image",
                :button_url="item.button_url"
            
            )
                h4 {{item.title}}
                tags-style(v-html="item.content")
               
           
                
        slider-swiper-control(:classPrefix="options.classPrefix")
    
</template>

<script>
import VMediaNewsItem from "@/components/patterns/VMediaNewsItem";
import SliderSwiper from "@/components/elements/SliderSwiper";
import SliderSwiperControl from "@/components/elements/SliderSwiperControl";

import viewports from '@/config/viewports'
import TagsStyle from "@/components/TagsStyle";
const wtm = parseInt(viewports['viewport-tablet-medium'])
export default {
    name: "VMediaNews",
    components: {
        TagsStyle,
        SliderSwiperControl,
        SliderSwiper,
        VMediaNewsItem
    },
    data:() => ({
        viewports,
        
    }),
    props:{
        block: {
            type: Object,
            default:()=>({
                itemList:[]
            })
        },

    },
    computed: {
        options() { 
            
            let options= {
                    slidesPerView: 1,
                    breakpoints:{}
                }
            options.breakpoints[wtm]={
                slidesPerView: 2,
            }
            
            return {
            //sliderOnMaxWidth:530,
            classPrefix:'v-media-news',
            options
        }},
    },
}
</script>

<style lang="scss">
    .v-media-news__list {
        $space-xs: $glob-space-xs;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space-xs;
    }
</style>
