<template lang="pug">
    .v-media-video__wrapper
        .v-media-video__test
            slider-swiper(v-bind="options", :classPrefix="rootClass").v-media-video__slider
                .v-media-video(v-for="(item, index) in block.itemList", :key="index",)
                    v-video(v-bind="item")
                    .v-media-video__bottom
                        .v-media-video__caption(v-html="item.content")
        slider-swiper-control(:classPrefix="rootClass").v-media-video__options
    
    
</template>

<script>
import VDotTab from "@/components/elements/VDotTab";
import VDotTabsWrapper from "@/components/elements/VDotTabsWrapper";
import VVideo from "@/components/elements/VVideo";
import SliderSwiper from "@/components/elements/SliderSwiper";
import SliderSwiperControl from "@/components/elements/SliderSwiperControl";

export default {

    name: "VMediaVideo",
    components: {
        SliderSwiperControl,
        SliderSwiper,
        VVideo,
        VDotTabsWrapper,
        VDotTab,
    },
    props:{
        block: {
            type: Object,
            default:()=>({
                itemList:[]
            })
        },

    },
    data:() => ({
        startVideo: false,
        rootClass: "v-video", //todo id
    }),
    methods: {
        videoHandler() { 
            this.startVideo = true
        },
    },
    computed: {
        options() { return {
            options: {
                spaceBetween: 30,
                slidesPerView: 1,
                breakpoints: {
                    720: {
                        slidesPerView: 1,
                        spaceBetween: 30
                    },

                },

                pagination: {
                    el: `.${this.rootClass}__paginator`,
                    type: 'bullets',
                    clickable: true,
                },
            },
        }},
    },
}
</script>

<style lang="scss">
    .v-media-video {
        $space-interval: $glob-space-interval;

        height: 100%;
        
        &__wrapper { height: 100%; position: relative }
        &__test    { height: 100% }
        &__slider  { height: 100% }
        
        display: flex;
        flex-direction: column;
        &__caption {
            @include h(5);
        }
        &__nav {
            position: absolute;
            left: 0;
            bottom: 4px;
        }
        &__bottom {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        
        @include media($min: $glob-viewport-tablet-min) {
            &__options {
                position: absolute;
                bottom: -8px;
                left: 0;
            }
            &__bottom {
                max-height: 50px;
                padding: 0 90px 0;
                height: 100%;
            }
        }
        @include media($max: $glob-viewport-tablet-min) {
            &__bottom {
                padding-top: $space-interval;
            }
        }
        
    }
</style>

