<template lang="pug">
    .v-news-mass-media-item     
</template>

<script>
export default {
    name: "v-news-mass-media-item", 
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
    .v-news-mass-media-item{}
</style>
