<template lang="pug">
    .v-questions
        v-section
            v-container
                v-flex-vertical
                    div
                        h2.h1(v-if="block.title" v-html="block.title")
                        tags-style(v-if="block.content" v-html="block.content")
                    ul.v-questions__wrapper
                        li(
                            v-for="faq in block.faqs", :key="faq.id"
                            v-if="faq.answer && faq.title"
                        )
                            h3.h5(v-html="faq.title")
                            tags-style(v-html="faq.answer")
                    
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import TagsStyle from "@/components/TagsStyle";
import VSection from "@/components/sections/VSection";
import VFlexVertical from "@/components/sections/VFlexVertical";


export default {
    name: "VQuestions",
    components: {
        VFlexVertical,
        VSection,
        TagsStyle,
        VContainer,
    },
    props: {
        block: {
            required: true,
            type: Object
        }
    }
}
</script>

<style lang="scss">
    .v-questions {
        $tablet-min: $glob-viewport-tablet-min;
        
        width: 100%;
        
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }
        
        @include media($max: $tablet-min) {
            &__wrapper {
                grid-template-columns: 1fr;
            }
        }
    }
</style>
