<template lang="pug">
    v-section(:container="block.inContainer")
        //overlay(:img="`${require('@/assets/img/try-free-banner.jpg')}`" color="#0B1C48" :opacity="0.9" :gradient="true").v-reg-banner
            tags-style.v-reg-banner__content
                h1 Сервис для рассылок по Email, SMS, Web Push и соцсетям
                p Автоматизируйте рассылки и продавайте на 48% больше без дополнительных расходов на рекламу
                v-reg-include(theme="inline" :noborder="true")
        overlay(
            :class="{'_content-bottom':block.contentBottom}",
            :img="block.bg",
            :color="block.color",
            :opacity="'0.'+block.opacity",
            :gradient="true"
        ).v-reg-banner
            .v-reg-banner__content-wrap
                .v-reg-banner__content
                    top-contents(:title="block.title", :content="block.content" title-tag="h1", :text-left="false")
                v-reg-include(theme="inline" :noborder="true")
                    template(v-slot:btn) {{block.reg_button_text}}
</template>

<script>


import VContainer from "@/components/sections/VContainer";
import TagsStyle from "@/components/TagsStyle";
import VBtn from "@/components/controls/VBtn";
import VSection from "@/components/sections/VSection";
import VRegInclude from "@/components/forms/VRegInclude";
import Overlay from "@/components/patterns/Overlay";
import TopContents from "@/components/elements/TopContents";
export default {
    name: 'VRegBanner',
    components: {
        TopContents,
        Overlay,
        VRegInclude,
        VSection,
        VBtn,
        TagsStyle,
        VContainer
    },
    props: {
        block: {
            type: Object,
            default:()=>({})
        },
    }
}
</script>

<style lang="scss">
    .v-reg-banner {
        $space-2xs: $glob-space-2xs;
        $color-white: $glob-color-white;

        padding: $space-2xs;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 630px;
        
        &._content-bottom {
            justify-content: flex-end;
        }
        
        &__content-wrap {
            z-index: 1;
            max-width: 750px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1, p {
                color: $color-white;
            }
        }
        .v-reg-include {
            @include media($min: $glob-viewport-tablet-min) {
                &__area, &__input {
                    border-radius: 50px;
                }
            }
        }
    }
</style>


