<template lang="pug">
    .v-skills
        v-section
            v-container
                v-flex-vertical
                    h2.h1(v-if="title" v-text="title") Возможности платформы
                    tags-style(v-if="content" v-html="content")
                    .v-skills__list
                        .v-skills__item(v-for="(group, index) in featuresComparison" ,:key="group.id")
                            .v-skills__item-header
                                .v-skills__item-img
                                    img(:src="group.image", :alt="group.title")
                                h3.h3(v-text="group.title")
                            tags-style.v-skills__item-content
                                ul
                                    li(v-for="feature in group.features", :key="feature.id" v-text="feature.title")
                                ul
                                    li(v-for="feature in group.features", :key="feature.id" v-text="feature.title")
                                  
                        //template
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-02.png")
                                    h3.h3 Персонализация и сегментация
                                tags-style.v-skills__item-content
                                   ul.v-skills__item-list
                                        li Персонализация: имя, дата последней покупки, накопленные баллы, сумма покупок
                                        li Сегментация по активности в рассылках, на сайте, данным подписчика			
                                        li Сегментация базы по географии, социальному статусу, полу, возрасту, типу отдыха и любым другим признакам			
                                        li Настраиваемые поля			
                                        li Многоуровневые комбинации условий: географические, социальные, поведенческие, системные данные			
                                        li Массовое редактирование данных подписчиков			
                                        li Просмотр подписчиков, добавивших себя в стоп-лист			
                                        li Различные форматы хранения данных о подписчиках: дата, списки, текст			
                                        li Информирование о действиях подписчиков по email или http
                                
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-03.png")
                                    h3.h3 Контент и верстка
                                tags-style.v-skills__item-content
                                    ul
                                        li Блочный Drag'n'Drop редактор			
                                        li Адаптивный дизайн писем			
                                        li Готовые шаблоны писем			
                                        li HTML-редактор и собственные шаблоны			
                                        li Черновики
                                        li Загрузка html-макета из ZIP-архива			
                                        li Неограниченное хранилище файлов	
                                    ul
                                        li Архив рассылок			
                                        li Уникальные вложения: квитанции, открытки, банковские выписки, отчеты программы лояльности			
                                        li Динамический контент для разных категорий покупателей			
                                        li Отображение блоков письма для отдельных сегментов			
                                        li Готовые и редактируемые формы подписки для сайта и опросы			
                                        li Переадресация с формы подписки на требуемую веб-страницу
                            
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-01.png")
                                    h3.h3 Рассылки
                                tags-style.v-skills__item-content
                                    ul
                                        li Скорость 20 млн. писем в час			
                                        li Доставка 99,9%			
                                        li Бесплатные Web Push-уведомления			
                                        li Запланированный выпуск рассылок			
                                        li Исключение несуществующих и заброшенных адресов			
                                        li Анализ и валидация базы контактов до рассылки			
                                        li Поведенческий таргетинг			
                                    ul
                                        li А/B-тестирование: заголовки, контент, время отправки			
                                        li Тестовая отправка сообщений			
                                        li Оптимизация времени отправки в зависимости от активности подписчиков			
                                        li Выпуск с учётом временной зоны			
                                        li Запуск по не открывшим письмо в 1 клик			
                                        li Экспресс-выпуск без загрузки адресной базы в аккаунт
                            
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-04.png")
                                    h3.h3 Автоматизация
                                tags-style.v-skills__item-content
                                    ul
                                        li Автоматический выбор канала: email, sms, соцсети, мессенджеры			
                                        li Триггерные цепочки: welcome, брошенный просмотр, забытая корзина, реактивация, реанимация			
                                        li Готовые возможные события и действия: изменение данных, прошло N времени, добавить в группу, изменить данные			
                                        li Транзакционные цепочки: подтверждение покупки, информация о доставке, появлении товара			
                                        li Генерация контента для рассылки из страниц сайта, блога, интернет-магазина или RSS-лент			
                                        li Подборка товаров интернет-магазина: популярные товары, новинки, распродажа			
                                        li Генерация индивидуальных промокодов и штрихкодов			
                                        li Импорт данных по расписанию			
                                        li Отправка рассылок по расписанию
                            
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-05.png")
                                    h3.h3 Статистика и аналитика
                                tags-style.v-skills__item-content
                                    ul
                                        li Статистика по рассылке: доставка, открытия, отписки, жалобы на спам			
                                        li Статистика по подписчикам: портрет аудитории, действия, активность			
                                        li Статистика за временной интервал			
                                        li Отслеживание посещений целевых страниц сайта и достижений целей			
                                        li Сегментный анализ			
                                        li Анализ конверсий: заказы, звонки, покупки, транзакции, прибыль за период			
                                        li Анализ показателей: устройства, операционные системы			
                                        li Динамика и влияние рассылок на продажи			
                                        li Количество ошибок доставки и описание каждой ошибки			
                                        li Карта кликов			
                                        li Наглядные графики и интерактивные диаграммы			
                                        li Сохранение результатов отчетов и отправка на почту
                            
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-06.png")
                                    h3.h3 Безопасность
                                tags-style.v-skills__item-content
                                    ul
                                        li Соответствие ФЗ-152 «О персональных данных»			
                                        li Разграничение прав доступа сотрудникам: к адресам, рассылкам, статистике			
                                        li Отслеживание изменений в аккаунте: действия, время, IP-адрес пользователя			
                                        li Шифрование базы данных			
                                        li Биометрическая аутентификация: AGSES-карта			
                                        li Анализ вероятности попадания конкретной рассылки под спам-фильтры популярных почтовых сервисов			
                                        li Настройка подлинности домена отправителя: DKIM, SPF, MAILFROM, FBL			
                                        li Выделенные IP-адреса
                                        
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-07.png")
                                    h3.h3 Интеграции
                                tags-style.v-skills__item-content
                                    ul
                                        li Полнофункциональное API			
                                        li Vkontakte, Facebook, Twitter: кнопки «поделиться» и «мне нравится»			
                                        li Web Analytics: Google Analytics, Я.Метрика			
                                        li CRM: amoCRM, Bitrix24, Manzana online, Manzana loyalty			
                                        li CMS: LPgenerator
                                        li SaaS: МойСклад, Flocktory, Manzana, LeadHit, SAP, Siebel			
                                        li Google Big Data, Google Big Query, Power BI			
                                        li Передача событий из системы клиенту: Callback, WebHook
                            
                            .v-skills__item
                                .v-skills__item-header
                                    .v-skills__item-img
                                        img(src="@/assets/img/include-item-08.png")
                                    h3.h3 Техническая поддержка
                                tags-style.v-skills__item-content
                                    ul
                                        li База знаний			
                                        li Поддержка по email			
                                        li Поддержка по телефону			
                                        li Поддержка в чате
    
</template>

<script>
import VList from "@/components/tags/VList";
import VContainer from "@/components/sections/VContainer";
import TagsStyle from "@/components/TagsStyle";
import VSection from "@/components/sections/VSection";
import VFlexVertical from "@/components/sections/VFlexVertical";

export default {
    name: "VSkills",
    components: {
        VFlexVertical,
        VSection,
        TagsStyle,
        VContainer,
        VList,
    },
    props:{
        content: {
            required: false,
            type: [String, null]
        },
        featuresComparison: {
            required: false,
            default: () => [],
            type: Array
        },
        plans: {
            required: false,
            default: () => [],
            type: Array
        },
        title: {
            required: false,
            type: [String, null]
        }
    }
}
</script>

<style lang="scss">
    .v-skills {
        $tablet-min: $glob-viewport-tablet-min;
        $space-min:  $glob-space-min;
        $space-text: $glob-space-text;
        $space:      $glob-space;
        $border-radius:  $glob-border-radius;
        $grey:           $glob-color-grey;
        $space-xs:       $glob-space-xs;
        $space-interval: $glob-space-interval;
        $space-indent:   $glob-space-indent;
        
        &__list {
            display: flex;
            flex-direction: column;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: $space-min;
            }
            padding: $space $space $space-text;
            background: $grey;
            border-radius: $border-radius;
            &-content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                column-gap: $space-xs;
                padding: 0 $space;
                ul {
                    justify-content: space-between;
                    margin: 0;
                }
            }
            &-img {
                min-width: 70px;
                margin-right: $space-interval;
                img { border-radius: 0 }
            }
            &-header {
                display: flex;
                align-items: center;
                h3 {margin-bottom: 0}
                margin-bottom: $space-text;
            }
        }
        
        @include media($max: $tablet-min) {
            &__item {
                padding: $space-xs $space-indent;
                &-content { padding: 0 }
            }
        }
    }
</style>
