<template lang="pug">
    .v-social-min
        a(
        :href="social.url",
        :title="social.title || ''"
        target="_blank" 
        v-for="social in socials",
       
        )
            v-icon(:name="social.network")
                componet(:is="social.network")
      
</template>

<script>
import VIcon from "@/components/VIcon";
import fb from "@/assets/icons/socials/fb.svg"
import vk from "@/assets/icons/socials/vk.svg"
import yt from "@/assets/icons/socials/yt.svg"

export default {
    name: 'VSocialsMinWrapper',
    components: {
        VIcon,
        fb, vk, yt,
    },
    props:{
        socials: {
            type: Array,
            default:()=>([])
        }, 
    }
    
}
</script>

<style lang="scss">
.v-social-min {
    $space-min: $glob-space-min;

    @include flex-container($space: $space-min);
    .v-icon {
        @include make-figure(41, transparent, 1px, rgba(111, 109, 111, 0.23), 50%);
        @include flex-centralize;
        
        &-fb { fill: #4267B2; svg { width: 8px;  height: 15px }}
        &-yt { fill: #FF0000; svg { width: 19px; height: 13px }}
        &-vk { fill: #527DD1; svg { width: 18px; height: 9px  }}
    }
}
</style>
