<template lang="pug">
    .v-tariph-description
        tags-style.v-tariph-description__wrapper
            .v-tariph-description__header
                h1.h2
                    slot(name="title")
                .v-tariph-description__header-label
                    slot(name="subscribers")
            slot(name="content")
           
        slot(name="right")
</template>

<script>
import VSection from "@/components/sections/VSection";
import TagsStyle from "@/components/TagsStyle";

export default {
    name: "VTariphDescription",
    components: {
        TagsStyle,
        VSection
    },
}
</script>

<style lang="scss">
    .v-tariph-description {
        $tablet-medium: $glob-viewport-tablet-medium;
        $tablet-min:    $glob-viewport-tablet-min;
        $space-xs:      $glob-space-xs;
        $space-md:      $glob-space-md;
        $grey:          $glob-color-grey;
        $small-sm:      $glob-fs-small-sm;
        $space-min:     $glob-space-min;
        
        display: grid;
        grid-template-columns: 2fr minmax(330px, 1fr);
        gap: $space-xs;
        min-height: 360px;
        &__wrapper {
            padding: $space-xs $space-md;
            border: 2px solid $grey;
            border-radius: 5px;
        }
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $space-md;
            .h2 { margin-bottom: 0 }
            &-label { font-size: $small-sm; max-width: 150px; text-align: right }
        }
        @include media($max: $tablet-medium) {
            &__header {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                h2 { margin-bottom: $space-min }
                &-label { font-size: $small-sm; 
                    max-width: none;
                    text-align: left;
                }
            }
            &__wrapper { padding: $space-md }
        }
        @include media($max: $tablet-min) {
            grid-template-columns: 1fr;
            .v-tariph-customers-price {
                height: 320px;
            }
        }
        
    }
</style>
