<template lang="pug">
    v-section(container)
        .v-tariphs-info
            v-month-tabs-wrapper
                v-month-tab(
                    v-for="(period,index) in periods", :key="period.id",
                    :label="period.title" ,
                    :discount="period.discount",
                    :active="activePeriodOrFirst && activePeriodOrFirst.id === period.id",
                    @click="setActivePeriod(period)"
                )
               
            v-customer-counting(v-model="sliderValue")
                template(v-if="activeRange" v-slot:subscribers)
                    |Если у вас 
                    =' '
                    span(v-if="activeRange.to_subscribers") 
                        |от #[br] {{ activeRange.from_subscribers | intcomma }} до {{ activeRange.to_subscribers | intcomma }}
                    span(v-else)
                        |более {{ activeRange.from_subscribers | intcomma }}
                    =' '
                    span подписчик{{ makeEnding(activeRange.to_subscribers, 'ов', 'а', '') }}
                
                template(v-slot:cost)
                    template(v-if="priceWithDiscount")
                        | {{ intcomma(priceWithDiscount, true) }}&nbsp;
                        span(v-html="ruble()")
                        | &nbsp;
                    template(v-else) Бесплатно
                    
                template(v-slot:text) Цена за месяц
                    //span(v-if="priceWithDiscount !== price")
                        span
                            span.span-text {{ price ? intcomma(price, true) : '' }}
                            template(v-if="price")
                                | &nbsp;
                                span(v-html="ruble()")
                        span Цена за месяц

            v-tariph-description
                template(v-slot:title) {{plan.title}}
                template(v-slot:content): div(v-html="plan.content")
                template(v-if="activeRange" v-slot:subscribers)
                    span Количество подписчик{{ makeEnding(activeRange.to_subscribers, 'ов', 'а', '') }}
                    =' '
                    span(v-if="activeRange.to_subscribers")
                        |от {{ activeRange.from_subscribers | intcomma }} до {{ activeRange.to_subscribers | intcomma }}
                    span(v-else)
                        |более {{ activeRange.from_subscribers | intcomma }}
                v-tariph-customers-price(slot="right", :compareTable="compareTable")
                

            v-tariph-buy
                template(v-slot:cost)
                    template(v-if="price")
                        | {{ intcomma(price, true) }}
                        =' '
                        span(v-html="ruble()")
                        =' '
                    template(v-else) Бесплатно
                template(v-slot:period v-if="price") за месяц
                template(v-slot:onceCost v-if="priceWithDiscount")
                    | {{ intcomma(priceWithDiscount, true) }}
                    =' '
                    span(v-html="ruble()")
                    =' '
                    |за {{ activePeriodOrFirst ? activePeriodOrFirst.title : '' }}
                template(v-slot:sale v-if="price") {{savingsPerMonth}}
            tags-style: p: small Стоимость указана без учета НДС
        slot(name="ClientListLogos")    
    
</template>

<script>

import VTariphDescription from "@/components/patterns/VTariphDescription";

import VCustomerCounting from "@/components/patterns/VCustomerCounting";
import VTariphBuy from "@/components/patterns/VTariphBuy";

import VMonthTabsWrapper from "@/components/wrappers/VMonthTabsWrapper";



  
    import { makeEnding } from '@/utils/text'
    import { intcomma } from '@/filters'
    import { mapGetters } from 'vuex'
    import { execMetrikaMethod } from '@/utils/metrika'
    import eventHub from '@/utils/eventHub'
    import ruble from '@/utils/ruble'
import VMonthTab from "@/components/elements/VMonthTab";
import VTariphCustomersPrice from "@/components/patterns/VTariphCustomersPrice";


    export default {
        components: {
          
            VTariphCustomersPrice,
            VMonthTab,
            VMonthTabsWrapper,
           
            VTariphBuy,
            VCustomerCounting,
           
            VTariphDescription,
          
        },

        computed: {
            activePeriodOrFirst () {
                if (!this.activePeriod) {
                    return this.periods && this.periods.length ? this.periods[0] : null
                }
                return this.activePeriod
            },
            activeRange () {
                if (!this.subscribersRanges || !this.subscribersRanges.length) {
                    return null
                }

                let range = this.subscribersRanges[0]
                if (this.sliderValue) {
                    this.subscribersRanges.forEach(r => {
                        if (this.sliderValue >= r.from_subscribers && (!r.to_subscribers || this.sliderValue <= r.to_subscribers)) {
                            range = r
                        }
                    })
                }
                return range
            },
            compareTable () {
                if (!this.sliderValue || !this.subscribersRanges || !this.subscribersRanges.length) {
                    return []
                }

                let result = []
                for (let i = 0; i < this.subscribersRanges.length; i++) {
                    let r = this.subscribersRanges[i]
                    if (this.sliderValue >= r.from_subscribers && this.sliderValue <= r.to_subscribers) {
                        if (i > 0) {
                            result.push(Object.assign({}, this.subscribersRanges[i - 1]))
                        }
                        result.push(Object.assign({}, r))
                        if (i < this.subscribersRanges.length - 1) {
                            result.push(Object.assign({}, this.subscribersRanges[i + 1]))
                        }
                    }
                }

                result.map(r => {
                    r.priceWithDiscount = this.getPrice(r, true)
                    r.price = this.getPrice(r, false)
                })

                return result
            },
            plan () {
                if (this.activeRange) {
                    let plan = this.plans.filter(p => p.id === this.activeRange.plan_id)
                    if (plan && plan.length) {
                        return plan[0]
                    }
                }
                return this.plans[0]
            },
            savingsPerMonth() {
                
                return (this.price - this.priceWithDiscount) / this.activePeriodOrFirst.months 
            },
            price () {
                return this.getPrice(this.activeRange, false)
            },
            priceWithDiscount () {
                return this.getPrice(this.activeRange, true)
            },
            ...mapGetters(['isAuthenticated'])
        },

        data () {
            return {
                activePeriod: null,
                popupPlan: null,
                showPopupModal: false,
                slider: {
                    data: [],
                    width: '100%',
                    height: 10,
                    dotSize: 30,
                    disabled: false,
                    show: true,
                    useKeyboard: true,
                    tooltip: 'always',
                    tooltipDir: 'bottom',
                    style: {
                        'marginBottom': '30px'
                    },
                    bgStyle: {
                        backgroundColor: '#f0f4f6'
                    },
                    tooltipStyle: {
                        backgroundColor: 'transparent',
                        borderColor: 'transparent',
                        color: '#b5224c',
                        fontFamily: 'Roboto',
                        fontSize: 18,
                        fontWeight: 700
                    },
                    processStyle: {
                        backgroundColor: '#801b44'
                    },
                    sliderStyle: {
                        backgroundColor: '#b5224c'
                    },
                    focusStyle: {
                        boxShadow: 'none'
                    }
                },
                sliderValue: 1
            }
        },

        filters: { intcomma },

        methods: {
            closePlanPopup () {
                this.popupPlan = null
                this.showPopupModal = false
            },

            getPrice (range, includeDiscount) {
                let period = this.activePeriodOrFirst
                if (!period || !range) {
                    return ''
                }
                if (!range.price || isNaN(range.price)) {
                    return ''
                }
              
                let price = range.price * (period.months || 1)
                if (includeDiscount) {
                    console.log(price * (100 - (period.discount || 0)) / 100);
                    return price * (100 - (period.discount || 0)) / 100
                }
                return price
            },

            intcomma,
            makeEnding,

            openPlan (url) {
                if (process.browser) {
                    if (this.isAuthenticated) {
                        window.location.href = url
                    } else {
                        window.scrollTo(0, 0)
                        eventHub.$emit('blinkRegisterForm')
                    }
                }
            },

            ruble,

            setActivePeriod (period) {
                this.activePeriod = period
            },

            showPlanPopup (plan) {
                if (plan.is_individual) {
                    this.popupPlan = plan
                    this.showPopupModal = true
                    execMetrikaMethod('reachGoal', ['open-lead-form'])
                }
            },

            updateURL () {
                // let query = {
                //   value: this.sliderValue
                // }
                // if (this.activePeriod) {
                //   query.period = this.activePeriod.id
                // }
                // this.$router.replace({ query })
            }
        },

        mounted () {
            if (this.subscribersRanges && this.subscribersRanges.length) {
                this.sliderValue = this.subscribersRanges[0].from_subscribers
                this.slider.data.push(this.sliderValue)
                this.subscribersRanges.forEach(s => {
                    if (s.to_subscribers) {
                        let avg = s.from_subscribers + Math.round((s.to_subscribers - s.from_subscribers) / 2)
                        avg = Math.round(avg / 100) * 100
                        this.slider.data.push(avg)
                        this.slider.data.push(s.to_subscribers)
                    }
                })

                if (this.$route.query.value) {
                    let value = parseInt(this.$route.query.value)
                    if (!isNaN(value) && this.slider.data.indexOf(value) >= 0) {
                        this.sliderValue = value
                    }
                }

                if (this.$route.query.period) {
                    let period = parseInt(this.$route.query.period)
                    if (!isNaN(period)) {
                        period = this.periods.filter(p => p.id === period)
                        this.activePeriod = period && period.length ? period[0] : null
                    }
                }
            }
        },

        props: {
            periods: {
                type: Array,
                required: false,
                default: () => []
            },
            plans: {
                type: Array,
                required: false,
                default: () => []
            },
            subscribersRanges: {
                type: Array,
                required: false,
                default: () => []
            }
        },

        watch: {
            activePeriod () {
                this.updateURL()
            },
            sliderValue () {
                this.updateURL()
            }
        }
    }
</script>

<style lang="scss">
    .v-tariphs-info {
        $space-xs: $glob-space-xs;
        @include flex-container(column, $space-xs);
    }
</style>
