<template lang="pug">
    .v-tariph-customers-price
        v-scrollbar(:parse-th="true")
            v-table(type="inserted")
                tr
                    th Кол. подписчиков
                    th Цена за месяц
                    th
                tr(v-for="range in compareTable")
                    td
                        span(v-if="range.to_subscribers") {{ range.from_subscribers | intcomma  }} - {{ range.to_subscribers | intcomma  }}
                        span(v-else) более {{ range.from_subscribers | intcomma }}
                    //td 300 &#8381;
                    td.old-price
                        span.old(v-if="range.price !== range.priceWithDiscount")
                            span(v-if="!range.to_subscribers") От&nbsp;
                            | {{ range.price|intcomma }}
                            |₽
                        
                

                    td(v-if="range.priceWithDiscount")
                            span.sale(v-if="!range.to_subscribers") От&nbsp;
                            | {{ range.priceWithDiscount|intcomma }}
                            |₽
                    td(v-else) Бесплатно
        v-link(href="#") Посмотреть всю таблицу цен
    
</template>

<script>
    import { intcomma } from '@/filters'

export default {
    name: "VTariphCustomersPrice",
    filters: { intcomma },
    props:{
        compareTable:{
            type:Array,
            default:()=>([])
        }
    }
}
</script>

<style lang="scss">
    .v-tariph-customers-price {
        $grey:           $glob-color-grey;
        $space-xs:       $glob-space-xs;
        $space-text:     $glob-space-text;
        $space-interval: $glob-space-interval;
        
        border: 2px solid $grey;
        border-radius: 5px;
        padding: $space-interval $space-text $space-xs $space-xs;
        @include flex-container(column, $space-text);
        align-items: flex-start;

        table {
            tr td:nth-child(3) {
                width: 60px;
                color: $glob-color-light-red;
            }
        }
        .old-price {
            color: grey;
            text-decoration: line-through;
            text-decoration-color: $glob-color-light-red;
        }
    }
</style>
