<template lang="pug">
    .v-tariph-buy
        .v-tariph-buy__price
            .v-tariph-buy__price-label Стоимость
            .v-tariph-buy__price-now
                .v-tariph-buy__price-now-value
                    slot(name="cost")
                        | 472 Р 
                slot(name="period")
            .v-tariph-buy__price-was
                span.v-tariph-buy__price-was-value
                    slot(name="sale")
                template(v-if="$slots.onceCost")
                    =" "
                    | Р/мес.

        .v-tariph-buy__once
            .v-tariph-buy__once-label(v-if="$slots.onceCost") единовременная оплата
            .v-tariph-buy__once-cost
                slot(name="onceCost")

        v-btn(type="filled" label="Купить").v-tariph-buy__btn
    
</template>

<script>
import VSection from "@/components/sections/VSection";
import TagsStyle from "@/components/TagsStyle";
import VList from "@/components/tags/VList";

export default {
    name: "VTariphBuy",
    components: {
        VList,
        TagsStyle,
        VSection
    },
}
</script>

<style lang="scss">
    .v-tariph-buy {
        $tablet-medium: $glob-viewport-tablet-medium;
        $tablet-min: $glob-viewport-tablet-min;
        $sky:        $glob-color-sky;
        $space-2xs:  $glob-space-2xs;
        $space-2x:   $glob-space-2x;
        $space-interval: $glob-space-interval;
        $space-min:      $glob-space-min;
        $space-indent:   $glob-space-indent;
        
        background: $sky;
        border-radius: 5px;
        padding: $space-2xs $space-2x $space-interval;
        display: grid;
        grid-template-columns: minmax(240px, 1fr) minmax(240px, 1fr) minmax(auto, 285px);
        align-items: center;
        gap: $space-interval;
        &__price {
            &-label {
                @include h(5);
            }
            &-now {
                display: flex;
                align-items: baseline;
                @include h(5, $glob-color-light-red);
                margin: $space-interval 0 $space-min;
                &-value {
                    @include h(1, $glob-color-light-red);
                    margin-right: $space-interval;
                }
            }
            &-was {
                @include h(3, #C6CCDA);
                display: inline;
                &-value {
                    text-decoration: line-through;
                }
            }
        }
        &__once {
            display: flex;
            flex-direction: column;
            height: 100%;
            &-cost {
                @include h(4, $glob-color-light-red);
                margin-top: 2em;
            }
        }
        
        @include media($max: $tablet-medium) {
            padding: $space-interval $space-indent;
        }
        @include media($max: $tablet-min) {
            grid-template-columns: 1fr 1fr;
            &__btn {
                grid-column: 1/-1;
                max-width: 280px;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
</style>
