<template lang="pug">
    v-section.section-reviews
        v-clients-logo-pattern-slider
    
</template>

<script>
import VSection from "@/components/sections/VSection";
import VClientsLogoPatternSlider from "@/components/patterns/VClientsLogoPatternSlider";

export default {
    components: {
        VClientsLogoPatternSlider,
        VSection},
    name: "section-reviews", 
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
    .section-reviews{}
</style>
