<template lang="pug">
    .v-flex-vertical: slot
</template>

<script>
export default {
    name: "VFlexVertical",
}
</script>

<style lang="scss">
   .v-flex-vertical {
       $space: $glob-space-xs;
       @include flex-container(column, $space);
       align-items: flex-start;
       & > *:last-child { margin-bottom: 0 } 
   }
</style>
