<template lang="pug">
    .v-footer
        v-container
            ul.v-footer__nav
                li.v-footer__nav-col(v-if="menus !== null && !!menus['FOOTER_1']")
                    .v-footer__nav-title {{ menus.FOOTER_1.title }}
                    ul.v-footer__nav-list
                        li(v-for="item in menus.FOOTER_1.items")
                            v-btn(v-if="item.url.indexOf('http') !== 0", type="linkOnlyHover",  :to="item.url") {{ item.title }}
                            v-btn(v-else :href="item.url" type="linkOnlyHover") {{ item.title }}
                            
                li.v-footer__nav-col(v-if="menus !== null && !!menus['FOOTER_2']")
                    .v-footer__nav-title {{ menus.FOOTER_2.title }}
                    ul.v-footer__nav-list
                        li(v-for="item in menus.FOOTER_2.items")
                            v-btn(v-if="item.url.indexOf('http') !== 0", type="linkOnlyHover",  :to="item.url") {{ item.title }}
                            v-btn(v-else :href="item.url" type="linkOnlyHover") {{ item.title }}
                            
                li.v-footer__nav-col(v-if="menus !== null && !!menus['FOOTER_3']")
                    .v-footer__nav-title {{ menus.FOOTER_3.title }}
                    ul.v-footer__nav-list
                        li(v-for="item in menus.FOOTER_3.items")
                            v-btn(v-if="item.url.indexOf('http') !== 0", type="linkOnlyHover",  :to="item.url") {{ item.title }}
                            v-btn(v-else :href="item.url" type="linkOnlyHover") {{ item.title }}
                   
                        
              
                        
                li.v-footer__nav-col(v-if="settings && settings.blog_title && blogPosts && blogPosts.length")
                    .v-footer__nav-title {{ settings.blog_title }}
                    ul.v-footer__nav-list
                        li(v-for="post in blogPosts", :key="post.id", :href="post.url" target="_blank")
                            v-btn(type="linkOnlyHover", :href="post.url" target="_blank") {{ post.title }}
                     
                        
            v-feedback.v-footer__feedback(v-if="settings && (settings.copyrights || settings.privacy_policy)", :phones="phones")
                template(v-slot:socials v-if="settings && settings.socials && settings.socials.length")
                    v-socials-min-wrapper(:socials="settings.socials")
                template(v-slot:license)
                    p(v-if="settings.privacy_policy")
                        v-btn(type="linkOnlyHover",
                        :to="{ name: 'about-slug', params: { slug: settings.privacy_policy.slug } }"
                        ) {{ settings.privacy_policy.title }}
                    p(v-if="settings.copyrights" v-html="settings.copyrights")
                    
</template>

<script>
import VContainer from '@/components/sections/VContainer'
import VFeedback from "@/components/patterns/VFeedback";

import { mapGetters } from 'vuex'
import VSocialsMinWrapper from "@/components/patterns/VSocialsMinWrapper";


export default {
    name: 'VFooter',
    components: {
        VSocialsMinWrapper,
        VFeedback,
        VContainer,
    },
    computed: {
        ...mapGetters({
            blogPosts: 'blog/posts',
            menus: 'vars/menus',
            settings: 'vars/settings'
        }),
        phones () {
            return this.settings && this.settings.phones ? this.settings.phones.slice(0, 2) : []
        }
    },
    props: {
        FOOTER_1: {
            type: Object,
            default:()=>({})
        },
    }
}
</script>

<style lang="scss">
.v-footer {
    $bg: $glob-color-grey;
    $space-2xs:    $glob-space-2xs;
    $space-text:   $glob-space-text;
    $tablet-min:   $glob-viewport-tablet-min;
    $border-color: $glob-color-blue;
    
    background: $bg;
    
    &__nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: $space-text;
        row-gap:    $space-2xs;
        padding:    $space-2xs 0 $space-text;
        
        &-title { 
            @include h(5); 
            margin-bottom: $space-text;
        }
        &-list {
            $fs:     $glob-fs-small;
            $color:  $glob-color-light-grey;
            @include flex-container(column);
            color:   $glob-color-light-grey;
            font-size: $fs;
        }
    }
    &__feedback { border-top: 1px solid $border-color }
    
    @include media($max: $tablet-min) {
        &__nav { grid-template-columns: repeat(2, 1fr) }
    }
}
</style>
