<template lang="pug">
    .v-grid
        slot
        
</template>

<script>
    export default {
        name: "VGrid",
        data() {
            return {
                
            }
        }
    }
</script>

<style lang="scss">
    // есть грид элементов, грид строчный и флекс вертикальный
    .v-grid {
        @include grid(200px)
    }
    // * refactor
    //space-lg:  pxem(160),
    //space-2xs: pxem(60),
    //space-xs:  pxem(30),
    
        /*
        &.grid-manager {
            //gap 
            //els in grid
            // Смысловой грид
            $gap: $glob-space-xs;
            display: grid;
            gap: $gap;
        }
        &.multipart {
            // 30px между смысловыми частями элементами 
            // gap separator
            // divs display flex
            $separate: $glob-space-2xs;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > *:not(:last-child) { margin-bottom: $separate; }
        }
        */
    
</style>
