<template lang="pug">

    .v-header-menu-sub: .v-header-menu-sub__container
        .v-header-menu-sub__wrapper(v-if="opportunities && opportunities.length")
            .v-header-menu-sub__caption Возможности
            ul.v-header-menu-sub__list
                li.v-header-menu-sub__item(v-for="item in opportunities", :key="item.id")
                    v-btn(:to="{ name: 'features-slug', params: { slug: item.slug } }" type="text").v-header-menu-sub__ref 
                        v-icon.v-header-menu-sub__icon(v-if="item.image", :style="{ backgroundImage: 'url(' + item.image + ')' }")
                        | {{ item.title }}
                // template
                    li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                        v-icon.v-header-menu-sub__icon: sub_menu_02
                        | Email
                    li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                        v-icon.v-header-menu-sub__icon: sub_menu_03
                        | Статистика
                    li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                        v-icon.v-header-menu-sub__icon: sub_menu_04
                        | Drag’n’Drop редактор
                    li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                        v-icon.v-header-menu-sub__icon: sub_menu_05
                        | Web Push
        .v-header-menu-sub__wrapper(v-if="solutions && solutions.length")
            .v-header-menu-sub__caption Решения для бизнеса
            ul.v-header-menu-sub__list
                li.v-header-menu-sub__item(v-for="item in solutions",:key="item.id")
                    v-btn(:to="{ name: 'solutions-slug', params: { slug: item.slug } }" type="text").v-header-menu-sub__ref
                        v-icon.v-header-menu-sub__icon(v-if="item.image", :style="{ backgroundImage: 'url(' + item.image + ')' }")
                        | {{ item.title }}
        //.v-header-menu-sub__wrapper
            .v-header-menu-sub__caption Решения для бизнеса
            ul.v-header-menu-sub__list
                li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                    v-icon.v-header-menu-sub__icon: sub_menu_06
                    | Банковский сектор
                li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                    v-icon.v-header-menu-sub__icon: sub_menu_07
                    | Туризм
                li.v-header-menu-sub__item: v-btn(to="/api/test" type="text").v-header-menu-sub__ref
                    v-icon.v-header-menu-sub__icon: sub_menu_08
                    | E-commerce

</template>

<script>
import VBtn from "@/components/controls/VBtn";
import VIcon from "@/components/VIcon";
import sub_menu_01 from '@/assets/icons/sub-menu-01.svg'
import sub_menu_02 from '@/assets/icons/sub-menu-02.svg'
import sub_menu_03 from '@/assets/icons/sub-menu-03.svg'
import sub_menu_04 from '@/assets/icons/sub-menu-04.svg'
import sub_menu_05 from '@/assets/icons/sub-menu-05.svg'
import sub_menu_06 from '@/assets/icons/sub-menu-06.svg'
import sub_menu_07 from '@/assets/icons/sub-menu-07.svg'
import sub_menu_08 from '@/assets/icons/sub-menu-08.svg'
import sub_arrow from '@/assets/icons/sub-arrow.svg'
import { mapGetters } from 'vuex'
export default {
    name: 'VHeaderSub',
    components: {
        VIcon,
        VBtn,
        sub_menu_01,
        sub_menu_02,
        sub_menu_03,
        sub_menu_04,
        sub_menu_05,
        sub_menu_06,
        sub_menu_07,
        sub_menu_08,
        sub_arrow
    },
    computed: {
        ...mapGetters({
            opportunities: 'services/opportunities',
            services: 'services/services',
            solutions: 'services/solutions'
        })
    },
}
</script>

<style lang="scss">
    .v-header-menu-sub {
        $border-radius: $glob-border-radius;
        $space-xs: $glob-space-xs;
        $light-red: $glob-color-light-red;
        $space-interval: $glob-space-interval;
        $space-text: $glob-space-text;
        $box-shadow: $glob-box-shadow;

        @include trans;

        &__container {
            border-radius: $border-radius;
        }
        &__wrapper {
            padding-top: $space-xs;
        }
        &__ref {
            display: flex;
            align-items: center;
            @include trans;
            &:hover {
                color: $light-red;
            }
        }

        &__ref:hover &__icon {
            fill: $light-red;
        }

        &__list {
            @include flex-container(column, $space-interval)
        }

        &__icon {
            width: 22px;
            height:22px;
            background:no-repeat center/cover;
            margin-right: 10px;
            fill: #C1CFDA;
            @include trans;
        }

        &__caption {
            @include h(3, $glob-color-light-grey);
            margin-bottom: $space-xs;
        }

        @include media($min: $glob-viewport-desktop-min) {
            padding-top: $space-interval;
            visibility: hidden;
            opacity: 0;
            z-index: 2;
            position: absolute;
            left: 0;
            top: 100%;
            &__wrapper {
                width: 270px;
            }
            &__container {
                box-shadow: $box-shadow;
                background-color: #ffffff;
                padding: 0 $space-xs $space-xs;
                grid-template-columns: 1fr 1fr;
                display: grid;
            }
        }

        @include media($max: $glob-viewport-desktop-min) {
            height: 0;
            overflow: hidden;
            opacity: 0;
            &__container {
                grid-template-columns: 1fr;
                padding: 0 0 $space-xs;
            }
        }
    }
</style>
