<template lang="pug">
    .v-header-menu
        ul.v-header-menu__links
            li.v-header-menu__links-item.active
                .v-header-menu__links-ref
                    | Возможности
                    v-icon.v-header-menu__links-arrow: sub_arrow
                v-header-sub
            template(v-if="menus !== null && !!menus.TOP_MENU")
                li.v-header-menu__links-item(v-for="item in menus.TOP_MENU.items" :key="item.id")
                    v-btn.v-header-menu__links-ref(  
                        v-if="item.url.indexOf('http') !== 0",
                        :to="item.url"
                        exact
                        type="linkOnlyHover"
                     ) {{ item.title }}
                    v-btn.v-header-menu__links-ref(
                        v-else
                        :href="item.url"
                        type="linkOnlyHover"
                    ) {{ item.title }}
                    
                    
               
            
        .v-header-menu__actions
            v-btn.v-header-menu__actions-btn(type="standart" label="Войти" )
            //v-btn.v-header-menu__actions-item(type="standart" label="Регистрация")
            v-reg-include(theme="inline").v-header-menu__actions-reg

            
        v-feedback.v-header-menu__feedback(v-if="settings && (settings.copyrights || settings.privacy_policy)", :phones="settings.phones")
            template(v-slot:socials v-if="settings && settings.socials && settings.socials.length")
                v-socials-min-wrapper(:socials="settings.socials")
            template(v-slot:license)
                p(v-if="settings.privacy_policy")
                    v-btn(type="linkOnlyHover",
                    :to="{ name: 'about-slug', params: { slug: settings.privacy_policy.slug } }"
                    ) {{ settings.privacy_policy.title }}
                p(v-if="settings.copyrights" v-html="settings.copyrights")
</template>

<script>
import VBtn from "@/components/controls/VBtn";
import VFeedback from "@/components/patterns/VFeedback";
import VIcon from "@/components/VIcon";
import sub_arrow from '@/assets/icons/sub-arrow.svg'
import VRegInclude from "@/components/forms/VRegInclude";
import VHeaderSub from "@/components/sections/VHeaderSub";
import { mapGetters } from 'vuex'

export default {
    name: 'VHeaderMenu',
    components: {
      
        VHeaderSub,
        VRegInclude,
        VIcon,
        VFeedback,
        VBtn,
        sub_arrow
    },
    computed: {
        ...mapGetters({
            menus: 'vars/menus',
            opportunities: 'services/opportunities',
            services: 'services/services',
            solutions: 'services/solutions',
            settings: 'vars/settings'
        })
    },
}
</script>

<style lang="scss">
    $tablet-max:    $glob-viewport-tablet-max;
    $tablet-medium: $glob-viewport-tablet-medium;
    $tablet-min:    $glob-viewport-tablet-min;
    $space-xs: $glob-space-xs;
    $space-text: $glob-space-text;
    $fs-small: $glob-fs-small;
    
    .v-header-menu {
        display: grid;
        align-items: center;
        column-gap: calc( #{$space-xs} + 2vw );
        justify-content: space-between;
        grid-template-columns: 1fr auto;
        
        &__actions {
            @include flex-container(row, $space-text);
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            font-size: $fs-small;
            &-reg {
                max-width: 390px;
                .v-reg-include__area {
                    //border: 1px solid #CACAD7;
                    //padding-right: 6px;
                }
                .v-reg-include__btn {
                    padding: 17px 15px;
                    font-size: $fs-small;
                    min-width: auto;
                    min-height: auto;
                }
                .v-reg-include__input {
                    //
                    height: 60px;
                }
            }
        }
        &__links {
            @include flex-container($space: 20px);
            margin-right: -20px;
            justify-content: space-evenly;
            align-items: center;
            height: 3em;
            font-size: $fs-small;
            &-ref {
                @include trans;
                display: flex;


            }
            &-item {
                $color: $glob-color-light-grey;
                @include h(5, $color);
                position: relative;
                cursor: default;
                &.active:hover {
                    color: $glob-color-dark-blue;
                    .v-header-menu-sub { visibility: visible; opacity: 1 }
                    .v-header-menu__links-arrow {
                        svg { transform: none }
                    }
                }
            }

            &-arrow {
                margin-left: 10px;
                svg { @include trans; transform: rotate(-180deg) }
            }

        }

        &__feedback { display: none }
        
        //@include media($max: $glob-viewport-desktop-min) {
        //    &__links { justify-content: flex-start }
        //}
        
        //@include media($max: $tablet-medium) {
        //    &__actions {
        //        $space: $glob-space-indent; margin-left: $space; flex-direction: column;
        //        &-item:not(:last-child) { margin: 0 0 5px 0 }
        //    }
        //}
        
        @include media($max: $glob-viewport-desktop-min) {
            $space-xs: $glob-space-xs;
            $space-text: $glob-space-text;
            $border-color: $glob-color-light-sky;

            border-top: 1px solid $border-color;
            padding-top: $space-xs;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            display: none;

            &__links {
                flex-direction: column;
                height: auto;
                align-items: flex-start;
                order: 1;
                &-item {
                    margin: 0 0 $space-xs;
                    flex-direction: column;

                    &.active:hover {
                        .v-header-menu-sub {
                            height: auto;
                        }
                    }
                }
            }
            &__actions {
                margin: 0 0 $space-text;
                flex-direction: column;
                order: 2;
                justify-content: flex-start;
                align-items: flex-start;
                &-btn {
                    margin: 0 -5px 10px;
                }
            }
            &__feedback { display: grid; order: 3 }
        }
    }
</style>
