<template lang="pug">
    header.v-header(:class="openMenuClass")
        overlay(:img="`${require('@/assets/img/bg-stars.png')}`" color="#F8FBFC" :reverse="true").v-header__bg
            v-container
                .v-header__wrapper
                    v-header-aside(@burger-listener="menuHandler")
                    v-header-menu
</template>

<script>
import VHeaderMenu from "@/components/sections/VHeaderMenu";
import VHeaderAside from "@/components/sections/VHeaderAside";
import Overlay from "@/components/patterns/Overlay";

export default {
    name: 'VHeader',
    components: {
        Overlay,
        VHeaderAside,
        VHeaderMenu,
    },
    data() { return {
        isMenuOpen: false,
    }},
    methods: {
        menuHandler() { return this.isMenuOpen = !this.isMenuOpen }
    },
    computed: {
        openMenuClass() { if (this.isMenuOpen) return "open-menu" }
    }
}
</script>

<style lang="scss">
    .v-header {
        $tablet-max:     $glob-viewport-tablet-max;
        $tablet-min:     $glob-viewport-tablet-min;
        $border-color:   $glob-color-light-sky;
        $padding-bottom: $glob-space-text;
        $padding-top:    $glob-space;
        
        //background: url(/upload/img/bg-stars.png) center/cover #F6F6F6;
        
        &__wrapper {
            z-index: 1;
            display: grid;
            grid-template-columns: 150px auto;
            align-items: center;
            column-gap: calc( 30px + 1vw );
            
        }

        @include media($min: $glob-viewport-desktop-min) {
            &__bg {
                padding-top: $padding-top;
                border-bottom: 1px solid $border-color;
            }

            &__wrapper {
                padding-bottom: $padding-bottom;
            }
        }
        
        @include media($max: $glob-viewport-desktop-min) {
            $bg: $glob-color-white;
            background: $bg;
            position: fixed;
            top: 0; left: 0; right: 0;
            z-index: 1000;
            &__wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
        
        &.open-menu {
            $bg: $glob-color-light;
            height: 100%;
            bottom: 0;
            background: $bg;
            overflow-y: auto;
            .v-header-menu { display: flex; @include fade-in }
        }
    }
</style>
