<template lang="pug">
    .v-header-aside
        
        .v-header-aside__logo
            nuxt-link(to="/"): img(src="@/assets/img/logo.png")
        v-burger.v-header-aside__burger(@is-clicked="throwAtHeader")
</template>

<script>
import VIcon from "@/components/VIcon";
import VBurger from "@/components/patterns/VBurger";

export default {
    name: 'VHeaderAside',
    props: ["zxc"],
    components: {
        VBurger,
        VIcon,
    },
    methods: {
        throwAtHeader() { this.$emit("burger-listener") }
    },
}
</script>

<style lang="scss">
    .v-header-aside {
        $tablet-max:    $glob-viewport-tablet-max;
        $tablet-min:    $glob-viewport-tablet-min;
        &__logo img { @include trans; width: 210px }
        &__burger { display: none }
        //@include media($max: $tablet-max) {
        //    &__logo {
        //        $space: $glob-space-md;
        //        padding-right: $space;
        //        img { width: 166px }
        //    }
        //}
        @include media($max: $glob-viewport-desktop-min) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__logo {
                padding: 25px 0;
                img { width: 130px  }
            }
            &__burger { display: flex }
        }
    }
</style>
