
// Кастомные заготовки

@mixin container {
    max-width: 1260px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $glob-space-indent;
    padding-right: $glob-space-indent;
    position: relative;
}

@mixin flex-container($axis: row, $space: $glob-space-indent) {
    display: flex;
    flex-direction: $axis;
    //align-items: center;
    & > *:not(:last-child) {
        @if $axis == row {
            margin-right: $space;
        } @else {
            margin-bottom: $space;
        }
    }
}

@mixin flex-centralize {
    display:         flex;
    align-items:     center;
    justify-content: center;
}

@mixin grid ($min:200px, $gap:$glob-space-xs, $fit: true) {
    display: grid;
    gap: $gap;
    
    @if ($min) {
        @if ($fit) {
            grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
        }
        @else {
            grid-template-columns: repeat(auto-fill, minmax($min, 1fr));
        }
    }    
}

//@mixin grid-gen() {
//    &[data-grid-count].length;
//}


@mixin list {
    // Списки ol, ul
    $space-external: $glob-space-xs;
    margin: $space-external 0;
    display: flex;
    flex-direction: column;
    li {
        &:not(:last-child) {
            margin-bottom: .5em;
        }
        list-style: none;
        display: flex;
        align-items: baseline;
        &:before {
            content: '';
            white-space: nowrap;
        }
    }
}

@mixin table-simple {
    tr {
        $color: #EEF4FB;
        border-bottom: 1px solid $color;
        &:last-child, &:first-child { border-bottom: none; }
    }
    td {
        $indent-x: $glob-space-indent;
        padding: $indent-x 0;
    }
}

@mixin table-bicolor {
    $bg: #EEF4FB;
    tr {
        &:nth-child(odd) { background-color: $bg }
        &:first-child, &:nth-child(2) { background-color: transparent; }
    }
    th, td {
        &:first-child {
            padding-left: 75px;
        }
    }
    th {
        padding-bottom: 20px;
        @include h(4);
    }
    td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include media($max: $glob-viewport-tablet-min) {
        th, td {
            &:first-child {
                padding-left: 20px;
            }
        }
    }
}

@mixin input-stylization ($child-selector: null) {
    // Может объеденеить с input-customizer ??
    @include passSelector($child-selector) {
        $indent-y: $glob-space-min;
        height: 70px;
        padding-top: #{$indent-y}px;
        padding-bottom: #{$indent-y}px;
        border-radius: 10px;
    }
}

@mixin input-text {
    // Дефолт для текстового инпута
    
    position: relative;
    cursor: text;
    display: flex;
    align-items: center;

    input {
        height: 100%;
        width:  100%;
        border: none;
        background-color: transparent;
        &:focus::placeholder {
            color: transparent;
        }
    }
}

@mixin input-customizer ($child-selector:null) {
    // длина, заливка инпутов и селекта
    @include input-stylization($child-selector);
    $root: &;
    &:not(#{$root}_long), #{$root}_short {
        @include passSelector($child-selector) {
            $indent-x: $glob-space-xs;
            padding-left:  #{$indent-x};
            padding-right: #{$indent-x};
        }
    }
    &_long {
        @include passSelector($child-selector) {
            $indent-x: $glob-space;
            padding-left: #{$indent-x};
            padding-right: #{$indent-x};
        }
    }
    &:not(#{$root}_filled) {
        @include passSelector($child-selector) {
            $bg: $glob-color-white;
            background: $bg;
            box-shadow: $glob-box-shadow;
        }
    }
    &_filled {
        @include passSelector($child-selector) {
            $bg: $glob-color-light-sky;
            background: $bg;
        }
    }
}

@mixin checker ($el: span, $size: 20, $indent: 20, $color: #000) {
    // Шаблон кастомного чекбокса | радио
    // @param $el     - Кастомизирующий элемент
    // @param $size   - Размер чекера
    // @param $indent - Отступ до текста;
    input {
        display: none;
        
        ~ #{$el} {
            position: relative;
            cursor: pointer;
            margin-left: #{$size}px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: calc(100% + #{$indent}px);
                transition: .15s ease-in;
            }
        }

        &[type="checkbox"] {
            & ~ #{$el}::before {
                @include checkmark;
                @include make-figure(#{$size}, transparent, 1px, currentColor, 4px);
            }
            &:checked ~ #{$el}::before {
                background-color: #{$color};
                border-color: #{$color};
            }
        }

        &[type="radio"] {
            & ~ #{$el}::before {
                @include make-figure(#{$size}, transparent, 1px, currentColor, 50%);
            }
            &:checked ~ span::before {
                border: 6px solid #{$color};
            }
            
        }
    }
}

@mixin checkmark {
    // Иконка галочки
    content: url("data:image/svg+xml;charset=UTF-8, 
                  <svg 
                  style='transform: scale(1.15, 1.2) translate(0, 0); fill: white;' 
                  xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 125' enable-background='new 0 0 100 100' xml:space='preserve'><path d='M80.467,28.54c-1.562-1.562-4.096-1.562-5.658,0L40.868,62.48L27.194,48.806c-1.562-1.562-4.095-1.562-5.657,0  c-1.562,1.562-1.562,4.095,0,5.657L38.04,70.966c0.781,0.781,1.805,1.172,2.829,1.172s2.047-0.391,2.829-1.172l36.77-36.769  C82.028,32.634,82.028,30.102,80.467,28.54z'/>
                  </svg>");
}

@mixin hexagon {
    content: url("data:image/svg+xml, 
    <svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 173.20508075688772 200'>
    <path 
    fill='rgb(243, 250, 253)'
     d='M77.94228634059948 4.999999999999999Q86.60254037844386 0 95.26279441628824 4.999999999999999L164.54482671904333 45Q173.20508075688772 50 173.20508075688772 60L173.20508075688772 140Q173.20508075688772 150 164.54482671904333 155L95.26279441628824 195Q86.60254037844386 200 77.94228634059948 195L8.660254037844387 155Q0 150 0 140L0 60Q0 50 8.660254037844387 45Z'></path>
    </svg>")
}

@mixin trans {
    transition: all .25s ease-out;
}

@mixin mark {
    position: relative;
    background-color: transparent;
    display: inline-block;
    padding-left: 1em;
    font-weight:bold;
    &:before {
        position: absolute;
        top: 0;
        transform: translateY(30%);
        left: 0;
        content: '';
        width: 2px;
        height: 1em;
        display: inline-block;
        background-color: $glob-color-light-red;
    }
}

@mixin underline {
    $color: #a02140;
    @include trans;
    transition-property: box-shadow;
    box-shadow: 0 7px 0 -6px #{$color + '30'};
    &:hover { box-shadow: 0 9px 0 -6px $color; }
}

@mixin abs-stretch {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

@mixin img-stretch {
    @include abs-stretch;
    height:100%;
    width:100%;
    object-fit:cover;
}

@mixin bg-default {
    background:no-repeat center/cover;
}

@mixin make-figure ($size, $color: currentColor, $border-size: null, $border-color: currentColor, $border-radius: 0) {
    // Создает квадратную/круглую область
    // @param $size   - Равная ширина и высота в пикселях.
    // @param $border-radius - Значение радиуса с размерностью
    
    width: 100%;
    height: 100%;
    
    max-width:  #{$size}px;
    max-height: #{$size}px;
    min-width:  #{$size}px;
    min-height: #{$size}px;
    
    background-color: $color;
    
    @if $border-size {
        border: $border-size $border-color solid;
        border-radius: $border-radius;
    }
}

@mixin hex-figure ($width, $height) {
    // Создает шестиугольник
    
    // переопределяемая размерность
    --hex-figure-width:  $width;
    --hex-figure-height: $height;

    // Механизм
    transform: scale(calc(
        0.005747 * var(--hex-figure-width)), calc(0.01 * var(--hex-figure-height) / 2)
    );
    width:  calc(1px * var(--hex-figure-width));
    height: calc(1px * (var(--hex-figure-height) - 2));
    
    svg {
        // Цвет от текущего color родителя
        fill: currentColor;
    }
    &_flow {
        // Выравнивание в потоке
        transform-origin: 0 0;
    }
    
    /* Сам шестиугольник
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" width="174" height="200" viewbox="0 0 174 200")
            path(d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q174 50 174 56L174 144Q174 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z") 
    */
}

@mixin vue-select-reset {
    .vs__selected, .vs__search::placeholder, .vs__dropdown-toggle, .vs__dropdown-menu,
    .vs__search, .vs__search:focus {
        border: none;
        border-radius: 0;
    }
    .vs__selected-options, .vs__selected, .vs__actions, .vs__dropdown-toggle,
    .vs__dropdown-menu, .vs__search, .vs__search:focus {
        padding: 0;
        margin: 0;
    }
    .vs__actions * {
        font-size: 0;
    }
    &.vs--single.vs--open .vs__selected {
        // placeholder при выпадахе
        position: relative;
        opacity: 1;
    }
    //&__dropdown-menu {}
    //&__search, &__search:focus {}
    //
    //&__search::placeholder,
    //&__dropdown-toggle,
    //&__dropdown-menu {}
}

@mixin hexagon-image {
    
}
