<template lang="pug">
section.tariff-calculator
  .tariff-calculator__container.container
    .tariff-calculator__header
      h1.h1
        .tariff-calculator__header__icon__wrap
          .tariff-calculator__header__icon(v-if="plan.image" :style="{backgroundImage: 'url(' + plan.image + ')'}")
        | Тариф&nbsp;
        span «{{ plan.title }}»
      .html-content(v-if="plan.content" v-html="plan.content")

  .tariff-calculator__periods
    .tariff-calculator__period(
      @click="setActivePeriod(period)"
      v-for="period in periods",
      :class="{'tariff-calculator__period-active': activePeriodOrFirst && activePeriodOrFirst.id === period.id}"
    )
      | {{ period.title }}
      span(v-if="period.discount") -{{ period.discount }}%

  .tariff-calculator__bottom
    .tariff-calculator__total
      .tariff-calculator__total_inner
        .tariff-calculator__total_header
          | Стоимость

        .tariff-calculator__price
          .tariff-calculator__price__discount
            span.span-text(v-if="activeRange && !activeRange.to_subscribers") от&nbsp;
            template(v-if="priceWithDiscount")
              | {{ intcomma(priceWithDiscount, true) }}&nbsp;
              span(v-html="ruble()")
              | &nbsp;
            template(v-else) Бесплатно&nbsp;

            span(v-if="priceWithDiscount !== price")
              .tariff-calculator__price__nodiscount
                span.span-text {{ price ? intcomma(price, true) : '' }}
                template(v-if="price")
                  | &nbsp;
                  span(v-html="ruble()")
              span.span-text / за {{ activePeriodOrFirst ? activePeriodOrFirst.title : '' }}

        .tariff-calculator__total__users(v-if="activeRange")
          span(v-if="activeRange.to_subscribers") {{ activeRange.from_subscribers | intcomma }} - {{ activeRange.to_subscribers | intcomma }}
          span(v-else) более {{ activeRange.from_subscribers | intcomma }}
          span &nbsp;подписчик{{ makeEnding(activeRange.to_subscribers, 'ов', 'а', '') }}

        .tariff-calculator__total__button
          button.button.button-upper.button-red.js-intercom-doUpdate.js-contact-sales(
            v-ripple="'rgba(0, 0, 0, 0.1)'"
            v-if="plan.is_individual"
          ) Отправить заявку

          button.button.button-upper.button-red(
            v-ripple="'rgba(0, 0, 0, 0.1)'"
            v-else-if="isAuthenticated"
            @click="openPlan(activeRange.app_url)"
          ) Выбрать тариф

          registration-form(
            v-else
            button-text="ЗАРЕГИСТРИРОВАТЬСЯ"
            form-class="registration-form--rates"
            input-class="input-white"
          )
      .tariff-calculator__total_info Стоимость указана без учета НДС

    .tariff-calculator__users
      .tariff-calculator__slider(v-if="slider.data && slider.data.length")
        
         v-range(ref="slider" v-model="sliderValue" v-bind="slider")

      table.tariff-calculator__table(v-if="compareTable && compareTable.length")
        thead
          tr
            td Подписчиков
            td Писем в месяц
            td Стоимость

        tbody
          tr(:class="{'is-active': activeRange && range.id === activeRange.id}" v-for="range in compareTable")
            td
              span(v-if="range.to_subscribers") {{ range.from_subscribers | intcomma  }} - {{ range.to_subscribers | intcomma  }}
              span(v-else) более {{ range.from_subscribers | intcomma }}
            td {{ range.month_message_count ? intcomma(range.month_message_count) : 'Неограниченно' }}
            td
              span.old(v-if="range.price !== range.priceWithDiscount")
                span(v-if="!range.to_subscribers") От&nbsp;
                | {{ range.price|intcomma }}&nbsp;
                span(v-html="ruble()")
              span
                template(v-if="range.priceWithDiscount")
                  span(v-if="!range.to_subscribers") От&nbsp;
                  | {{ range.priceWithDiscount|intcomma }}&nbsp;
                  span(v-html="ruble()")
                template(v-else) Бесплатно

  modal(v-if="showPopupModal && popupPlan" @close="closePlanPopup()")
    div(slot="header")
      h3.h3(v-if="popupPlan && popupPlan.individual_modal_title") {{ popupPlan.individual_modal_title }}
      .html-content(
      v-if="popupPlan && popupPlan.individual_modal_content"
      v-html="popupPlan.individual_modal_content"
      )

    div(slot="body")
      plan-form(:plan="popupPlan" @submitted="closePlanPopup()")
</template>

<script>
    import VRange from "@/components/elements/VRange";
import { makeEnding } from '@/utils/text'
import { intcomma } from '@/filters'
import { mapGetters } from 'vuex'
import { execMetrikaMethod } from '@/utils/metrika'
import eventHub from '@/utils/eventHub'
import ruble from '@/utils/ruble'

export default {
  name: 'tariff-calculator',

  components: { VRange },

  computed: {
    activePeriodOrFirst () {
      if (!this.activePeriod) {
        return this.periods && this.periods.length ? this.periods[0] : null
      }
      return this.activePeriod
    },
    activeRange () {
      if (!this.subscribersRanges || !this.subscribersRanges.length) {
        return null
      }

      let range = this.subscribersRanges[0]
      if (this.sliderValue) {
        this.subscribersRanges.forEach(r => {
          if (this.sliderValue >= r.from_subscribers && (!r.to_subscribers || this.sliderValue <= r.to_subscribers)) {
            range = r
          }
        })
      }
      return range
    },
    compareTable () {
      if (!this.sliderValue || !this.subscribersRanges || !this.subscribersRanges.length) {
        return []
      }

      let result = []
      for (let i = 0; i < this.subscribersRanges.length; i++) {
        let r = this.subscribersRanges[i]
        if (this.sliderValue >= r.from_subscribers && this.sliderValue <= r.to_subscribers) {
          if (i > 0) {
            result.push(Object.assign({}, this.subscribersRanges[i - 1]))
          }
          result.push(Object.assign({}, r))
          if (i < this.subscribersRanges.length - 1) {
            result.push(Object.assign({}, this.subscribersRanges[i + 1]))
          }
        }
      }

      result.map(r => {
        r.priceWithDiscount = this.getPrice(r, true)
        r.price = this.getPrice(r, false)
      })

      return result
    },
    plan () {
      if (this.activeRange) {
        let plan = this.plans.filter(p => p.id === this.activeRange.plan_id)
        if (plan && plan.length) {
          return plan[0]
        }
      }
      return this.plans[0]
    },
    price () {
      this.getPrice(this.activeRange, false)
    },
    priceWithDiscount () {
      return this.getPrice(this.activeRange, true)
    },
    ...mapGetters(['isAuthenticated'])
  },

  data () {
    return {
      activePeriod: null,
      popupPlan: null,
      showPopupModal: false,
      slider: {
        data: [],
        width: '100%',
        height: 10,
        dotSize: 30,
        disabled: false,
        show: true,
        useKeyboard: true,
        tooltip: 'always',
        tooltipDir: 'bottom',
        style: {
          'marginBottom': '30px'
        },
        bgStyle: {
          backgroundColor: '#f0f4f6'
        },
        tooltipStyle: {
          backgroundColor: 'transparent',
          borderColor: 'transparent',
          color: '#b5224c',
          fontFamily: 'Roboto',
          fontSize: 18,
          fontWeight: 700
        },
        processStyle: {
          backgroundColor: '#801b44'
        },
        sliderStyle: {
          backgroundColor: '#b5224c'
        },
        focusStyle: {
          boxShadow: 'none'
        }
      },
      sliderValue: 1
    }
  },

  filters: { intcomma },

  methods: {
    closePlanPopup () {
      this.popupPlan = null
      this.showPopupModal = false
    },

    getPrice (range, includeDiscount) {
      let period = this.activePeriodOrFirst
      if (!period || !range) {
        return ''
      }
      if (!range.price || isNaN(range.price)) {
        return ''
      }

      let price = range.price * (period.months || 1)
      if (includeDiscount) {
        return price * (100 - (period.discount || 0)) / 100
      }
      return price
    },

    intcomma,
    makeEnding,

    openPlan (url) {
      if (process.browser) {
        if (this.isAuthenticated) {
          window.location.href = url
        } else {
          window.scrollTo(0, 0)
          eventHub.$emit('blinkRegisterForm')
        }
      }
    },

    ruble,

    setActivePeriod (period) {
      this.activePeriod = period
    },

    showPlanPopup (plan) {
      if (plan.is_individual) {
        this.popupPlan = plan
        this.showPopupModal = true
        execMetrikaMethod('reachGoal', ['open-lead-form'])
      }
    },

    updateURL () {
      // let query = {
      //   value: this.sliderValue
      // }
      // if (this.activePeriod) {
      //   query.period = this.activePeriod.id
      // }
      // this.$router.replace({ query })
    }
  },

  mounted () {
    if (this.subscribersRanges && this.subscribersRanges.length) {
      this.sliderValue = this.subscribersRanges[0].from_subscribers
      this.slider.data.push(this.sliderValue)
      this.subscribersRanges.forEach(s => {
        if (s.to_subscribers) {
          let avg = s.from_subscribers + Math.round((s.to_subscribers - s.from_subscribers) / 2)
          avg = Math.round(avg / 100) * 100
          this.slider.data.push(avg)
          this.slider.data.push(s.to_subscribers)
        }
      })

      if (this.$route.query.value) {
        let value = parseInt(this.$route.query.value)
        if (!isNaN(value) && this.slider.data.indexOf(value) >= 0) {
          this.sliderValue = value
        }
      }

      if (this.$route.query.period) {
        let period = parseInt(this.$route.query.period)
        if (!isNaN(period)) {
          period = this.periods.filter(p => p.id === period)
          this.activePeriod = period && period.length ? period[0] : null
        }
      }
    }
  },

  props: {
    periods: {
      type: Array,
      required: false,
      default: () => []
    },
    plans: {
      type: Array,
      required: false,
      default: () => []
    },
    subscribersRanges: {
      type: Array,
      required: false,
      default: () => []
    }
  },

  watch: {
    activePeriod () {
      this.updateURL()
    },
    sliderValue () {
      this.updateURL()
    }
  }
}
</script>
