.tariff-calculator
    margin-bottom 78px
    +below(800px)
        overflow hidden
        padding 0 20px

.tariff-calculator__header
    margin-bottom 32px
    .h1
        box horizontal middle center
        margin-bottom 24px
        color #394455
        font-size 38px
        font-weight 700
        line-height 70px
        +below(768px)
            font-size 25px
            line-height 60px
        span
            color #b82059
    p
        color #8b99b4
        font-size 16px
        line-height 24px
        text-align center
        +below(768px)
            font-size 14px
            line-height 20px

.tariff-calculator__header__icon__wrap
    position relative
    width 72px
    height 37px
    margin-right 5px
    background-image url('/static/images/icons/icon-tariff-bg.svg')
    background-size cover
    background-repeat no-repeat
    background-position center center

.tariff-calculator__header__icon
    position absolute
    top center
    left center
    z-index 10
    background-size cover
    background-repeat no-repeat
    size 35px
    background-position center center

.tariff-calculator__periods
    box horizotal middle center
    margin-bottom 41px

.tariff-calculator__period
    box horizontal middle center
    position relative
    width 160px
    height 42px
    margin-right -1px
    border 1px solid #b5224c
    color #b82059
    font-size 18px
    line-height 18px
    cursor pointer
    +below(768px)
        width 100px
        font-size 14px
        line-height 14px
    span
        display block
        margin-top 3px
        margin-left 7px
        padding 5px 4px
        background-color #b82059
        border-radius 3px
        color #fff
        font-size 11px
        line-height 11px
        +below(768px)
            position absolute
            top -6px
            right 0
            background-color transparent
            color #b82059
    &:first-child
        border-radius 3px 0 0 3px
    &:last-child
        border-radius 0 3px 3px 0

.tariff-calculator__period-active
    background-color #b82059
    color #fff
    span
        background-color #fff
        color #b5224c
        +below(768px)
            background-color transparent
            color #fff

.tariff-calculator__bottom
    box horizontal
    width 100%
    max-width 775px
    margin 0 auto
    +below(800px)
        box vertical

.tariff-calculator__total
    margin-right 50px
    +below(800px)
        margin-right 0
        margin-bottom 20px

.tariff-calculator__total_inner
    padding 24px 18px 17px
    border 1px solid #adb8cc
    border-radius 5px

.tariff-calculator__total_info
    text-align center
    margin-top 8px
    color $lightTextColor

.tariff-calculator__total_header
    margin-bottom 28px
    color #99a6bf
    font-size 17px
    font-weight 700
    line-height 24px

.tariff-calculator__price__discount
    box horizontal bottom
    width 296px
    margin-bottom 10px
    color #26314a
    font-size 30px
    font-weight 700
    line-height 30px

    .span-text
        position relative
        font-size 15px
        line-height 22px

.tariff-calculator__price__nodiscount
    position absolute
    top -20px
    left 10px
    color #b82059
    font-size 14px
    line-height 24px
    white-space nowrap

    span
        text-decoration line-through

.tariff-calculator__total__users
    margin-bottom 30px
    color #99a6bf
    font-size 14px
    line-height 24px
    span
        font-size 12px

.tariff-calculator__total__button
    .button
        line-height 42px
        width 100%

.tariff-calculator__users
    width 100%

.tariff-calculator__table
    width 100%
    thead
        tr
            border-bottom 1px solid #d6dde7
        td
            padding 8px 13px
            color #99a6bf
            font-size 12px
            font-weight 700
            line-height 12px
            text-align center
            +below(600px)
                padding 8px 5px
            &:first-child
                text-align left
            &:last-child
                text-align right
    tbody
        tr
            border-bottom 1px solid #e2e9f2

            &:last-child
                border-bottom 1px solid transparent

            &.is-active
                background-color #f1f8ff

        td
            position relative
            padding 12px 13px
            color #26314a
            font-size 14px
            line-height 14px
            text-align center
            +below(600px)
                padding 12px 5px

            &:first-child
                text-align left

            &:last-child
                text-align right

            .old
                position absolute
                top -4px
                color #b82059
                font-size 11px
                line-height 24px
                text-decoration line-through
                white-space nowrap
