<template lang="pug">
    blocks(:blocks="blocks")
    
    
    
       
   
    
</template>

<script>


import Blocks from "@/components/blocks";
import lodash_cloneDeep from 'lodash/cloneDeep'

export default {
    components: {
        Blocks


    },

    name: "test", 
    data() {
        return {}
    },
    async asyncData({ $axios }) {
        const {blocks} = await $axios.$get('services/opportunities/test/')
        let findIndex =-1;
        findIndex = blocks.findIndex(item=>item.type==='promotext')
        if(findIndex!==-1) {
            let findblock = lodash_cloneDeep(blocks[findIndex])
            findblock.title='Вариант в контейнере с контентом по нижниму краю';
            findblock.inContainer=true;
            findblock.contentBottom=true;
            findblock.reg_button_text="Мега текст";
            blocks.splice(findIndex+1, 0, findblock)
        }
        
        findIndex = blocks.findIndex(item=>item.type==='toggleslider')
        if(findIndex!==-1) {
            let findblock = lodash_cloneDeep(blocks[findIndex])
            findblock.reverse=true
            blocks.splice(findIndex+1, 0, findblock)
        }
        
        findIndex = blocks.findIndex(item=>item.type==='indicator')
        if(findIndex!==-1) {
            let findblock = blocks[findIndex]
            blocks[findIndex].indicators[0].image = '/upload/img/statistic-bg-01.png'
           
        }
        
        findIndex = blocks.findIndex(item=>item.type==='opportunityteaser')
        if(findIndex!==-1) {
            let findblock = blocks[findIndex]
            blocks[findIndex].bg='/upload/img/abilities-bg.jpg'
            blocks[findIndex].opportunity_teasers[0].button_url="https://yandex.ru"
         
        }
        
        
        findIndex = blocks.findIndex(item=>item.type==='register')
        if(findIndex!==-1) {
            let findblock = blocks[findIndex]
            blocks[findIndex].image='/upload/img/try-free-01.png'
          
         
        }
        
        
     
        return { blocks }
    }
}
</script>

<style lang="scss">



</style>
