<template lang="pug">
section.tariff-feature
  .tariff-feature__container.container
    .tariff-feature__header
      h2.h2(v-if="title" v-html="title")
      .html-content(v-if="content" v-html="content")
    .tariff-feature__table_wrapper
      table.tariff-feature__table
        template(v-for="(group, index) in featuresComparison")
          thead
            tr
              td
                .tariff-feature__table__header__icon(:style="{backgroundImage: 'url(' + group.image + ')'}")
                  | {{ group.title }}
              td(v-for="plan in plans", :key="plan.id")
                template(v-if="index === 0")
                  p
                    | Тариф
                    em  «{{ plan.title }}»
                  span(v-if="plan.short_description" v-html="plan.short_description")

          tbody
            tr(v-for="feature in group.features" :key="feature.id")
              td {{ feature.title }}
              td(v-for="plan in plans", :key="plan.id")
                .tariff-feature__table__icon(:class="{'tariff-feature__table__icon-active': feature.plans[plan.id]}")
</template>

<script>
export default {
  name: 'tariff-feature',

  props: {
    content: {
      required: false,
      type: [String, null]
    },
    featuresComparison: {
      required: false,
      default: () => [],
      type: Array
    },
    plans: {
      required: false,
      default: () => [],
      type: Array
    },
    title: {
      required: false,
      type: [String, null]
    }
  }
}
</script>
