.tariff-feature
    margin-bottom 100px
    padding 0 50px
    background-color #fff
    +below(768px)
        padding 0 20px

.tariff-feature__header
    box vertical top center
    margin-bottom 10px

    .h2
        margin-bottom 22px
        color #394455
        font-size 39px
        font-weight 700
        line-height 36px
        text-align center
        +below(768px)
            font-size 29px
            line-height 33px

    p
        max-width 850px
        color #8b99b4
        font-size 16px
        line-height 26px
        text-align center
        +below(768px)
            font-size 14px
            line-height 22px

.tariff-feature__table_wrapper
    overflow-x auto

.tariff-feature__table
    width 100%
    margin-bottom 25px
    thead
        td
            vertical-align middle
            padding 47px 9px 12px
            color #394455
            font-size 16px
            font-weight 500
            line-height 24px
            text-align center
            +below(375px)
                padding 47px 5px 12px
            &:first-child
                text-align left
            p
                margin-bottom 5px
                color #394455
                font-size 16px
                font-weight 500
                line-height 21px
                em
                    color #b82059
            span
                display block
                color #8b99b4
                font-size 10px
                line-height 12px
    tbody
        tr
            &:last-child
                border-bottom 1px solid transparent
            &:nth-child(odd)
                background-color #f1f8ff
        td
            position relative
            vertical-align middle
            padding 16px 37px
            color #394455
            font-size 13px
            line-height 13px
            text-align center
            +below(768px)
                padding 16px 20px
            &:first-child
                text-align left

.tariff-feature__table__header__icon
    display inline-block
    padding-left 30px
    background-repeat no-repeat
    line-height 24px
    background-position left center

.tariff-feature__table__icon
    display inline-block
    background-image url('/static/images/icons/icon-check-round.png')
    background-repeat no-repeat
    line-height 18px
    size 18px
    background-position center center

.tariff-feature__table__icon-active
    background-image url('/static/images/icons/icon-check-round-active.png')

.tariff-feature__footer
    box horizonta middle center
