<template lang="pug">
transition-group(tag="div")
  component(:is="block.vueComponentName", :block="block" v-for="block in blocksVueNames", :key="`${block.type}-${block.id}`")
  
</template>



<script>
import { mapGetters } from 'vuex'
import RegistrarionForm from "@/components/forms/RegistrarionForm";
import SubscribeForm from "@/components/forms/SubscribeForm";


const schemaApiNameToVueName = {
    promotext:'VRegBanner',
    promoimage:'VFirstScreen',
    slider:'VContentSlider',
    toggleslider:'EqualPartsTriggers',
    opportunityteaser:'VAbilities',
    //servicefeature:'VChessConstructor',
    servicefeature:'VChessContent',
    collaborator:'VContentPerson',
    indicator:'VStatistic',
    faq:'VQuestions',
    timeline:'VIncludeConstructor',
    customer:'ClientListLogos',
    medianews:'VMediaNews',
    mediavideo:'VMediaVideo',
    register:'RegistrarionForm',
  
}



export default {

    components: {
        SubscribeForm,
        RegistrarionForm},
    name: 'blocks',

  computed: {
    //...mapGetters(['isAuthenticated'])
      blocksVueNames(){
          
         
          if(this.promoBlock) this.blocks.unshift(this.promoBlock)
        return this.blocks?.map(block=>{
            block.vueComponentName = schemaApiNameToVueName[block.type]
            return block
        }).filter(block=>block.vueComponentName) || []
      }
  },
    methods:{
        componentName(){

        }  
    },
  props: {
    blocks: {
      default:()=>([]),
      type: Array
    },

    promoBlock: {
      required: false,
      default: null,
      type: [Object, null]
    }
  }
}
</script>
