<template lang="pug">
    section.blog-post
        h1 {{nameField}}
</template>

<script>
export default {
    name: "blog-post", 
    data() {
        return {
            title:'title text',
            name:'name text',
        }
    },
    computed:{
        getKey(){
            return this[this.nameField]
        }    
    },
    props:{
        nameField:{
            type:String,
            default:''
        }
    }
}
</script>

<style lang="scss">
    .blog-post{}
</style>
