<template lang="pug">
    section.blog-post-demo
        blog-post(:nameField="'title'")
       
</template>

<script>
import BlogPost from "@/components/blogPost";

export default {
    components: {BlogPost},
    name: "blog-post-demo", 
    data() {
        return {
            name:'title',
            posts: [
                { id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' }
            ]
        }
    },   
}
</script>

<style lang="scss">
    .blog-post-demo{}
</style>
