<template lang="pug">
    tags-style
        h1
            | H1 Заголовок 
            br
            |  с переносом строки
        p
            | параграф параграф 
            strong жирненький текст
            |  параграф параграф 
            i курсив текст
            =' '
            a(href='#') ссылка
            =' '
            |  параграф
            small small text
            |                     параграф параграф параграф параграф параграф параграф параграф параграф
        h2
            | H2 Заголовок 
            br
            |  с переносом строки
            small small text
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        h3
            | H3 Заголовок 
            br
            |  с переносом строки
            small small text
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        h4
            | H4 Заголовок 
            br
            |  с переносом строки
            small small text
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        h5
            | H5 Заголовок 
            br
            |  с переносом строки
            small small text
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        h6
            | H6 Заголовок 
            br
            |  с переносом строки
            small small text
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        p
            img(src="@/assets/img/test1.jpg", alt='Картинка')
        p
            img(src="@/assets/img/test2.jpg", alt='Картинка')
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        hr
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        ol
            li ol li
            li
                | ol li пункт списка 
                br
                |  c переносом строки
            li ol li
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        ul
            li ul li
            li
                | ol li пункт списка 
                br
                |  c переносом строки
            li ul li
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        p
        blockquote
            | <blockquote>Блочная цитата Блочная цитата Блочная цитата Блочная цитата Блочная
            | цитата Блочная цитата Блочная цитата Блочная цитата</blockquote>
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        table
            thead
                tr
                    th th
                    th th
                    th th
            tbody
                tr
                    td td
                    td td
                    td td
                tr
                    td td
                    td td
                    td td
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф

        h1 Показать растояние между двумя заголовками если оно не стандартное
        h2 H2 Заголовок
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        h2 H2 Заголовок
        h3 H3 Заголовок
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        h2 H2 Заголовок
        h4 H4 Заголовок
        p
            | параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
        textarea параграф параграф параграф параграф параграф параграф параграф параграф параграф параграф
                
                 

</template>
<script>
import TagsStyle from '@/components/TagsStyle'

export default {
    components: {
        TagsStyle,
    },
    created() {},
}
</script>

<style lang="scss"></style>
