<template lang="pug">
    .two-columns(:class="rootClass")
        div
            slot(name="left")
        div.two-columns__right
            slot(name="right")
</template>

<script>
    export default {
        components: {
          
        },
        props: {
            reverse: { type: Boolean, default: false },
            isTrigger:{
                type:Boolean,
                default:false,
            },
           
            block: {
                type: Object,
                default:()=>({})
            },
           
        },
        computed: {
            rootClass() {
                return this.reverse ? '_reverse' : ''
            }
        }
    }
</script>

<style lang="scss">
    .two-columns {
        $tablet-min:     $glob-viewport-tablet-min;
        $space-interval: $glob-space-interval;
        $space-xs:       $glob-space-xs;
        $sky:            $glob-color-sky;
        $border-radius:  $glob-border-radius;

        gap: 40px;
        
        display:grid;

        justify-content: space-between;
        align-items:center;
        
        img {
            @include img;
            
        }
        
        @include media($min: $tablet-min) {
            margin-bottom: 140px;
            &._reverse  {
                grid-template-columns: 1fr minmax(300px, 1fr);
                
            }
            &._reverse &__right {
                order:-1;
            }
                grid-template-columns: minmax(300px, 1fr) 1fr;
              
         
        }
      

     
    }
</style>


