<template>
    <div>
        <div :alt="text">
       
            <ul>
                <li>
                    {{backMsg}}
                </li>
                <li>
                    {{textV}}
                </li>
                <li>
                    {{post}}
                </li>
               
     
                <slot></slot>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "VBtnTest", 
    data() {
        return {
            text: 'textqwe',
            post: 'cxbvxcb'
        }
    },
    props: {
        msg: {
            type: String,
        },
        argsv: {
            type: Array,
        },
        textV: {
            type: String,
            default:'1234567'
        }
    },
    computed: {
       
        backMsg() {
           
            return this.textV +' '+ this.post
        }
    }
}
</script>

<style lang="scss">
    
</style>
