<template lang="pug">
    span.v-icon(v-on="inputListeners" hidden  :class="nameInit")
        slot
</template>

<script>
export default {
    name: 'VIcon',
    props: {
        name:{
            type:String,
            default:''
        }
    },
    data() {
        return {}
    },
    computed: {
        inputListeners() {
            const vm = this
            // `Object.assign` объединяет объекты вместе, чтобы получить новый объект
            return Object.assign(
                {},
                // Мы добавляем все слушатели из родителя
                this.$listeners
                // Затем мы можем добавить собственные слушатели или
                // перезаписать поведение некоторых существующих.
            )
        },
        nameInit() {
            if (this.name) return `v-icon-${this.name}`
        }
    },
}
</script>

<style lang="scss">
.v-icon {
    &[hidden] {
        display: inline-block;
    }

    &__svg {
        fill: inherit;
        width: 100%;
        height: auto;
        max-height: 100%;
        display: block;
    }

    vertical-align: middle;
}
</style>
