<template lang="pug">
    //ul.v-social
        li.v-social__item
            a.v-social__link(href="//facebook.com")
                inst
        li.v-social__item
            a.v-social__link(href="//facebook.com")
                b-l-o-g
        li.v-social__item
            a.v-social__link(href="//vk.com")
                v-k
        li.v-social__item
            a.v-social__link(href="//vk.com")
                v-k
</template>

<script>
//import Inst from '@/assets/icons/socials/Inst.svg'
//import BLOG from '@/assets/icons/socials/BLOG.svg'
//import VK from '@/assets/icons/socials/VK.svg'
//import OK from '@/assets/icons/socials/OK.svg'
//import FA from '@/assets/icons/socials/FA.svg'
export default {
    name: 'VSocial',
    components: {
        //Inst,
        //BLOG,
        //FA,
        //OK,
        //VK,
    },
    data() {
        return {}
    },
}
</script>

<style lang="scss">
.v-social {
    @include listClear;
    display: flex;
    justify-content: center;
    margin: -0.2em;
    &__item {
        padding: 0 0.2em;
    }
    &__link {
        display: flex;
        width: jspx(40);
        height: jspx(40);
        border-radius: 50%;
        background-color: $glob-color-error;

        align-items: center;
        justify-content: center;

        padding: 0.7em;

        svg {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            background-color: currentColor;
            svg,
            path {
                fill: jscolor(light);
            }
        }
    }
}
</style>
