<template lang="pug">

        .slider-swiper-control(hidden :class="rootClass")
            //.slider-swiper-control__arrow.slider-swiper__arrow.slider-swiper__prev(:class="classPrefix+'__arrow_prev'")
                arrow
                
            .swiper-pagination.swiper-pagination-bullets(:class="classPrefix+'__paginator'")
                
            //.slider-swiper-control__arrow.slider-swiper__arrow.slider-swiper__next(:class="classPrefix+'__arrow_next'")
                arrow
</template>

<script>
import arrow from '@/assets/icons/other/arrow.svg'
export default {
    name: 'SliderSwiperControl',
    components: {
        arrow
    },
    props: {
        vertical: {
            type: Boolean,
            default: false
        },
        classPrefix: {
            type: String,
            default: ''
        },
        options: {
            type: Object,
            default: () => ({})
        }
    },
    computed: {
        rootClass() {
            let obj = {}
            
            let direction=!this.vertical?'swiper-container-horizontal':'swiper-container-vertical'
            obj[direction]=true
            
            return obj
        },
    }
}
</script>

<style lang="scss">
.slider-swiper-control {
    $el: '.slider-swiper-control';
    //$color-bullet:$glob-color-error;
    //$color-bullet-light:$glob-color-light-blue;

   


    display: block;
    text-align: center;
    margin-top: 2em;

    position: relative;
    z-index: 1;

    .slider-swiper-control__arrow {
        padding: 1em;
        cursor: pointer;
    }

    
    
    &.swiper-container-horizontal .swiper-pagination {
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-pagination-bullet-active {
        &:before {
            opacity: 1 !important;
        }
    }
    .swiper-pagination-bullet {
        transform: scale(1) !important;
        opacity: 1 !important;
        $color: $glob-color-light-red;

        @include make-figure(16, transparent, 2px, $color, 50px);

        position: relative;
        &:before {
            @include make-figure(8, $color, 0, $color, 50px);
            @include trans;
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    .swiper-pagination {
        position: relative;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        
        display: inline-block;

        flex: 0 1;
        white-space: nowrap;

        .swiper-pagination-bullet:only-child {
            display:none;
        }
        
        &:not(.swiper-pagination-bullets){display:none}
    }
    &.swiper-container-vertical .swiper-pagination {position: absolute;}
    &.swiper-container-horizontal .swiper-pagination {
        bottom: 0 !important;
        
    }
    &.swiper-container-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 0;
        transform: none;
    }

    &.swiper-container-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
        .swiper-pagination-bullet {
        transition: 200ms transform, 200ms left, 200ms -webkit-transform;
    }
    &.swiper-container-horizontal
        > .swiper-pagination-bullets
        .swiper-pagination-bullet {
        margin: 0 5px;
    }

    .slider-swiper__arrow {
        svg {
            @include trans;
            display: block;
        }
        &:hover svg {
            //opacity: 1;
        }
    }

    .swiper-pagination-bullet {
        //background: $color-bullet;
    }

    &_light {
        .swiper-pagination-bullet-active {
        }
        .swiper-pagination-bullet {
            //background: $color-bullet-light;
        }
        #{$el}__arrow {
            //fill: $color-bullet-light;
        }
    }
}
</style>
