<template lang="pug">
    
        swiper(:options="swiperOption" v-if="swiperShow" v-resize @resize="onResize" ref="mySwiper", @slideChange="slideChange").slider-swiper
            swiper-slide( v-for="(link,index) in $slots.default", :key="index").slider-swiper__slide: v-node(:node="link")
        div(v-else v-resize @resize="onResize").swiper-ssr
            v-node(:node="link" v-for="(link,index) in $slots.default" :key="index")
     
      
</template>

<script>
import SwiperCore,{Swiper as SwiperClass, Pagination, Navigation, Mousewheel, Autoplay,EffectCube} from 'swiper/swiper.esm'
import getAwesomeSwiper from 'vue-awesome-swiper/dist/exporter'
import 'swiper/swiper-bundle.min.css'
SwiperClass.use([Pagination, Mousewheel, Navigation, Autoplay])
SwiperCore.use([EffectCube])
const {Swiper, SwiperSlide} = getAwesomeSwiper(SwiperClass)


import debounce from 'lodash/debounce'

import VNode from '@/components/VNode.vue'
    
    import viewports from '@/config/viewports'

export default {
    name: 'SliderSwiper',
    components: {
        VNode,
        Swiper,
        SwiperSlide
    },
    data:() => ({
        width:null,
        viewportTabletMin:null,
        viewports
    }),
    props: {
        options: {
            type: Object,
            default: {},
        },
        classPrefix: {
            type: String,
            default: ''
        },
        sliderOnMaxViewportName: {
            type: String,
            default: ''
        },
        sliderOnMaxWidth: {
            type: Number,
            default: null
        }
    },
    watch:{
        swiperShow(val){
            this.$emit('show',val)    
        }
    },
    computed: {
        swiperShow(){
            if(this.sliderOnMaxViewportName) return this.width<parseInt(this.viewports[this.sliderOnMaxViewportName])
            if(this.sliderOnMaxWidth) return this.width<this.sliderOnMaxWidth
            return true   
        },
       
        swiperOption() {
            return {
                
                //slidesPerView: 'auto',
                spaceBetween: 30,
                pagination: {
                    el: '.' + this.classPrefix + '__paginator',
                    type: 'bullets',
                    clickable: true,
                    dynamicBullets: false
                },
                //navigation: {
                //    nextEl:
                //        '.' + this.testClass + '__arrow-next',
                //    prevEl: '.' + this.testClass + '__arrow-prev'
                //},
               
                ...this.options
            }
        }
    },
    methods:{
       
        slideChange({activeIndex}){
            this.$emit('activeIndex',activeIndex)
        },
        debounceResize:debounce(function handler(e) {
          
            this.onResize(e)
        },500),
        
        onResize(e) {
        
            let width = e?.detail?.width
            if (width) {
                this.width = width;
               
                
            }
        },
     
    },
    mounted(){
        this.$emit('activeIndex',0)
    }
}
</script>

<style lang="scss">
.slider-swiper {
    //$color-buller:$glob-color-error;
    
    
    
    &.swiper-container-initialized {
        display:block;
    }
    
    &__slide {
        box-sizing: border-box;
    }

 /*   &__list {
        @include listClear;
    }

    &__control {
        display: flex;
        align-items: center;
        .swiper-pagination-bullet-active {
            //background: $color-buller;
        }
        .swiper-pagination-bullet {
            transform: scale(1) !important;
            $color: $glob-color-light-red;

            @include make-figure(16, transparent, 2px, $color, 50px);

            //display: flex;
            //align-items: center;
            //justify-content: center;
            //cursor: pointer;
        }
        .swiper-pagination {
            position: relative;
            width: auto;
            margin-right: 20px;
            margin-left: 20px;
            bottom: 0 !important;
            display: inline-block;

            flex: 0 1;
            white-space: nowrap;
        }
        &.swiper-container-horizontal
            > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
            left: 0;
            transform: none;
        }

        &.swiper-container-horizontal
            > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
            .swiper-pagination-bullet {
            transition: 200ms transform, 200ms left, 200ms -webkit-transform;
        }
        &.swiper-container-horizontal
            > .swiper-pagination-bullets
            .swiper-pagination-bullet {
            margin: 0 4px;
        }

        .slider-swiper__arrow {
            svg {
                display: block;
                opacity: 0.2;
            }
        }
    }*/
}
</style>
