<template lang="pug">
    div.top-contents(:class="{'_text-left':textLeft}")
        component.h1(:is="titleTag" v-if="title") {{title}}
        tags-style(v-if="content" v-html="content")
</template>

<script>
export default {
    name: "top-contents", 
    data() {
        return {}
    },
    props: {
        textLeft: {
            required: false,
            type: Boolean,
            default:false
        },
        title: {
            required: false,
            type: String,
            default:''
        },
        content: {
            required: false,
            type: String,
            default:''
        },
        titleTag: {
            required: false,
            type: String,
            default:'h2'
        },
    }
}
</script>

<style lang="scss">
    .top-contents{
        text-align:center;
        &._text-left {
            text-align:left;
        }
    }
</style>
