<template lang="pug">
    .v-dot-tabs-wrapper: slot
</template>

<script>
export default {
    name: "VDotTabsWrapper",
}
</script>

<style lang="scss">
    .v-dot-tabs-wrapper {
        $space: $glob-space-min;
        @include flex-container($space: $space);
    }
</style>
