<template lang="pug">
    .v-dot-tab(:class="toggleClass" @click="toggleActive"): .v-dot-tab__activated
</template>

<script>
    export default {
        name: "VDotTab",
        props: {
            active: { type: Boolean, default: false },
        },
        methods: {
            toggleActive() { this.active = !this.active; },
        },
        computed: {
            toggleClass() { return this.active ? "active" : "" },
        }
    }
</script>

<style lang="scss">
    .v-dot-tab {
        $color: $glob-color-light-red;
        
        @include make-figure(16, transparent, 2px, $color, 50px);
        
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        &__activated {
            @include make-figure(8, $color, 0, $color, 50px);
            @include trans;
            
            opacity: 0
        } &.active &__activated {
            opacity: 1
        }
    }
</style>
