<template lang="pug">
    .v-hex-figure
        svg.v-hex-figure__svg(v-bind="defaultAttr"): path(:d="initFigure(radius, radiusList)")
        .v-hex-figure__content: slot
</template>
    
<script>
export default {
    name: 'VHexFigure',
    data() { return {
        defaultAttr: {
            version: "1.1", xmlns: "http://www.w3.org/2000/svg",
            width:"174", height:"200", viewBox:"0 0 173.20508075688772 200",
        },
        radiusList: {
            "10" : "M77.94228634059948 4.999999999999999Q86.60254037844386 0 95.26279441628824 4.999999999999999L164.54482671904333 45Q173.20508075688772 50 173.20508075688772 60L173.20508075688772 140Q173.20508075688772 150 164.54482671904333 155L95.26279441628824 195Q86.60254037844386 200 77.94228634059948 195L8.660254037844387 155Q0 150 0 140L0 60Q0 50 8.660254037844387 45Z",
            "15" : "M73.61215932167728 7.499999999999999Q86.60254037844386 0 99.59292143521044 7.499999999999999L160.21469970012114 42.5Q173.20508075688772 50 173.20508075688772 65L173.20508075688772 135Q173.20508075688772 150 160.21469970012114 157.5L99.59292143521044 192.5Q86.60254037844386 200 73.61215932167728 192.5L12.99038105676658 157.5Q0 150 0 135L0 65Q0 50 12.99038105676658 42.5Z",
            "20" : "M64.9519052838329 12.499999999999998Q86.60254037844386 0 108.25317547305482 12.499999999999998L151.55444566227675 37.5Q173.20508075688772 50 173.20508075688772 75L173.20508075688772 125Q173.20508075688772 150 151.55444566227675 162.5L108.25317547305482 187.5Q86.60254037844386 200 64.9519052838329 187.5L21.65063509461097 162.5Q0 150 0 125L0 75Q0 50 21.65063509461097 37.5Z",
        }
    }},
    props: {
        radius: { type: String, default: "10" },
    },
    methods: {
        initFigure(target, list) { for (let key in list) if (target === key) return list[key] },
    },
}
</script>

<style lang="scss">
    .v-hex-figure {
        position: relative;
        &__content, 
        &__svg { @include img-stretch }
        &__svg { overflow: visible }
        &__content {
            width: 100%;
            @include flex-centralize; 
            &:empty { display: none }
        }
    }
</style>
