<template lang="pug">
    component(is="button" :class="classRoot" v-on="$listeners").v-month-tab
        .v-month-tab__text {{label}}
            
        v-hex-figure(radius="20" v-if="discount").v-month-tab__discount
            v-hex-figure.v-month-tab__discount-content
                | -{{discount}}%
</template>

<script>
import VHexFigure from "@/components/elements/VHexFigure";
export default {
    name: "VMonthTab",
    components: {VHexFigure},
    props:{
        label:    { type: String,  default: "Button" },
        discount: { type: Number,  default: 0 },
        active:   { type: Boolean, default: false },
    },
    computed: {
        classRoot() { 
            let obj = {
                'v-month-tab_is-discount':this.discount,
                '_active':this.active
            }
            return obj
        }
    }
}
</script>

<style lang="scss">
    .v-month-tab {
        $bg: $glob-color-blue;
        $space-xs: $glob-space-xs;
        $space-interval: $glob-space-interval;
        
        @include normalizeBtn;
        @include trans;
        @include flex-centralize;
        
        position: relative;
        padding: $space-xs $space-interval;
        overflow: hidden;
        background: $bg;
        border-radius: 4px;

        &__text { @include h(4) }
        
        &_is-discount {
            border-top-right-radius: 0;
            &::after {
                content: "";
                position: absolute;
                width: 7px;
                height: 10px;
                right: 0;
                top: 0;
                background: white;
            }
        }

        &__discount {
            $fill: $glob-color-white;
            @include flex-centralize;
            
            position: absolute;
            top: -11px;
            right: -1px;
            width: 50px;
            height: 56px;
            fill: $fill;
            
                &-content {
                    $fill: $glob-color-light-red;
                    $color: $glob-color-white;
                    @include h(5);
                    
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                    height: 35px;
                    fill: $fill;
                    color: $color;
                    white-space: nowrap;
                }
            }
        
        &:hover,&._active {
            $bg: $glob-color-light-red; 
            background: $bg;
            .v-month-tab__text { $color: $glob-color-white; color: $color }
        }
    }
</style>
