<template lang="pug">
    component(:is="checkTag" :class="toggleClass" :href="initHref").v-num-tab
        arrow.v-num-tab_prev(v-if="prev")
        arrow.v-num-tab_next(v-else-if="next")
        slot(v-else)
</template>

<script>
import arrow from '@/assets/icons/other/arrow.svg'

export default {
    components: {arrow},
    name: "VNumTab",
    props: {
        prev:   { type: Boolean, default: false },
        next:   { type: Boolean, default: false },
        active: { type: Boolean, default: false },
        tag:    { type: String,  default: 'a' },
        href:   { type: String,  default: '#' },
    },
    methods: {
        toggleActive() { this.active = !this.active },
    },
    computed: {
        toggleClass() { return this.active ? "active" : "" },
        checkTag()    { return this.href ? 'a' : this.tag },
        initHref()    { return this.checkTag === 'a' ? this.href : null },
    }
}
</script>

<style lang="scss">
    .v-num-tab {
        $size:    $glob-space-2xs;
        $padding: $glob-space-indent;
        $bg:      $glob-color-light-sky;
        $color:   $glob-color-light-grey;

        @include normalizeBtn;
        @include trans;
        @include h(4, $color);
        @include flex-centralize;
        
        width:      $size;
        height:     $size;
        background: $bg;
        padding:    $padding;
        border-radius: 10px;
        
        &.active,
        &:hover {
            $bg:    $glob-color-light-red;
            $color: $glob-color-white;
            background-color: $bg;
            color: $color;
        }
        
        & > svg { fill: currentColor }
        &_next  { transform: scaleX(-1) }
    }
</style>
