<template lang="pug">
    .v-play(v-on="$listeners")
        v-hex-figure(radius="20").v-play__wrapper
            v-icon(name="play").v-play__icon: play
            v-hex-figure(radius="20").v-play__wrapper-layer
            v-hex-figure(radius="20").v-play__wrapper-layer
</template>

<script>

import VIcon from "@/components/VIcon";
import VHexFigure from "@/components/elements/VHexFigure";
import play from '@/assets/icons/other/play.svg'
export default {
    name: "VPlay",
    components: {
        VHexFigure,
        VIcon,
        play,
    },
}
</script>

<style lang="scss">
    .v-play {
        $light-red: $glob-color-light-red;
        &__wrapper {
            width: 95px;
            height: 115px;
            fill: $light-red;
            @include flex-centralize;
            z-index: 1;
            position: relative;
            &-layer {
                @include abs-stretch;
                z-index: -1;
                transition: .5s ease-out;
                &:nth-child(2n - 1) { transform: scale(1.3); opacity: .2 }
                &:nth-child(2) { transform: scale(1.6); opacity: .1 }
            }
        }
        
    }
</style>


