<template lang="pug">
    vue-slider.v-range(v-bind="rangeSettings", :value="value", @change="change")
        template(v-slot:dot): .v-range__hexagon: .v-range__hexagon-wrapper: .v-range__hexagon-include
        template(v-slot:tooltip="{ value }"): .v-range__tooltip
            .v-range__tooltip-cost: | {{value}}
            .v-range__tooltip-label подписчиков
                    
</template>

<script>
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'

export default {
    name: "VRange",
    components: {
        VueSlider
    },
    props:{
        value: {
            required: false,
            default: ''
        },  
    },
    data:() => ({
     
    }),
    methods:{
        change(e){
            
            this.$emit('input',e)
        }    
    },  
    computed: {
        rangeSettings:() => ({
            dotSize: ["auto", "auto"],
            height:  "8px",
            tooltip: "always",
            tooltipPlacement: "bottom",
            min: 0,
            max: 4000,
        }),
    },
}
</script>

<style lang="scss">
    .v-range {
        $rail: $glob-color-blue;
        $light-red: $glob-color-light-red;
        $dark-red:  $glob-color-dark-red;
        
        &__hexagon {
            cursor: grab;
            &:active:hover { cursor: grabbing }
            
            background: $light-red;
            transform: rotate(90deg);
            font-size: 0.175em; // Размер фигуры
            &-include {
                background: $dark-red;
                z-index: 1;
                font-size: 0.5em; // Размер фигуры
            }
            &, &-include {
                position: relative;
                margin: 1em auto;
                width: 10em;
                height: 17.32em;
                transition: opacity .5s;
                border-radius: 2em/1.25em;
                &:before, &:after {
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                    background: inherit;
                    content: '';
                }
                &:before { transform: rotate(60deg) }
                &:after  { transform: rotate(-60deg) }
            }
            &-wrapper { @include img-stretch; @include flex-centralize }
        }

        .vue-slider-rail, .vue-slider-process { cursor: pointer }
        .vue-slider-rail    { background-color: $rail }
        .vue-slider-process { background-color: $light-red }
        
        &__tooltip {
            display: flex;
            align-items: center;
            flex-direction: column;
            &-cost {
                @include h(3);
            }
            &-label {
                font-size: 14px;
            }
        }
    }
</style>
