<template lang="pug">
    .v-scrollbar
        .v-scrollbar__header(v-if="thInner")
            span(v-for="text in thText"): | {{text}}
            
        .v-scrollbar__wrapper
            .v-scrollbar__content
                slot
</template>

<script>
export default {
    name: "VScrollbar",
    props: {
        parseTh : { type: Boolean, default: false }
    },
    data:() => ({
        thInner: false, 
        thText: [],
    }),
    methods: {
        parsingTh() {
            let thArr = this.$el.querySelectorAll('th')
            ,   ok = thArr.length > 0;
            if (ok) {
                thArr.forEach((th) => this.thText.push(th.textContent));
                this.thInner = true
            }
        }
    },
    mounted() { if (this.parseTh) this.parsingTh() }
}
</script>

<style lang="scss">
    .v-scrollbar {
        $fs-small:  $glob-fs-small;
        $space-min: $glob-space-min;
        $space-2xs: $glob-space-2xs;
        $blue:      $glob-color-blue;
        $space-interval: $glob-space-interval;

        width: 100%;
        height: 100%;

        &__header {
            width: 100%;
            font-size: $fs-small;
            padding: $space-min 0;
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 1fr $space-2xs;
            align-items: center;
            height: 20px;
            box-sizing: content-box;
            & + .v-scrollbar__wrapper {
                table { table-layout: fixed }
                tr:first-child { display: none }
            }
        }
        &__wrapper {
            width: 100%;
            height: calc(100% - 50px);
            position: relative;
        }
        &__content {
            $color: $blue;
            @include img-stretch;
            overflow-y: auto;
            padding-right: $space-interval;
            box-sizing: content-box;
            &::-webkit-scrollbar { width: 4px }
            &::-webkit-scrollbar-thumb { background-color: $color; border-radius: 4px }
        }
    }
</style>
