<template lang="pug">
    .v-video( :class="classInit")
        .v-video__cover(:style="{ backgroundImage: 'url(' + image + ')' }")
            .v-video__caption
                .v-video__cover-caption-title(v-if="title") {{title}}
              
            v-play.v-video__play(@click="playVideo")
        youtube(v-bind="youtubeOptions" ref="youtube", v-on="youtubeListeners").v-video__broadcaster
</template>

<script>

import VPlay from "@/components/elements/VPlay";

export default {
    name: "VVideo",
    components: {
        VPlay,
    },
    data:() => ({
        isStartVideo:false
    }),
    props: {
        videoId: {
            type:String,
            default:''
        },
        title: {
            type:String,
            default:''
        },
        image: {
            type:String,
            default:''
        },

    },
    computed: {
        classInit() { if (this.isStartVideo) return "start-video" },
        youtubeOptions(){
            const {videoId} = this
            return {
                videoId,
                playerVars: {
                    //autoplay: 1
                }
            }
        },
        youtubeListeners(){
            return {
                playing:this.switchPlay,
                paused:this.switchPlay
            }
        },
        player() {
            return this.$refs.youtube.player
        }
    },
    methods: {
        playVideo() {
            this.player.playVideo()
        },
        switchPlay(){
            this.isStartVideo=!this.isStartVideo;
        },
    
    },
}
</script>

<style lang="scss">
    .v-video {
        $border-radius: $glob-border-radius;
        $space-md: $glob-space-md;
        $space-text: $glob-space-text;
        $fs-small: $glob-fs-small;
        $space-min: $glob-space-min;

        position: relative;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        overflow: hidden;
        
        &__cover {
            background: url(/upload/img/video-preview-01.jpg) no-repeat center/cover;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: flex-end;
            padding: $space-text $space-md;
            cursor: pointer;
            &:hover { .v-play { &__wrapper { &-layer { transform: scale(1); opacity: 0 } } } }
        }
        
        &__caption {
            position: relative;
            color: white;
            &-title { @include h(4, inherit); margin-bottom: $space-min }
            &-text  { font-size: $fs-small }
        }
        
        &__cover, &__broadcaster { @include img-stretch }
        &__broadcaster { 
            @include trans;
            opacity:0;
            visibility:hidden;
        }
        &__play { position: relative; bottom: 100px }
        
        &.start-video & {
            &__broadcaster {  
                opacity:1;
                visibility:visible;
            }
            &__cover       {
                opacity:0;
                visibility:hidden;
            }
        }
        
        @include media($max: $glob-viewport-tablet-min) {
            height: 200px;
            &__cover {
                gap: 10px;
                padding: $space-min $space-text;
            }
            &__play { 
                position: relative; bottom: 60px;
                .v-play__wrapper {
                    width: 46px;
                    height: 53px;
                }
                .v-play__icon svg {
                    width: 10px;
                }
            }
        }
    }
</style>

