<template lang="pug">
    .v-month-tabs-wrapper
        slot
      
</template>

<script>


export default {
    name: "VMonthTabsWrapper",
    components: {
    
    },
 
    
}
</script>

<style lang="scss">
    .v-month-tabs-wrapper {
        $space-xs: $glob-space-xs;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $space-xs;
    }
</style>
