<template lang="pug">
    // рефактор и вще как объединять доты по щелчку чтоб робили??
    .v-num-tabs-wrapper
        v-num-tab(prev)
        v-num-tab(active) 1
        v-num-tab(:href="':javascript'") 2
        v-num-tab 3
        v-num-tab 4
        v-num-tab(next)
</template>

<script>
import VNumTab from "@/components/elements/VNumTab";

export default {
    name: "VNumTabsWrapper",
    components: { VNumTab },
}
</script>

<style lang="scss">
    .v-num-tabs-wrapper {
        $space: $glob-space-indent;
        @include flex-container($space: $space);
    }
</style>
