<template lang="pug">
    .page(v-resize @resize="onResize")
        v-header
        
        main.page__main
            nuxt
            
        v-footer(v-bind="$store.state.vars.menus")
</template>

<script>
    import { pageMixin } from '@/mixins/pages'
import VHeader from '@/components/sections/VHeader'
import VFooter from '@/components/sections/VFooter'

export default {
    components: {
        VFooter,
        VHeader,
    },
    mixins: [pageMixin],
    methods:{
      
        onResize(e) {
            let width = e?.detail?.width
            let height = e?.detail?.height
            if (width) {
                this.$store.commit('setWindowSize',{height,width})
                
            }
        },

    },
}
</script>

<style lang="scss">
    @include setup;
    :root { 
        @include cssVarsInit 
    
    }


    @media (max-width:$glob-viewport-tablet-min) {
        :root {
            @each $cssAttr, $cssValue in $glob-font-sizes-xs {
                #{$glob-prefix}#{$cssAttr}: pxem($cssValue,14);
            }
        }
        html {font-size:14px}
    }
    
    .page {
        $padding-top: $glob-space;
        $fill: $glob-color-light-red;
        $tablet-min: $glob-viewport-tablet-min;
        
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
        //overflow: hidden;
        min-height: 100vh;
        fill: $fill;
        //padding-top: $padding-top;
        
        &__main { flex: 1 0 auto }

        @include media($max: $glob-viewport-tablet-max) {
            //padding-top: 150px;
        }
        
      
    }
</style>
