<template lang="pug">
.page-layout
  content-block(:block="{ title, content: body }", content-align="left")
</template>

<script>
import { pageMixin } from '../../mixins/pages'
import { fetchPage } from '../../utils/asyncPages'
import API from '../../api/index'

export default {
  name: 'page-flatpage',

  async asyncData ({ app, error, params }) {
    return fetchPage(app, error, API.pages.flatPage(params.slug))
  },

  layout: 'default-light',

  mixins: [pageMixin],

  validate ({ params }) {
    return !!params.slug
  }
}
</script>
