<template lang="pug">
.page-layout
  blocks(:blocks="blocks", :promo-block="promo_block")
</template>

<script>
import { pageMixin } from '../../mixins/pages'
import { fetchPage } from '../../utils/asyncPages'
import API from '../../api/index'

export default {
  name: 'page-about',

  async asyncData ({ app, error }) {
    return fetchPage(app, error, API.about.about())
  },

  mixins: [pageMixin]
}
</script>
