<template lang="pug">
section.tariff-service
  .tariff-service__container.container
    .tariff-service__header
      h2.h2(v-if="title" v-html="title")
      .html-content(v-if="content" v-html="content")

    table.tariff-service__table
      thead
        tr
          td
            .tariff-service__table__icon(style="background-image: url('/images/icons/icon-wand.png')")
              | Наименование
          td
            .tariff-service__table__icon(style="background-image: url('/images/icons/icon-clock.png')")
              | Срок
          td
            .tariff-service__table__icon(style="background-image: url('/images/icons/icon-label.png')")
              | Цены
      tbody
        tr(v-for="service in services" :key="service.id")
          td(v-html="service.title")
          td(v-html="service.duration || ''")
          td
            span(v-html="service.prices || ''")
            span(v-if="service.prices && service.is_prices_rubles" v-html="'&nbsp;' + ruble(false)")

    .tariff-service__footer
      button.button-red-outline.js-intercom-doUpdate.js-order-more-features(v-ripple="'rgba(0, 0, 0, 0.1)'") Заказать услугу сейчас!

  modal(v-if="servicePopup" @close="closeServicePopup()")
    div(slot="header")
      h3.h3(v-if="servicePopupTitle") {{ servicePopupTitle }}
      .html-content(v-if="servicePopupContent" v-html="servicePopupContent")

    div(slot="body")
      service-form(@submitted="closeServicePopup()")
</template>

<script>
import ServiceForm from '../../forms/service-form'
import { execMetrikaMethod } from '../../../utils/metrika'
import ruble from '../../../utils/ruble'

export default {
  name: 'tariff-service',

  components: { ServiceForm },

  data () {
    return {
      servicePopup: false
    }
  },

  methods: {
    closeServicePopup () {
      this.servicePopup = false
    },

    ruble,

    showServicePopup () {
      this.servicePopup = true
      execMetrikaMethod('reachGoal', ['open-lead-form'])
    }
  },

  props: {
    content: {
      required: false,
      type: [String, null]
    },
    servicePopupContent: {
      required: false,
      default: null,
      type: String
    },
    servicePopupTitle: {
      required: false,
      default: null,
      type: String
    },
    services: {
      required: false,
      default: () => [],
      type: Array
    },
    title: {
      required: false,
      type: [String, null]
    }
  }
}
</script>
