.tariff-service
    margin-bottom 50px
    padding 0 50px
    background-color #fff
    +below(768px)
        padding 0 20px

.tariff-service__header
    box vertical top center
    margin-bottom 40px

    .h2
        margin-bottom 22px
        color #394455
        font-size 39px
        font-weight 700
        line-height 36px
        text-align center
        +below(768px)
            font-size 29px
            line-height 33px
    p
        max-width 850px
        color #8b99b4
        font-size 16px
        line-height 26px
        text-align center
        +below(768px)
            font-size 14px
            line-height 22px

.tariff-service__table
    width 100%
    margin-bottom 25px
    thead
        td
            padding 12px 9px
            color #394455
            font-size 16px
            font-weight 500
            line-height 24px
            text-align center
            +below(600px)
                padding 12px 5px
                font-size 13px
                line-height 20px
            &:first-child
                text-align left
    tbody
        tr
            &:last-child
                border-bottom 1px solid transparent
            &:nth-child(odd)
                background-color #f1f8ff
        td
            position relative
            padding 16px 37px
            color #394455
            font-size 13px
            line-height 21px
            text-align center
            +below(768px)
                padding 16px 20px
            &:first-child
                text-align left

.tariff-service__table__icon
    display inline-block
    padding-left 30px
    background-repeat no-repeat
    line-height 24px
    background-position left center
    +below(375px)
        padding-left 20px
        background-size auto 15px

.tariff-service__footer
    box horizonta middle center
