<template lang="pug">
.page-layout
  .container.appndx
    nuxt-link(to="/ru/") Главная
    nuxt-link(to="/ru/services/email") Услуги/Решения
    nuxt-link(to="/ru/pricing/start") Тарифы
    nuxt-link(to="/ru/about") О компании
    nuxt-link(to="/ru/contact") Контакты
</template>

<script>
import { pageMixin } from '../mixins/pages'

export default {
  name: 'page-appdx',
  layout: 'default-light',

  mixins: [pageMixin]
}
</script>
