<template lang="pug">
    article
        v-breadcrumbs
        //пример VAbilities.vue equal-parts
        v-content-grid
        v-content-badges
        v-content-video(theme="includes")
        v-content-video(theme="primary")
        v-dropdowns
        
        equal-parts(:block="equalPartsPseudoApi")
        equal-parts(:block="equalPartsReversePseudoApi")
        
        
        
        v-profit(:block="vProfitPseudoApi")
        v-news(:blocks="vNewsPseudoApi")
        subscribe-form(:block="subscribeFormPseudoApi")
        
        socials-wrapper(:block="socialsWrapperPseudoApi")
        
        
       
        
      



        //v-price-print
       
        v-safety(:block="vSafetyPseudoApi")
        
        
        
            
          
        
        
        
        
        
        
        
        v-content-new
        v-content-modal
        
       
        
        
       
        v-include-constructor
      
        v-content-slider
        
        v-content-person
        
        v-webinar-modal
      
        v-chess-constructor(:block="vChessPseudoApi")
        
        
      
        
       
        
        
        // 
            v-reg-banner
            v-reg-banner(container)
            v-first-screen
            v-first-screen(type="reg")
            
        
        //All forms
        v-reg-webinar
        
        section-contents(:block="contentPseudoApi")
    
        //clients
        client-list-by-category(:block="clientListByCategoryPseudoApi")
        client-list-with-reviews(:block="clientListWithReviewsPseudoApi")

        equal-parts(:block="equalPartsPseudoApi")
        equal-parts(:block="equalPartsReversePseudoApi")


</template>

<script>
import VMediaNews from "@/components/blocks/VMediaNews";
import VContentBanner from "@/components/blocks/VProfit";
import VContentGrid from "@/components/blocks/VContentGrid";
import VContentBadges from "@/components/blocks/VContentBadges";
import VChessContent from "@/components/patterns/VChessContent";
import Blocks from "@/components/blocks";
import VSafety from "@/components/blocks/VSafety";

import VStatistic from "@/components/blocks/VStatistic";
import VFirstScreen from "@/components/blocks/VFirstScreen";
import VRegBanner from "@/components/patterns/VRegBanner";

import VTryFree from "@/components/forms/RegistrarionForm";
import ClientListWithReviews from "@/components/blocks/ClientListWithReviews";

import EqualParts from "@/components/blocks/EqualParts";
import EqualPartsTriggers from "@/components/blocks/EqualPartsTriggers";
import SocialsWrapper from "@/components/blocks/SocialsWrapper";
import SubscribeForm from "@/components/forms/SubscribeForm";
import VNews from "@/components/blocks/VNews";


export default {
    components: {
        VMediaNews,
        VNews,
        SubscribeForm,
        SocialsWrapper,
        EqualPartsTriggers,
        EqualParts,
        ClientListWithReviews,
        VTryFree,
  
        VRegBanner,
        VFirstScreen,
        VStatistic,
        VSafety,
        Blocks,
        VChessContent,
        VContentBadges,
        VContentGrid,
        VContentBanner},
    name: "blocks-news", 
    data() {
        return {}
    },
}
</script>

<style lang="scss">
    .blocks-news{}
</style>
