<template lang="pug">
    article
        v-reg-webinar
        v-reg-include(theme="cover" :bg="`${require('@/assets/img/bg-subscribe-01.jpg')}`")
        
</template>

<script>

import VRegWebinar from "@/components/forms/VRegWebinar";
import VRegInclude from "@/components/forms/VRegInclude";



export default {
    components: {
   
        VRegInclude,
        VRegWebinar,
      
    },
    name: "forms", 
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
    .forms{}
</style>
