<template lang="pug">
    article
        v-first-screen(type="reg")
        v-chess-constructor(:block="vChessPseudoApi")
        v-chess-content
        v-safety
        v-statistic
        client-list-with-reviews
        v-abilities
        v-news
</template>

<script>
import VFirstScreen from "@/components/blocks/VFirstScreen";
import VChessConstructor from "@/components/blocks/VChessConstructor";
import VChessContent from "@/components/patterns/VChessContent";
import VSafety from "@/components/blocks/VSafety";
import VStatistic from "@/components/blocks/VStatistic";
import VNews from "@/components/blocks/VNews";
import VAbilities from "@/components/blocks/VAbilities";
import ClientListWithReviews from "@/components/blocks/ClientListWithReviews";

export default {
    components: {
        ClientListWithReviews,
        VAbilities,
        VNews,
        VStatistic,
        VSafety,
        VChessContent,
        VFirstScreen,
        VChessConstructor,
    },
}
</script>

<style lang="scss"></style>
