<template lang="pug">
    article
        v-breadcrumbs
        v-tariphs-info(
        :periods="periods",
        :plans="plans",
        :subscribers-ranges="subscribers_ranges"
        )
            client-list-logos(slot="ClientListLogos" :block="customer")
        v-services(
        :content="services_block_content",
        :service-popup-content="service_popup_content",
        :service-popup-title="service_popup_title",
        :services="services",
        :title="services_block_title"
        )
        v-skills(
        :content="features_block_content",
        :features-comparison="features_comparison",
        :plans="plans",
        :title="features_block_title"
        )
        blocks(:blocks="blocks")
        

</template>

<script>
    import VTariphsInfo from "@/components/patterns/VTariphsInfo";
    import VBreadcrumbs from "@/components/patterns/VBreadcrumbs";
    import VSkills from "@/components/patterns/VSkills";
    import VServices from "@/components/blocks/VServices";


    import { fetchPage } from '@/utils/asyncPages'
    import API from '@/api/index'
    import Blocks from "@/components/blocks";
    import ClientListLogos from "@/components/blocks/ClientListLogos";

    export default {
        async asyncData ({ app, error }) {
            
            return fetchPage(app, error, API.pricing.plans()).then(r=>{
                console.log(r);
                return {
                    ...r,
                    customer:{ //Todo не хватает в апи
                        "appearance":"slider","content":"","customers":[{"id":7,"image":"/media/customers/Qiwi_0Thu0yV.png","title":"Qiwi"},{"id":8,"image":"/media/customers/renesans_rgujFeO.png","title":"Ренессанс"},{"id":9,"image":"/media/customers/rosgos_oB9PxNY.png","title":"Росгосстрах"},{"id":10,"image":"/media/customers/Pyaterka_uJGlpe3.png","title":"Пятёрочка"},{"id":11,"image":"/media/customers/Dochki_uXzSQrE.png","title":"Дочки-сыночки"},{"id":12,"image":"/media/customers/alpha_2lsmwds.png","title":"Альфа-банк"}],"id":8,"title":null,"type":"customer","vueComponentName":"ClientListLogos"
                    }
                    
                }
            })
        },

        components: {
            ClientListLogos,
            Blocks,
          
            VServices,
            VSkills,
            VBreadcrumbs,
            VTariphsInfo,
        },

        data () {
            return {
              
            }
        },
        scrollToTop: true
    }
</script>
