<template lang="pug">
    article
        v-breadcrumbs
        v-price-print
        v-reg-include(theme="primary")
        
        v-container: v-flex-vertical
          section-contents(:block="contentPseudoApi")
          v-services
            
        
    
</template>

<script>
import VBreadcrumbs from "@/components/patterns/VBreadcrumbs";
import VServices from "@/components/blocks/VServices";



import VFlexVertical from "@/components/sections/VFlexVertical";
import VPricePrint from "@/components/blocks/VPricePrint";
import VRegInclude from "@/components/forms/VRegInclude";
import TopContents from "@/components/global/TopContents";
import SectionContents from "@/components/blocks/SectionContents";


export default {
    components: {
        SectionContents,
        TopContents,
        VRegInclude,
        VPricePrint,
        VFlexVertical,
   
    
        VServices,
        VBreadcrumbs,
    }
}
</script>

<style lang="scss"></style>
