<template lang="pug">
    figure.hex-figure
        svg(:fill="initFill" version="1.1" xmlns="http://www.w3.org/2000/svg" width="174" height="200" viewbox="0 0 174 200").hex-figure__svg
            path(:d="initFigure(type, figureList)")
            text(v-if="label" text-anchor="middle" x="87" y="100").hex-figure__text {{label}}
</template>

<script>
    export default {
        name: 'HexFigureTest',
        data() { return {
            figureList: {
                standart: "M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q174 50 174 56L174 144Q174 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z",
                rounded:  "M64.9519052838329 12.499999999999998Q86.60254037844386 0 108.25317547305482 12.499999999999998L151.55444566227675 37.5Q173.20508075688772 50 173.20508075688772 75L173.20508075688772 125Q173.20508075688772 150 151.55444566227675 162.5L108.25317547305482 187.5Q86.60254037844386 200 64.9519052838329 187.5L21.65063509461097 162.5Q0 150 0 125L0 75Q0 50 21.65063509461097 37.5Z",
            }
        }},
        props: {
            type:  { type: String, default: "standart" },
            fill:  { type: String, default: "" },
            label: { type: String, default: "" },
            resetFill: { type: Boolean, default: false },
        },
        methods: {
            initFigure(target, list) { for (let key in list) if (target === key) return list[key] },
        },
        computed: {
            initFill() {
                if (!this.resetFill) return this.fill ? this.fill : "currentColor"
            },
        }
    }
</script>

<style lang="scss">
    .hex-figure {
        position: relative;
        // Задаем размерность
        --hex-figure-width:  100;
        --hex-figure-height: 100;

        // Механизм
        transform: scale(
                calc(0.005747 * var(--hex-figure-width)),
                calc(0.01 * var(--hex-figure-height) / 2)
        );
        width:  calc(1px * var(--hex-figure-width));
        height: calc(1px * (var(--hex-figure-height) - 2));
        transform-origin: 0 0;

        .hex-figure__text {
            transform-origin: center;
            transform: translate(0, .4em);
            font-size: 2.05em;
            fill: currentColor;
        }

        &__svg[fill="currentColor"] { .hex-figure__text { $color: $glob-color-white; fill: $color } }

        //&__content {
        //    position: absolute;
        //    left: 50%;
        //    top: 50%;
        //    width: calc(100% + 1px);
        //    height: 100%;
        //    z-index: 999;
        //    transform: scale(2);
        //    display: flex;
        //    align-items: center;
        //    justify-content: center;
        //    margin: 0 auto;
        //    color: white;
        //}
    }
</style>
