<template lang="pug">
    .v-test-grid
        //div(v-for="( item, index ) in $slots.default" :key="index" :style="`grid-area: ${index+1}`")
        slot(:class="'myPropName'")
        
</template>

<script>
export default {
    name: "VSubTest",
    data() { return {
        index: 0,
    }
    },
    computed: {
        gridElms() {
            // Если есть слоты берем их, иначе берем входной options
            let slots = this.$slots.default,
                options = [];
            return slots.length
        }
    },
    methods: {
        onUserChange: function(){
            this.$emit('userchange', this.userName);
        },
        myPropName() {
            return ++this.index
        }
    },
    created() {
        // console.log(this.$slots.default)
        // for (let el in this.$slots.default) {
        //     el.elm.classList.add('HELLOMOTHERFUCKER')
        // }
    }
}
</script>

<style lang="scss">
    
</style>
