<template lang="pug">
    .v-sub-grid
        slot
        v-node( v-for="( item, index ) in $slots.colName", :key="`${index}item`", :node="getAreaName(item,index)")
        
</template>

<script>
    export default {
        name: "VSubGrid",
        data() {
            return {
                
            }
        },
        methods:{
            getAreaName(item,index){
                console.log(item);
                item.data.style=`gridArea:${index}`
                return item
            }    
        },
        //mounted(){
        // 
        //    this.$slots.col.forEach(item=>{
        //        console.log(item);
        //    })    
        //}
    }
</script>

<style lang="scss">
    .v-sub-grid {
        $gap: $glob-space-xs;
        
        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: $gap;
        & > * { grid-column: 1/-1 }
        & > *:nth-child(3) { 
            grid-column: 1/-2
        }
        & > *:nth-child(4) { 
            grid-column: -2/-1
        }

        
       




        //$gap: $glob-space-xs;

        //display: grid;
        ////grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        //grid-template-columns: [ost] 1fr [big min] repeat(auto-fit, minmax(400px, 1fr)) [ost] 1fr;
        //gap: $gap;
        //& > * {
            ////grid-column: 1/-1
            //grid-area: ost;
        //}
        //& > *:nth-child(3) {
            ////grid-column: 1/-2
            //grid-column-start: big;
            //grid-column-end: min;
        //}
        //& > *:nth-child(4) {
            ////grid-column: -2/-1
            //grid-column-start: min;
            //grid-column-end: -1;
        //}
        
        
        
        
        
        
        //& > *:nth-child(4) {
        //    grid-column: 2/4;
        //    background-color: orangered;
        //}


        //grid-auto-rows: 100px; // высота блоков
        //grid-auto-rows: minmax(50px, auto); // высота блоков
        //grid-auto-columns: 100px; // ширина блоков
        //grid-auto-columns: minmax(50px, auto); // ширина блоков
        //justify-items: start; // растянут по первой линии
        //justify-items: stretch; // Это значение по умолчанию для сетки чтоб элементы тянулись
        //align-items: start; // растянут по первой линии
        //align-items: stretch; // Это значение по умолчанию для сетки чтоб элементы тянулись
        
        //> {
        //    // для конкретного элемента
        //    align-self: start;
        //    justify-self: start;
        //    
        //    grid-column: 1/3; // ширина ячейки от первой линии до третьей (от своей, до конца второй колонки)
        //    grid-row: 1/2; // высота ячейки от первой линии до второй (от себя до себя = по дефолту, если stretch, то есть тянеться)
        //}
   
        
        margin: 150px 0;
    }
    // * refactor
    //space-lg:  pxem(160),
    //space-2xs: pxem(60),
    //space-xs:  pxem(30),
    
        /*
        &.grid-manager {
            //gap 
            //els in grid
            // Смысловой грид
            $gap: $glob-space-xs;
            display: grid;
            gap: $gap;
        }
        &.multipart {
            // 30px между смысловыми частями элементами 
            // gap separator
            // divs display flex
            $separate: $glob-space-2xs;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > *:not(:last-child) { margin-bottom: $separate; }
        }
        */
    
</style>
