<template lang="pug">
    component.v-btn(
    :is="checkTag",
    v-bind="isSubmit"
    :to="to",
    :href="href",
    :class="initClass(type, classList)"
    v-on="$listeners")
        slot
            |{{label}}
</template>

<script>
export default {
    name: "VBtn", 
    data:() => ({
        classList: {
            filled          : ["v-btn_filled"],
            standart        : ["v-btn_standart"],
            standart_dashed : ["v-btn_standart", "v-btn_standart_dashed"],
            link : ["v-btn_link"],
            linkOnlyHover : ["v-btn_link_only_hover"],
        }
    }),
    props:{
        label: { type: String, default: null },
        tag:   { type: String, default: 'button' },
        to:    {type: [Object,String], default:null },
        type:  { type: String, default: 'filled' },
        href:  { type: String, default: null },
    },
    methods: {
        initClass(target, list) { for (let key in list) if (target === key) return list[key] }
    },
    computed: {
        checkTag() { 
            if(this.to) return 'nuxt-link';
            return this.href ? 'a' : this.tag 
        },
        isSubmit() {
            if (this.tag === 'input') {
                const fields = { type: 'submit', value: this.label };
                this.label = null;
                return fields
            }
        }
    }
}
</script>

<style lang="scss">
    .v-btn {
        @include normalizeBtn;

        &_link { @include a }
        &_link_only_hover{
            @include a;
            color:inherit;
            border:0;
            
        }
        &_standart {
            @include underline;
            $font-family: $glob-font-family-h;
            $color:       $glob-color-light-red;
            font-family:  $font-family;
            color:        $color;
            
            &_dashed { 
                $transparent-focus: $glob-color-white; 
                &:focus , & { outline: 3px dotted $transparent-focus }
            }
        }
        
        &_filled {
            $font-family: $glob-font-family;
            $color:       $glob-color-white;
            $bg:          $glob-color-light-red;
            $padding:     $glob-space-indent;
            $height:      $glob-space-2xs;
            $padding-x:    $glob-space;

            @include flex-centralize;
            display:inline-flex;
            font-family:      $font-family;
            color:            $color;
            background-color: $bg;
            padding:          $padding $padding-x;
            min-height:       $height;
            border-radius:    50px;

            &:hover { $bg: $glob-color-dark-red; background-color: $bg }
        }
    }
</style>
