
// Цвета

$glob-colors:(
    white: #fff,
    dark-grey: #2D415D,
    grey: #F6F6F6,
    light-grey: #5B5B80,
    light-red: #A02140,
    dark-red: #65021A,
    light-blue: #DFEDFC,
    blue: #C6DBF3,
    dark-blue: #091C48,
    sky: #F3FAFD,
    light-sky: #F2F6FA,
    light: #F8FBFC,
    error: red,
);

// Генерируем переменные CSS //
//------------------------- //
$glob-color-dark-grey: cssColorVarGenerator(dark-grey);
$glob-color-dark-blue: cssColorVarGenerator(dark-blue);
$glob-color-light-grey: cssColorVarGenerator(light-grey);
$glob-color-grey: cssColorVarGenerator(grey);
$glob-color-light-red: cssColorVarGenerator(light-red);
$glob-color-dark-red: cssColorVarGenerator(dark-red);
$glob-color-blue: cssColorVarGenerator(blue);
$glob-color-light-blue: cssColorVarGenerator(light-blue);
$glob-color-sky: cssColorVarGenerator(sky);
$glob-color-light-sky: cssColorVarGenerator(light-sky);
$glob-color-white: cssColorVarGenerator(white);
$glob-color-light: cssColorVarGenerator(light);
$glob-color-error: cssColorVarGenerator(error);
//------------------------- //
