
// Шрифты

@mixin font-face($font-name,$font-file,$font-style,$font-weight){
    // Подготавливает рабочие шрифты
    @font-face{
        font-family:'#{$font-name}';
        src:url('~@/assets/fonts/#{$font-file}.eot'); /* IE9 Compat Modes */
        src:url('~@/assets/fonts/#{$font-file}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('~@/assets/fonts/#{$font-file}.woff') format('woff'), /* Modern Browsers */
        url('~@/assets/fonts/#{$font-file}.ttf') format('truetype'); /* Safari, Android, iOS */
        //url('~@/assets/fonts/#{$font-file}.svg##{$font-file}') format('svg'); /* Legacy iOS */
        font-style:#{$font-style};
        font-weight:#{$font-weight};
        text-rendering:optimizeLegibility;
    }
}

@mixin fontsInit {
    // Генерируем рабочие шрифты
    @include font-face('Gilroy', 'gilroy/Gilroy-ExtraBold', 'normal', 800);
    @include font-face('Gilroy', 'gilroy/Gilroy-Bold', 'normal', 700);
}


$glob-base-size-text-px: 16; // Базовый размер текста
$glob-font-sizes: (
    // Размеры шрифтов в px
    fs-h1:   48,
    fs-h2:   36,
    fs-h3:   24,
    fs-h35:  20,
    fs-h4:   18,
    fs-h5:   $glob-base-size-text-px,
    fs-h6:   15,
    
    fs-main: $glob-base-size-text-px,
    fs-small:    14,
    fs-small-sm: 12,
    fs-small-xs: 10,
);


$glob-font-sizes-xs: (
    // Размеры шрифтов в px
    fs-h1:   24,
    fs-h2:   24,
    fs-h3:   18,
    fs-h35:  16,
    fs-h4:   14,
    fs-h5:   16,
    fs-h6:   15,

    fs-main: 14,
    fs-small:    12,
    fs-small-sm: 12,
    fs-small-xs: 10,
);


$glob-font-settings: (
    // Стили шрифтов
    font-family:  'Open Sans, Helvetica, Arial, sans-serif',
    font-family-h:'Gilroy, Helvetica, Arial, sans-serif',
    
    line-height: 1.7,
    line-height-sm: 1.25,
    line-height-xs: 1.1,
    
    font-weight: 400,
    font-weight-bold: 600,
    
    font-style: normal,
);

// Генерируем переменные CSS //
//------------------------- //
// font-size-h
$glob-fs-h1:  cssVarGenerator(fs-h1);
$glob-fs-h2:  cssVarGenerator(fs-h2);
$glob-fs-h3:  cssVarGenerator(fs-h3);
$glob-fs-h35: cssVarGenerator(fs-h35);
$glob-fs-h4:  cssVarGenerator(fs-h4);
$glob-fs-h5:  cssVarGenerator(fs-h5);
$glob-fs-h6:  cssVarGenerator(fs-h6);
// font-size
$glob-fs-main:     cssVarGenerator(fs-main);
$glob-fs-small:    cssVarGenerator(fs-small);
$glob-fs-small-sm: cssVarGenerator(fs-small-sm);
$glob-fs-small-xs: cssVarGenerator(fs-small-xs);
// line-height
$glob-line-height:    cssVarGenerator(line-height);
$glob-line-height-sm: cssVarGenerator(line-height-sm);
$glob-line-height-xs: cssVarGenerator(line-height-xs);
// font-family
$glob-font-family:   cssVarGenerator(font-family);
//$glob-font-family-s: cssVarGenerator(font-family-s);
$glob-font-family-h: cssVarGenerator(font-family-h);
// font-weight
$glob-font-weight:     cssVarGenerator(font-weight);
$glob-font-weigh-bold: cssVarGenerator(font-weight-bold);
// font-style
$glob-font-style: cssVarGenerator(font-style);
//------------------------- //
