
// Отступы

$spaces:(
    space-xl:       pxrem(175),
    space-lg:       pxrem(160),
    space-md:       pxrem(75),
    space-2xs:      pxrem(60),
    space-xs:       pxrem(30),
    space-3x:       pxrem(150),
    space-2x:       pxrem(100),
    space:          pxrem(50),
    
    space-text:     pxrem(40),
    space-interval: pxrem(20),
    space-indent:   pxrem(15),
    space-min:      pxrem(10),
);

// Генерируем переменные CSS //
//------------------------- //
$glob-space-xl:  cssVarGenerator(space-xl);
$glob-space-lg:  cssVarGenerator(space-lg);
$glob-space-md:  cssVarGenerator(space-md);
//$glob-space-sm:  cssVarGenerator(space-sm);
$glob-space-2xs: cssVarGenerator(space-2xs);
$glob-space-xs:  cssVarGenerator(space-xs);
$glob-space-3x:  cssVarGenerator(space-3x);
$glob-space-2x:  cssVarGenerator(space-2x);
$glob-space:     cssVarGenerator(space);

$glob-space-text: cssVarGenerator(space-text);
$glob-space-interval: cssVarGenerator(space-interval);
$glob-space-indent: cssVarGenerator(space-indent);
$glob-space-min:    cssVarGenerator(space-min);
//------------------------- //

//@function indent($name,$number:1){
//    $size:0;
//    @if $name=='xs' {$size:15}
//    @if $name=='sm' {$size:30}
//    @if $name=='md' {$size:50}
//    @if $name=='lg' {$size:75}
//    @if $name=='xlg' {$size:90}
//    @return jspx($size * $number)
//}
