
// Разрешение экрана

/*$viewports: (
    //$glob-viewport-xs:600px;
    //$glob-viewport-sm:960px;
    //$glob-viewport-lg:1264px;
    //$glob-viewport-xlg:1904px;
    //viewport-desktop-max: 1600px,
    //viewport-desktop-medium: 1200px,
    //viewport-desktop-min: 992px,
    //viewport-tablet-max: 768px,
    //viewport-tablet-medium : 650px,
    //viewport-xs:   767px,
    //viewport-sm:  1024px,
    //viewport-lg:  1264px,
    //viewport-lg:  1264px,
    
    viewport-desktop-max:    1920px,
    viewport-desktop-medium: 1600px,
    viewport-desktop-min:    1200px,
    viewport-tablet-max:     1024px,
    viewport-tablet-medium:  992px,
    viewport-tablet-min:     768px,
    viewport-phone-max:      650px,
    viewport-phone-medium:   480px,
    viewport-phone-min:      320px,
);*/




// Генерируем переменные SCSS //
//---------------------------//

$glob-viewport-desktop-min:   map_get($viewports, viewport-desktop-min);
$glob-viewport-tablet-max:    map_get($viewports, viewport-tablet-max );
$glob-viewport-tablet-medium: map_get($viewports, viewport-tablet-medium );
$glob-viewport-tablet-min:    map_get($viewports, viewport-tablet-min );
$glob-viewport-phone-max:     map_get($viewports, viewport-phone-max );
$glob-viewport-phone-medium:  map_get($viewports, viewport-phone-medium );
$glob-viewport-phone-min:     map_get($viewports, viewport-phone-min );
//---------------------------//

@mixin media($min:null, $max:null) {
    @if $min and $max {
        @media( min-width: $min + 1px) and (max-width: $max) {
            @content
        }
    }
    @else if $min {
        @media( min-width: $min + 1px ) {
            @content
        }
    }
    @else {
        @media( max-width: $max ) {
            @content
        }
    }
}

//@mixin media($name) {
//    @if $name == '<xs' {
//        @media( max-width: $glob-viewport-xs ) {
//            @content
//        }
//    }
//    @if $name == 'xs>' {
//        @media( min-width:calc(#{$glob-viewport-xs} + 1px) ) {
//            @content
//        }
//    }
//    @if $name == '<sm' {
//        @media( max-width:$glob-viewport-sm) {
//            @content
//        }
//    }
//    @if $name == 'sm>' {
//        @media( min-width:calc(#{$glob-viewport-sm} + 1px) ) {
//            @content
//        }
//    }
//    @if $name == '<lg' {
//        @media( max-width:$glob-viewport-lg) {
//            @content
//        }
//    }
//    @if $name == 'lg>' {
//        @media( min-width:calc(#{$glob-viewport-lg} + 1px) ) {
//            @content
//        }
//    }
//    @if $name == '<xlg' {
//        @media( max-width:$glob-viewport-xlg) {
//            @content
//        }
//    }
//    @if $name == 'xlg>' {
//        @media( min-width:calc(#{$glob-viewport-xlg} + 1px) ) {
//            @content
//        }
//    }
//}
