<template lang="pug">
    .tags-style
        slot
</template>

<script>
export default {
    name: 'TagsStyle',
    data() {
        return {}
    },
}
</script>

<style lang="scss">
.tags-style {
    @include resetTagsConfiguration;
}
</style>
