<template lang="pug">
    section.section-wrapper
        template(v-if="!container")
            slot
        v-container(v-else)
            slot
        
</template>

<script>
    import VContainer from "@/components/sections/VContainer";

    export default {
        components: {VContainer},
        name: "VSection",
        data() {
            return {
                
            }
        },
        props:{
            container: {
                type: Boolean,
                default:false
            },
        },
        
    }
</script>

<style lang="scss">
    .section {
        $tablet-min: $glob-viewport-tablet-min;
        $space-text: $glob-space-text;

        &-wrapper {
            $space: $glob-space-lg;
            margin-bottom: $space;
            @include media($max: $tablet-min) {
                margin-bottom: $space-text;
            }
        }
    }
</style>
