<template lang="pug">
    v-section(container)
        top-contents(title="Клиенты" text-left titleTag="h1")
    
        ul.ClientListByCategory__tabs
            li(v-for="(item, index) in block.itemList", :key="index")
                v-btn(
                    type="standart_dashed",
                    :label="item.name",
                    :data-count="item.logoList && item.logoList.length || 0",
                    :class="categoryActiveIndex===index?'active':''",
                    @click="categoryActiveIndex=index"
                ).ClientListByCategory__tab
                
        ul
            li(v-for="(item, index) in contents", :key="index" v-show="categoryActiveIndex===index")

                slider-swiper(v-bind="options", :classPrefix="'v-categories__logos'+index")
                    .ClientListByCategory__logos(v-for="(sliderItem, index) in item.sliderItemList", :key="index", :class="classTheme")
                        .ClientListByCategory__logos-item(v-for="(logo, index) in sliderItem", :key="index")
                            v-clients-logo-item
                                img(:src="logo.url", :alt="logo.title")
                slider-swiper-control(:classPrefix="'v-categories__logos'+index")
                tags-style(v-html="item.content")
                       



</template>

<script>
    import _chank from 'lodash/chunk'



import VBtn from "@/components/controls/VBtn";

import SliderSwiper from "@/components/elements/SliderSwiper";
import VClientsLogoItem from "@/components/patterns/VClientsLogoItem";
    import SliderSwiperControl from "@/components/elements/SliderSwiperControl";

    import viewports from '@/config/viewports'
 
export default {
    components: {
     
        SliderSwiperControl,
        VClientsLogoItem,
        SliderSwiper,
       
        VBtn,
    
      
    },
    props:{
        block:{
            type:Object,
            default:()=>({
                itemList:[]
            })
        },
      
    },
    data:() => ({
        rootClass: "ClientListByCategory", //Todo придумать рандом индификатор
        categoryActiveIndex:0,
        viewports
    }),
    computed: {
        classTheme(){
            return {
                'showThemePS':this.showThemePS,
                'showThemeXs':this.showThemeXs,
                'showThemeMd':this.showThemeMd,
            }    
        },
        showThemePS(){
            return !(this.showThemeXs || this.showThemeMd)  
        },
        showThemeXs(){
            return this.$store.state.window.width<parseInt(this.viewports["viewport-tablet-min"])
        },
        showThemeMd(){
            return this.$store.state.window.width<parseInt(this.viewports["viewport-desktop-min"]) && !this.showThemeXs
        },
        contents(){
            return this.block?.itemList?.map(item=>{
              
                if(item.logoList) {
                    let count = 11;
                    if(this.showThemeMd) count = 9;
                    if(this.showThemeXs) count = 5;
                    
                    item.sliderItemList = _chank(item.logoList,count)    
                }
                
                return item
            }) || []   
        },
        options(){
            return {
                options: {
                    slidesPerView:1,
                    spaceBetween: 0,
                },
            }
        },
    },
}
</script>

<style lang="scss">
    .ClientListByCategory {
        $space-xs:     $glob-space-xs;
        $space-indent: $glob-space-indent;
        $space-2x:     $glob-space-2x;
        $color-grey:   $glob-color-grey;
        $light-red:    $glob-color-light-red;
        $n: "nth-child";
        &__logos {
            display:grid;
            &.showThemePS {
                grid-template-columns: repeat(12,1fr);
                grid-auto-rows: 180px;
                .v-clients-logo-item {
                    height:210px;
                }
            }
            &.showThemePS &-item:nth-child(7){grid-column: 2/4}
            &.showThemeMd {
                grid-template-columns: repeat(10,1fr);
                grid-auto-rows: 150px;
                .v-clients-logo-item {
                    width:170px;
                    height:180px;
                }
            }
            &.showThemeMd &-item {
                &:nth-child(6){grid-column: 2/4}
            }
            &.showThemeXs {
                grid-template-columns: repeat(6,1fr);
                grid-auto-rows: 80px;
                .v-clients-logo-item {
                    width:87px;
                    height:100px;
                }
            }
            &.showThemeXs &-item:nth-child(4){grid-column: 2/4}
            padding: $space-indent 0;
            column-gap: $space-xs;
            &-item{
                position:relative;
                margin:0; grid-column:2 span
            }
            .v-clients-logo-item {
                width:100%;
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%,-50%);
            }
        }

        &__logos___off {
            display:flex;
            flex-wrap:wrap;
            margin:0 -14px;
            padding:14px 0;
            justify-content: center;
            &-item {
                position:relative;
                margin:-14px 14px;
                .v-clients-logo-item {
                    width:pxem(180);
                    height:pxrem(210);
                }
            }
        }
        &__clients {
            display: grid;
            grid-template-columns: repeat(12, 85px);
            grid-auto-rows: 50px;
            justify-content: space-between;
            gap: 10px;
        }
        
        &__tabs {
            @include flex-container(row, $space-xs);
            flex-wrap: wrap;
            margin-bottom: $space-xs;
            margin-top: $space-2x;
        }
        &__tab {
            @include h(3, $light-red);
            margin-bottom: $space-xs;
            @include trans;
            filter: grayscale(1);
            opacity: .3;
            position: relative;
            &::before {
                content: attr(data-count);
                @include flex-centralize;
                position: absolute;
                min-width: 30px;
                min-height: 20px;
                height: 20px;
                border-radius: 50px;
                color: white;
                background-color: $light-red;
                font-size: 12px;
                right: 5px;
                bottom: calc(100% - 2px);
                padding: 0 4px;
            }
            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
            &.active {
                cursor: default;
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
</style>
