<template lang="pug">
    .ClientListLogos
        top-contents(:title="block.title", :content="block.content")
        slider-swiper(v-bind="options" :classPrefix="rootClass")
            .ClientListLogos__item(v-for="item in block.customers", :key="item.id")
                img(:src="item.image" :alt="item.title").ClientListLogos__item-img
      
</template>

<script>
import VNode from "@/components/VNode";
import SliderSwiper from "@/components/elements/SliderSwiper";
import SliderSwiperControl from "@/components/elements/SliderSwiperControl";


export default {
    name: 'ClientListLogos',
    components: {
      
        SliderSwiperControl,
        SliderSwiper,
        VNode,
    },
    props: {
        block: {
            type: Object,
            default:()=>({})
        }
    },
    data:() => ({
        spaceBetween: 0,
        rootClass: "ClientListLogos", //todo 
     
    }),
    computed: {
        options(){
            return {
                options: {
                    spaceBetween: 50,
                    slidesPerView: 'auto',
                },
            }
        },
    },
}
</script>

<style lang="scss">
    .ClientListLogos {
        .swiper-wrapper {
            justify-content: center;
        }
        &__item {
            display:inline-flex;
            width: 100%;
            justify-content: center;
        }
        .swiper-slide { width: auto }
    }
</style>


