<template lang="pug">
    .ClientReviewList
        h2.h1 Отзывы
        transition-group(name="list" tag="ul").ClientReviewList__list

            li.ClientReviewList__item(v-for="(content, index) in itemList", :key="index+1", v-show="content.active")
                dl.p
                    dt.h3 {{content.title}}
                    =' '
                    dd.small {{content.label}}
                blockquote.blockquote {{content.content}}
</template>

<script>
import TagsStyle from "@/components/TagsStyle";
import VNode from "@/components/VNode";

export default {
    components: {
        VNode,
        TagsStyle,
    },
    props: {
        itemList:{
            type:Array,
            default:[]
        }
    },
}
</script>

<style lang="scss">
    .ClientReviewList {
        $space: $glob-space-2x;
   
        .h1 {
            @include media($min: $glob-viewport-tablet-max) {
                margin-bottom: $space
            }
        }
        
        &__item {
            opacity: 1;
            transform: translateX(0);
        }

        .list-enter-active,
        .list-leave-active,
        .list-move {
            transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
            transition-property: opacity, transform;
        }

        .list-enter {
            opacity: 0;
            transform: translateX(50%);
        }

        .list-enter-to {
            opacity: 1;
            transform: translateX(0);
        }

        .list-leave-to {
            display:none;
            opacity: 0;
            transform: translateX(0);
            position:absolute;
        }
    }
</style>
