<template lang="pug">
    v-section.ClientListWithReviews(container)
        .ClientListWithReviews__wrapper
            client-review-List(:itemList="contents")
            .ClientListWithReviews__clients
                .ClientListWithReviews__header
                    h1.h1 Клиенты
                    v-btn(type="link" to="/clients") Посмотреть всех клиентов
                .ClientListWithReviews__slider
                    v-clients-logo-pattern-slider(:itemList="contents")
</template>

<script>



export default {
    components: {
       
    },
    props: {
        block:{
            type:Object,
            default:()=>({})
        },
        itemList: {
            type: Array,
            default: () => [
                {
                    title:'Втб',
                    label:'Крупнейший частный банк в России',
                    content:'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url:'/upload/img/preview-client-03.png'
                },
                {
                    title:'КИВИ',
                    label:'Крупнейший частный банк в России',
                    content:'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url:'/upload/img/preview-client-01.png'
                },
                {
                    title: 'Альфа-банк',
                    label: 'Крупнейший частный банк в России',
                    content: 'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url: '/upload/img/preview-client-02.png'
                },
                {
                    title: 'Росгос страх',
                    label: 'Крупнейший частный банк в России',
                    content: 'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url: '/upload/img/preview-client-04.png'
                },
                {
                    title: 'Ренесанс',
                    label: 'Крупнейший частный банк в России',
                    content: 'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url: '/upload/img/preview-client-05.png'
                },
                {
                    title: 'Пятерочка',
                    label: 'Крупнейший частный банк в России',
                    content: 'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url: '/upload/img/preview-client-06.png'
                },
                {
                    title:'Втб',
                    label:'Крупнейший частный банк в России',
                    content:'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url:'/upload/img/preview-client-03.png'
                },
                {
                    title:'КИВИ',
                    label:'Крупнейший частный банк в России',
                    content:'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url:'/upload/img/preview-client-01.png'
                },
                {
                    title: 'Росгос страх',
                    label: 'Крупнейший частный банк в России',
                    content: 'Сотрудничаем с 2006 года, отметим расширенные функциональные возможности платформы и готовы рекомендовать Sendsay как надежную платформу для построения эффективного email-маркетинга.',
                    url: '/upload/img/preview-client-04.png'
                },
            ]
        }
    },
    data:() => ({
        currentIndex: 0,
    }),
    methods: {
        setIndex(index) {
            this.currentIndex = index
        },
    },
    computed:{
        contents(){
            return this.itemList.map((item,index) => {
                item.id = index;
                item.active = this.currentIndex === index;
                return item
            })
        }   
    },
    mounted(){
        this.$root.$on('VClientsLogoItemCurrentIndex',this.setIndex)
    },
    beforeDestroy(){
        this.$root.$off('VClientsLogoItemCurrentIndex',this.setIndex)
    }
}
</script>

<style lang="scss">
    .ClientListWithReviews {
        $space:    $glob-space;
        $space-xs: $glob-space-xs;
        
        &__slider { padding-top: $space }
        
        @include media($min:$glob-viewport-tablet-max) {
            &__wrapper {
                grid-template-columns:minmax(300px,453px) minmax(600px,1fr);
                justify-content: space-between;
                position: relative;
                display: grid;
                grid-row-gap: $glob-space-xs;
            }
            &__header {
                position:absolute;
                top: 0; right: 0;
                z-index: 2;
            }
        }
        @include media($max:$glob-viewport-tablet-max) {
            &__wrapper {
                @include flex-container(column-reverse, $space-xs)
            }
            .slider-swiper-control {
                position: absolute;
                bottom: -15px; left: 50%;
                transform: translateX(-50%);
            }
        }
    }
</style>
