<template lang="pug">
    v-section(container).equal-parts
        two-columns(:reverse="block.reverse")
            template(v-slot:left)
                img(:src="block.image", :alt="block.title")
            template(v-slot:right)
                h2.h2(v-if="block.title") {{block.title}}
                tags-style(v-if="block.content" v-html="block.content")
                p
                    v-btn(v-if="block.button_url && block.button_text", :to="block.button_url") {{block.button_text}}
</template>

<script>
import TwoColumns from "@/components/twoColumns";
import VBtn from "@/components/controls/VBtn";

export default {
    components: {
        VBtn,
        TwoColumns},
    name: "equal-parts", 
    data() {
        return {}
    },
    props: {
        reverse: { type: Boolean, default: false },
        block: {
            type: Object,
            default:()=>({})
        },

    },
}
</script>

<style lang="scss"></style>
