<template lang="pug">
    v-section(container).equal-parts-trigers
        two-columns(:reverse="block.reverse")
            template(v-slot:left)
                transition(name="screen" mode="out-in")
                    img(:key="isIndexActive" :src="block.slides[isIndexActive].image" alt="")
            template(v-slot:right)
                h2.h2(v-if="block.title") {{block.title}}
                tags-style(v-if="block.content" v-html="block.content")
                ul.equal-parts-triggers__list

                    li.equal-parts-triggers__item(
                        v-for="(screenshot, index) in block.slides" @click="setActive(index)",
                        :class="{'_active': index === isIndexActive}"
                    )
                        .equal-parts-triggers__img
                            img(:src="screenshot.icon")
                        .equal-parts-triggers__content
                            p(v-if="screenshot.title") {{ screenshot.title }}
                    //template
                        .equal-parts-triggers__item
                            .equal-parts-triggers__img
                                img(src="@/assets/img/include-item-01.png")
                            .equal-parts-triggers__content
                                p Email, Push, сообщения в соцсетях, мессенджерах и SMS c возможностью выбора оптимальных стратегий
            
                        .equal-parts-triggers__item
                            .equal-parts-triggers__img
                                img(src="@/assets/img/include-item-02.png")
                            .equal-parts-triggers__content
                                p Email, Push, сообщения в соцсетях, мессенджерах и SMS c возможностью выбора оптимальных стратегий
            
                        .equal-parts-triggers__item
                            .equal-parts-triggers__decor-img
                                img(src="@/assets/img/include-item-03.png")
                            .v-chess-include__decor-content
                                p Email, Push, сообщения в соцсетях, мессенджерах и SMS c возможностью выбора оптимальных стратегий

</template>

<script>
import TwoColumns from "@/components/twoColumns";


export default {
    components: {
  
        TwoColumns},
    data() {
        return {
            isIndexActive: 0
        }
    },
    props: {
        reverse: { type: Boolean, default: false },
        block: {
            type: Object,
            default:()=>({})
        },

    },
    methods: {
        setActive (index) {
            this.isIndexActive = index
        }
    },
    computed: {
        
    }
}
</script>

<style lang="scss">
    .equal-parts-triggers{
        $tablet-min:     $glob-viewport-tablet-min;
        $space-interval: $glob-space-interval;
        $space-xs:       $glob-space-xs;
        $sky:            $glob-color-sky;
        $border-radius:  $glob-border-radius;
     
            &__list {
                display: flex;
                width: 100%;
                flex-direction: column;
            }
            &__item {
                padding: $space-xs;
                border-radius: $border-radius;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                p { margin-bottom: 0 }
                &._active { background: $sky }
                cursor:pointer;
            }
            &__img {
                min-width: 70px;
                margin-right: $space-interval;
                img { border-radius: 0 }
            }
       
    }
</style>
