<template lang="pug">
    v-section.section-contents(container)
        top-contents(v-bind="block" text-left)
</template>

<script>
export default {
    name: "section-contents", 
    data() {
        return {}
    },
    props:{
        block: {
            type: Object,
            default:()=>({
            
            })
        },
      
    }
}
</script>

<style lang="scss">
    .section-contents{}
</style>
