<template lang="pug">
    v-section(container)
        .v-social-subscribe-wrapper
            .v-social-subscribe-wrapper__label(v-if="block.title")  {{block.title}}
               
            .v-social-subscribe-wrapper__icons
                a(
                :href="social.url",
                :title="social.title || ''"
                target="_blank"
                v-for="social in block.itemList",
                
                )
                    v-hex-figure.v-social-subscribe-wrapper__hexagon
                        img(:alt="social.title", :src="social.url")
            
           
</template>

<script>

import VHexFigure from "@/components/elements/VHexFigure";
import VSection from "@/components/sections/VSection";

export default {
    components: {
        VSection,
        VHexFigure,
      
    },
    props:{
        block: {
            type: Object,
            default:()=>({
                socials:[]
            })
        },
     
    }
}
</script>

<style lang="scss">
.v-social-subscribe-wrapper {
    $space-xs: $glob-space-xs;
    $space-indent: $glob-space-indent;
    $grey: $glob-color-grey;

    @include flex-container(column, $space-xs);
    
    max-width: 360px;
    margin-left: auto; margin-right: auto;
    text-align: center;
    align-items: center;
    
    &__icons { @include flex-container($space: $space-indent) }
    &__label { @include h(5) }
    &__hexagon {
        @include flex-centralize;
        width: 60px;
        height: 70px;
        fill: $grey;
    }
    .v-icon {
        &-fb { fill: #4267B2; svg { width: 13px;  height: 23px }}
        &-yt { fill: #FF0000; svg { width: 29px; height: 20px }}
        &-vk { fill: #527DD1; svg { width: 31px; height: 17px  }}
    }
}
</style>
