<template lang="pug">
    v-section.v-abilities(container :style="{ backgroundImage: `url(${block.bg})` }")
        .v-abilities__wrapper
            .v-abilities__title(@click="initToggle()" v-if="block.title" v-html="block.title")
            .v-abilities__btn
                
                v-btn(
                    v-if="block.button_url && block.button_text"
                    type="filled" ,
                    :to="block.button_url",
                    :label="block.button_text"
                )
            .v-abilities__slider-wrap
                slider-swiper(v-bind="options", @show="val=>sliderShow=val").v-abilities__list
                    v-abilities-item(v-for="(item, index) in block.opportunity_teasers", :key="item.id" v-bind="item")
                    
                slider-swiper-control(:classPrefix="options.classPrefix" v-if="sliderShow")
    
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VAbilitiesItem from "@/components/patterns/VAbilitiesItem";
import VBtn from "@/components/controls/VBtn";
import SliderSwiperControl from "@/components/elements/SliderSwiperControl";
import SliderSwiper from "@/components/elements/SliderSwiper";
import TagsStyle from "@/components/TagsStyle";

export default {
    name: "VAbilities",
    components: {
        TagsStyle,
        SliderSwiper,
        SliderSwiperControl,
        VBtn,
        VAbilitiesItem,
        VContainer,
    },
    data:() => ({
        sliderShow:false,  
    }),
    computed: {
        options() { return {
            sliderOnMaxViewportName:'viewport-tablet-min',
            classPrefix:'v-abilities',
            options: {
                slidesPerView: 1,
                spaceBetween: 20,
                loop: true,
                draggable: true,
                autoplay: { delay: 2500 },
            }
        }},
    },
    props: {
        block: {
            type: Object,
            default:()=>({})
        },
    }
}
</script>

<style lang="scss">
    .v-abilities {
        $space-md: $glob-space-md;
        $color:    $glob-color-white;
        $tablet-medium: $glob-viewport-tablet-medium;
        $tablet-min: $glob-viewport-tablet-min;
        $space-text: $glob-space-text;
        $space: $glob-space;
        
        padding-top: $space-md;
        
        &__slider-wrap {
            width: 100%;
            grid-column: 1/-1;
            margin-top: $space-md;
        }
        &__title { @include h(1, $color) }
        &__list {
            position: relative;
            @include grid(290px);
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__btn {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
        
        @include media($min: $tablet-medium) {
            &__slider-wrap {
                margin-bottom: -$space;
            }
        }
        @include media($max: $tablet-min) {
            &__slider-wrap {
                margin-bottom: $space-text;
            }
            &__paginator {
                margin: 0 auto;
            }
            
        }
        
    }
</style>
