<template lang="pug">
    v-section
        v-container
            .v-chess-constructor
                v-hex-figure.v-chess-constructor__hexagon(v-for="(item, index) in block.features",  :key="item.id")
                    .v-chess-constructor__content
                        div.v-chess-constructor__header
                            h3.h3(v-if="item.title" v-html="item.title")
                            img(v-if="item.image" :src="item.image", :alt="item.title").v-chess-constructor__img
                        tags-style(v-if="item.content" v-html="item.content").v-chess-constructor__text
                        v-btn.v-chess-constructor__link(
                            v-if="item.button_text && item.button_url"
                            type="link",
                            :to="item.button_url"
                            ) {{item.button_text}}
                       
                   
                //template
                    v-hex-figure.v-chess-constructor__hexagon
                        .v-chess-constructor__content
                            div.v-chess-constructor__header
                                h3.h3 Автоматизируйте продажи
                                img(src="@/assets/img/constructor-1.png").v-chess-constructor__img
                            p.p Повышайте продажи, отправляя клиентам автоматические рассылки с персональными предложениями в идеальное время.
                    
                    v-hex-figure.v-chess-constructor__hexagon
                        .v-chess-constructor__content
                            div.v-chess-constructor__header
                                h3.h3 Повышайте лояльность
                                img(src="@/assets/img/constructor-2.png").v-chess-constructor__img
                            p.p Управляйте взаимоотношениями с клиентами через удобные им каналы
    
                    v-hex-figure.v-chess-constructor__hexagon
                        .v-chess-constructor__content
                            div.v-chess-constructor__header
                                h3.h3 Наведите порядок #[br] в данных
                                img(src="@/assets/img/constructor-3.png").v-chess-constructor__img
                            p.p Объедините всю информацию о клиентах из различных систем и сайтов в одной платформе
                            v-link(href="#" target="_blank").v-chess-constructor__link Посмотреть все интеграции
    
                    v-hex-figure.v-chess-constructor__hexagon
                        .v-chess-constructor__content
                            div.v-chess-constructor__header
                                h3.h3 Защитите ваши коммуникации
                                img(src="@/assets/img/constructor-4.png").v-chess-constructor__img
                            p.p Воспользуйтесь надежным безотказным транспортом для ваших сообщений, имеющим аттестат соответствия закону о персональных данных

</template>

<script>
import VHexFigure from "@/components/elements/VHexFigure";
import VLink from "@/components/tags/VLink";
import HexFigureTest from "@/components/test/HexFigureTest";
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";
import VBtn from "@/components/controls/VBtn";
export default {
    name: "VChessConstructor",
    components: {
        VBtn,
        VSection,
        VContainer,
        HexFigureTest,
        VLink,
        VHexFigure
    },
    props: {
        block: {
            required: false,
            type: Object,
            default:()=>({})
        },
    }
}
</script>

<style lang="scss">
    .v-chess-constructor {
        $tablet-max: $glob-viewport-tablet-max;
        $tablet-min: $glob-viewport-tablet-min;
        $space-interval: $glob-space-interval;
        $sky: $glob-color-sky;
        $space-min: $glob-space-min;
        $space-indent: $glob-space-indent;
        $space: $glob-space;
        $p: ".v-chess-constructor";
        $n: "nth-child";

        &__hexagon {
            height: 440px;
            width: 100%;
            max-width: 390px;
            min-width: 340px;
            fill: $sky;
            display: flex;
            flex-direction: column;
            #{$p}__img { position: absolute }
        }
        &__link { margin-top: $space-interval }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            max-width: 260px;
            max-height: 220px;
            height: 100%;
            width: 100%;
            box-sizing: content-box;
            position: relative;
            p { margin-bottom: 0 }
            h3 {
                max-width: 220px;
                max-height: 2em;
                overflow: hidden;
            }
        }
        &__text {
            max-height: 152px;
            overflow: hidden;
        }

        @include media($min: $tablet-min) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            row-gap: $space-min;
            grid-auto-rows: 330px;
            padding-bottom: 220px;
            &__hexagon {
                &:#{$n}(4n - 3) { grid-column: 1/3 }
                &:#{$n}(4n - 2) { grid-column: 4/6 ; }
                &:#{$n}(4n - 1) { grid-column: 2/4 ; grid-row: auto/span 1 }
                &:#{$n}(  4n  ) { grid-column: 5/7 ; grid-row: auto/span 1 }
                
                &:#{$n}(4n - 2),
                &:#{$n}(  4n  ) { margin-top: 25% }
                
                &:#{$n}(  4n  ),
                &:#{$n}(4n - 1) {
                    #{$p}__content {
                        h3 { padding-right: 0; }
                        align-items: flex-end;
                        text-align: right;
                    }
                    #{$p}__img {
                        top: 50%; right: 100%;
                        bottom: auto; left: auto;
                        transform: translate(0, -50%);
                        max-width: 15vw;
                        min-width: 8vw;
                    }
                }
                &:#{$n}(4n - 2),
                &:#{$n}(4n - 3) {
                    #{$p}__header { position: relative; }
                    #{$p}__img {
                        top: 0;  bottom: 100%;
                        left: calc(100% + 5px);
                        transform: translate(0, calc(-100% - 10px));
                        max-width: 15vw;
                        min-width: 12vw;
                    }
                }
                &:#{$n}(4n - 3),
                &:#{$n}(4n - 1) {
                    &:before {
                        @include hexagon;
                        position: absolute;
                        width: 6vw; height: 6vw;
                        left: calc(113%);
                    }
                }
                &:#{$n}(4n - 3):before { bottom: 25% }
                &:#{$n}(4n - 1):before { top: 40% }
            }
        }
        
        @include media($min: $tablet-min, $max: $tablet-max) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: $space-indent;
            grid-row-gap: 110px;
            &__hexagon {
                max-width: 390px;
                min-width: 340px;
                grid-column: auto !important; grid-row: auto !important;
                &:#{$n}(4n - 1), &:#{$n}(4n) { margin-left: auto }
            }
        }
        
        @include media($max: $tablet-min) {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img {
                left: 50%;
                bottom: calc(100% - 150px);
                transform: translate(-50%, 0);
            }
            
            &__hexagon {
                width: 520px;
                height: 520px;
                max-width: none;
                &:#{$n}(odd)  { 
                    margin-right: -$space;
                    #{$p}__content {padding-right: $space}
                }
                &:#{$n}(even) { 
                    margin-left: -$space;
                    #{$p}__content {padding-left: $space}
                }
                &:not(:last-child) { margin-bottom: 25px }
            }
        }
    }
</style>
