<template lang="pug">
    .v-clients-logo-pattern-list(v-resize @resize="onResize",  :class="classThemeMd")
        template(
            v-for="(logo, index) in itemList",
        )
            .v-clients-logo-pattern-list__item(:class="setClass(logo,index)")
                v-clients-logo-item(@click="setIndex(logo.id)", :active="logo.active")
                    img(v-if="logo", :src="logo.url", :alt="logo.title")
            .v-clients-logo-pattern-list__item.v-clients-logo-pattern-list__item_row(v-if="index==0 ||index==2")
</template>

<script>
import VClientsLogoItem from "@/components/patterns/VClientsLogoItem";

export default {
    components: {
        VClientsLogoItem,
    },
    props:{
        itemList:{
            type:Array,
            default:()=>[]
        }
    },
    data:() => ({
        width:null,
       
    }),
    methods: {
        setIndex(index){
            this.$root.$emit('VClientsLogoItemCurrentIndex',index)    
        },
        setClass(logo,index){
            let obj={}
            obj[`v-clients-logo-pattern-list__item_`+index]=true
            return obj   
        },
        onResize(e) {
           
            let width = e?.detail?.width
            if (width) {
                this.width = width;
            }
        },
    },
    computed: {
        classThemeMd(){
            if(this.itemList.length!=6) return ''
            return (this.width<=750 && this.width>=600)?'theme-md':'' 
        } 
    },
    mounted(){
        this.$root.$emit('VClientsLogoItemCurrentIndex',0)
    }
}
</script>

<style lang="scss">
    .v-clients-logo-pattern-list{
     
        //width:600px;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;

        &.theme-md {
            //max-width:600px;
        }
        &.theme-md &__item {
           
            .v-clients-logo-item {
                margin-top:0;
                margin-bottom:0;
            }
         
            &_row {
                display:block;
            }
            &_0 {
                margin-bottom: -108px;
            }
            &_1 {
                transform: translate(38px, 69px);
            }
            &_2 {
                transform: translate(36px, 53px);
            }
            &_3 {
                transform: translate(0px, -62px);
            }
            &_5 {
                transform: translate(0px, -16px);
            }
        }
      
        &__item {
            display:inline-flex;
            align-items:center;
            justify-content:center;
            
            .v-clients-logo-item {
        
                margin:5px 15px;
            }
            &_row {
                display:none;
                width:100%;
            }
            &_0 {
                .v-clients-logo-item{
                    width:149px;
                    height:174px;
                }
            } 
            &_1 {
                .v-clients-logo-item{
                    width:199px;
                    height:232px;
                }
            } 
            &_2 {
                .v-clients-logo-item{
                    width:263px;
                    height:310px;
                }
            } 
            &_3 {
                
                .v-clients-logo-item{
                    width:130px;
                    height:151px;
                }
            } 
            &_4 {
                .v-clients-logo-item{
                    width:242px;
                    height:282px;
                }
                
            } 
            &_5 {
                .v-clients-logo-item{
                    width:130px;
                    height:150px;
                }
            } 
            
         
        }
    }
</style>
