<template lang="pug">
    .v-clients-logo-item(:class="{'active':active}" v-on="$listeners")
        .v-clients-logo-item__inner
            .v-clients-logo-item__img
                slot
</template>

<script>
export default {
    name: "v-clients-logo-item", 
    data() {
        return {}
    },
    props: {

        active:{
            type:Boolean,
            default:false
        }
    },
}
</script>

<style lang="scss">
    .v-clients-logo-item{
      
        $bg:$glob-color-dark-red;
        $box-shadow: $glob-box-shadow;
        $grey: $glob-color-grey;
        $white: $glob-color-white;
      
        &.active,&:hover {
            filter: drop-shadow($box-shadow);
            @include trans;
        }
        &.active &__inner {
            background-color:$bg;
            &::before {
                margin:4px;
                background-color:$white;
            }
        }
        &__inner {
            height: 100%;
            width: 100%;
            background-color:$grey;
            position:relative;
            @include trans;
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            //display:inline-flex;
            display:inline-flex;
            align-items:center;
            justify-content:center;
            cursor:pointer;
            padding:1em;
            
            &::before{
                content:'';
                @include abs-stretch;
                clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                background-color:$grey;
                @include trans;
                transition-duration:.1s;

            }
        }
        &__img {
            position:relative;
            z-index:1;
        }
    }
</style>
