<template lang="pug">
    v-section
        v-container.v-content-badges
            .v-content-badges__item
                v-hex-figure.v-content-badges__hexagon
                    img(src="@/assets/img/badge-01.png")
                tags-style.v-content-badges__content
                    h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .v-content-badges__item
                v-hex-figure.v-content-badges__hexagon
                    img(src="@/assets/img/badge-02.png")
                tags-style.v-content-badges__content
                    h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .v-content-badges__item
                v-hex-figure.v-content-badges__hexagon
                    img(src="@/assets/img/badge-03.png")
                tags-style.v-content-badges__content
                    h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
            .v-content-badges__item
                v-hex-figure.v-content-badges__hexagon
                    img(src="@/assets/img/badge-02.png")
                tags-style.v-content-badges__content
                    h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            
            
    
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VHexFigure from "@/components/elements/VHexFigure";
import VIcon from "@/components/VIcon";
import TagsStyle from "@/components/TagsStyle";
import VSection from "@/components/sections/VSection";

export default {
    name: "VContentBadges",
    components: {
        VSection,
        TagsStyle,
        VIcon,
        VHexFigure,
        VContainer,
    },
}
</script>

<style lang="scss">
    .v-content-badges {
        $tablet-min: $glob-viewport-tablet-min;
        $space:      $glob-space;
        $sky:        $glob-color-sky;
        @include flex-container(column, 25px);
        &__item {
            display: grid;
            grid-template-columns: 2fr 10fr;
            column-gap: $space;
        }
        &__hexagon {
            fill: $sky;
            height: 160px;
        }
        &__content {
            padding-top: 45px;
            p:last-child { margin-bottom: 0 }
        }

        @include media($max: $tablet-min) {
            &__item { grid-template-columns: 1fr }
        }
    }
</style>
