<template lang="pug">
    v-section: v-container
        .v-content-new
            .v-content-new__img
                img(src="/upload/img/video-preview-02.jpg")
            .v-content-new__content
                .v-content-new__main
                    .h2 Как изменился email- маркетинг за последние 5 лет?
                    .p И почему он остается одним из главных инструментов повторных продаж?
                .v-content-new__date.small 29 Октября, 2020

</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";

export default {
    name: "VContentNew",
    components: {
        VSection,
        VContainer,
    },
}
</script>

<style lang="scss">
    .v-content-new {
        $border-radius:  $glob-border-radius;
        $space-xs:       $glob-space-xs;
        $space-interval: $glob-space-interval;
        height: 420px;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 420px;
        border-radius: $border-radius;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
        &__img {
            position: relative;
            background: linear-gradient(180deg, rgba(52, 56, 148, 0) 0%, rgba(52, 56, 148, 0.375) 0.01%, rgba(52, 56, 148, 0.75) 99.59%);
            img {
                @include img-stretch;
                z-index: -1;
            }
        }
        &__content {
            padding: $space-xs;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
        @include media($min: $glob-viewport-tablet-min) {
            &__img, &__img img {
                border-bottom-left-radius: $space-interval;
                border-top-left-radius:    $space-interval;
            }
        }
        @include media($max: $glob-viewport-tablet-min) {
            grid-template-columns: 1fr;
            height: auto;
            &__img, &__img img {
                border-top-left-radius:  $space-interval;
                border-top-right-radius: $space-interval;
            }
            &__img {
                height: 300px;
            }
        }
    }
</style>
