<template lang="pug">
    v-section
        v-container
            .v-content-slider(v-resize @resiz="onResize" ref="slider")



                slider-swiper(v-bind="options", :classPrefix="rootClass").v-content-slider__slider
                    .v-content-slider__item(v-for="slide in block.slides" :key="slide.id")
                        .v-content-slider__container
                            .v-content-slider__space
                                .v-content-slider__arrow.v-content-slider__arrow_prev(:class="rootClass+'__arrow_prev'")
                                    arrow
                            img(v-if="slide.image", :src="slide.image", :alt="slide.title").v-content-slider__img
                            .v-content-slider__space
                                .v-content-slider__arrow.v-content-slider__arrow_next(:class="rootClass+'__arrow_next'")
                                    arrow
                        .v-content-slider__container
                            .v-content-slider__space
                            .v-content-slider__description
                                .h4(v-if="slide.title" v-html="slide.title")
                                .p(v-if="slide.content" v-html="slide.content")
                            .v-content-slider__space





                .v-content-slider__dots
                    slider-swiper-control(:classPrefix="rootClass").v-content-slider__options


</template>

<script>
    import VContainer from "@/components/sections/VContainer";
    import SliderSwiper from "@/components/elements/SliderSwiper";
    import SliderSwiperControl from "@/components/elements/SliderSwiperControl";
    import VSection from "@/components/sections/VSection";
    import arrow from '@/assets/icons/other/arrow.svg'

    import lodash_ranfom from 'lodash/random'

    /*const randomClass  = lodash_ranfom(123123)
    console.log(randomClass);*/
    //import randomClass from '@/helpers/randomClass'
    //const randomClass = `id-${Math.round(Math.random() * 1000000)}`
    const randomClass = `kakos`

    export default {
        name: "VContentSlider",
        components: {
            VSection,
            SliderSwiperControl,
            SliderSwiper,
            VContainer,
            arrow,
        },
        props: {
            block: {
                required: true,
                type: Object,
                default: () => ({
            /*        "id": 58,
                    "slides": [{
                        "content": "<p>Создавайте красивый дизайн писем под десктопные и мобильные устройства, персонализируйте ваши обращения по имени, полу и предпочтениям.</p>",
                        "id": 11,
                        "image": "/media/slides/%D0%90%D0%BA%D1%86%D0%B8%D1%8F-%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%B8%D0%BA%D0%B0_19.png",
                        "title": "Блочный Drag’n’Drop редактор"
                    }, {
                        "content": "<p>Все данные о каждом отправленном сообщении, открытиях писем и карте кликов&nbsp;по вашим рассылкам собираются в удобном рабочем пространстве Sendsay</p>",
                        "id": 12,
                        "image": "/media/slides/%D0%94%D0%B0%D0%B9%D0%B4%D0%B6%D0%B5%D1%81%D1%823_20.png",
                        "title": "Статистика рассылок"
                    }, {
                        "content": "<p>Гарантирует индивидуальный подход к каждому клиенту за счет полной персонализации макета, &nbsp;динамического контента и товарных рекомендаций.&nbsp;</p>",
                        "id": 13,
                        "image": "/media/slides/%D0%94%D0%B0%D0%B9%D0%B4%D0%B6%D0%B5%D1%81%D1%823_11.png",
                        "title": "Персонализация"
                    }, {
                        "content": "<p>Гибкий редактор форм, позволяет&nbsp;создавать опросы (как на сайте, так и в письмах), формы подписки, анкеты и сбор обратной связи с любыми сценариями активации и&nbsp;показа. Все результаты автоматически учитываются системой и могут быть мгновенно использованы для автоматизации рассылок.</p>",
                        "id": 14,
                        "image": "/media/slides/%D0%9D%D0%B0%D0%B2%D1%81%D1%82%D1%80%D0%B5%D1%87%D1%83-%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D1%8F%D0%BC_12.png",
                        "title": "Формы и опросы"
                    }, {
                        "content": "<p>Превратите свои рассылки в автоматического продавца, чутко реагирующего персональными предложениями на любое поведение клиента. Транзакционные сообщения, забытая корзина, реактивация клиентов и отправка писем по расписанию, определение лучшего времени для рассылки.</p>",
                        "id": 15,
                        "image": "/media/slides/%D0%94%D0%B0%D0%B9%D0%B4%D0%B6%D0%B5%D1%81%D1%822_14.png",
                        "title": "Автоматизация"
                    }],
                    "type": "slider",
                    "vueComponentName": "VContentSlider"*/
                })
            }
        },
        data: () => ({
            rootClass: randomClass,
        }),
        computed: {
            options() {
                return {
                    options: {
                        slidesPerView: 1,
                        navigation: {
                            prevEl: `.${this.rootClass}__arrow_prev`,
                            nextEl: `.${this.rootClass}__arrow_next`,
                        }
                    },

                }

            },
        },
        methods: {
            onResize() {
                console.log(this.$refs.slider);
            }
        }
    }
</script>

<style lang="scss">
    .v-content-slider{
        $space-2xs: $glob-space-2xs;
        $border-radius: $glob-border-radius;
        $light-grey: $glob-color-light-grey;
        $light-sky: $glob-color-light-sky;
        $light-grey: $glob-color-light-grey;
        $white: $glob-color-white;
        $light-red: $glob-color-light-red;
        position:relative;
        //width: calc(100% - 210px); // (arrow width + offset) * 2 => refactor
        margin: 0 auto;

        &__container{
            display:grid;
            grid-template-columns: $space-2xs 1fr $space-2xs;
            gap:pxem(45);
            justify-content:center;
            align-items:center;
        }

        &__img{
            height:440px;
            border-radius:$border-radius;
            
            width:100%;
            object-fit:cover;
        }

        &__description{
            margin-top:25px;
            display:flex;
            flex-direction:column;
            align-items:center;
            text-align:center;
        }

        &__slider{ border-radius:$border-radius }
        &__dots{ @include flex-centralize }

        &__arrow{
            $offset:0;
            &_prev, &_next{
                @include trans;
                cursor:pointer;
                width:60px;
                height:60px;
                background-color:$light-sky;
                border-radius:10px;
                padding:0;
                display:flex;
                align-items:center;
                justify-content:center;
                svg{ fill: $light-grey }
                &:hover{
                    background-color: $light-red;
                    svg{ fill:$white }
                }
            }
            &_prev{ }
            &_next{
                svg{ transform:scaleX(-1) }
            }
        }

    }
</style>
