<template lang="pug">
    v-section
        v-container
            .v-content-grid
                //v-content-grid-item(:col="1" :img="`${require('@/assets/img/img-1.png')}`")
                //v-content-grid-item(:col="1" :img="`${require('@/assets/img/img-1.png')}`")
                //v-content-grid-item(:col="1" :img="`${require('@/assets/img/img-1.png')}`")
                //v-content-grid-item(:col="2" :img="`${require('@/assets/img/img-1.png')}`")
                //v-content-grid-item(:col="2" :img="`${require('@/assets/img/img-1.png')}`")
                .v-content-grid__item
                    v-content-grid-item(:img="`${require('@/assets/img/img-1.png')}`")
                .v-content-grid__item
                    v-content-grid-item(:img="`${require('@/assets/img/img-1.png')}`")
                        v-btn(label="Попробовать бесплатно").v-content-grid-item__btn
                .v-content-grid__item
                    v-content-grid-item(:img="`${require('@/assets/img/img-1.png')}`")
                .v-content-grid__item
                    v-content-grid-item(:img="`${require('@/assets/img/img-1.png')}`")
                        v-btn(label="Попробовать бесплатно").v-content-grid-item__btn
                .v-content-grid__item
                    v-content-grid-item(:img="`${require('@/assets/img/img-1.png')}`")
    
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VContentGridItem from "@/components/patterns/VContentGridItem";
import VSection from "@/components/sections/VSection";

export default {
    name: "VContentGrid",
    components: {
        VSection,
        VContentGridItem,
        VContainer
    },
}
</script>

<style lang="scss">
    .v-content-grid {
        $space-indent: $glob-space-indent;
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        margin:0 -$space-indent;
        &__item {
            padding: $space-indent;
            flex:1 0 33%;
            max-width:50%;
            min-width:290px;
        }
    }
</style>
