<template lang="pug">
    v-section
        v-container
            top-contents(:title="block.title", :content="block.content")
            ul.v-content-person
                li.v-content-person__item(v-for="(item, index) in block.collaborators" :key="item.id")
                    img(:src="item.image", :alt="item.title").v-content-person__img
                    .v-content-person__content
                        .h4 {{item.title}}
                        .small Lorem Ipsum is simply dummy text
            //template
                .v-content-person__item
                    img(src="@/assets/img/person-01.jpg").v-content-person__img
                    .v-content-person__content
                        .h4 Константин Константинопольский
                        .small Lorem Ipsum is simply dummy text
                .v-content-person__item
                    img(src="@/assets/img/person-01.jpg").v-content-person__img
                    .v-content-person__content
                        .h4 Константин Константинопольский
                        .small Lorem Ipsum is simply dummy text
                .v-content-person__item
                    img(src="@/assets/img/person-01.jpg").v-content-person__img
                    .v-content-person__content
                        .h4 Константин Константинопольский
                        .small Lorem Ipsum is simply dummy text
                .v-content-person__item
                    img(src="@/assets/img/person-01.jpg").v-content-person__img
                    .v-content-person__content
                        .h4 Константин Константинопольский
                        .small Lorem Ipsum is simply dummy text
            
            
    
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VHexFigure from "@/components/elements/VHexFigure";
import VIcon from "@/components/VIcon";
import TagsStyle from "@/components/TagsStyle";
import VSection from "@/components/sections/VSection";
import TopContents from "@/components/elements/TopContents";

export default {
    name: "VContentPerson",
    components: {
        TopContents,
        VSection,
        TagsStyle,
        VIcon,
        VHexFigure,
        VContainer,
    },
    props: {
        block: {
            type: Object,
            default:()=>({})
        },

    }
}
</script>

<style lang="scss">
    .v-content-person {
        $gap: $glob-space-xs;
        $space-min: $glob-space-min;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 110px;
        row-gap: $gap;
        &__img {
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            height: 230px;
            width: 200px;
            object-fit: cover;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__content {
            @include flex-container(column, $space-min);
            margin-top: $space-min;
            text-align: center;
        }
    }
</style>
