<template lang="pug">
    v-section
        v-container.v-content-video
            .v-content-video__wrapper
                .v-content-video__cover
                    v-play.v-content-video__play
                    .v-content-video__caption(v-if="theme === 'includes'")
                        | Как изменился email- маркетинг за последние 5 лет?
                iframe(width="560" height="315" frameborder="0" :src="srcInit").v-content-video__broadcaster

            .v-content-video__caption(v-if="theme === 'primary'")
                | Как изменился email- маркетинг за последние 5 лет?

</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";

export default {
    name: "VContentVideo",
    components: {
        VSection,
        VContainer,
    },
    data:() => ({
        url: "https://www.youtube.com/embed/cGmWwFpNIHg" + "?" + "autoplay=1",
    }),
    props: {
        startVideo: { type: Boolean, default: false },
        theme:      { type: String, default: "primary" },
    },
    computed: {
        srcInit()   { if (this.startVideo) return this.url },
        classInit() { if (this.startVideo) return "start-video" },
    }
}
</script>

<style lang="scss">
    .v-content-video {
        $space-xs: $glob-space-xs;
        $border-radius: $glob-border-radius;
        &__wrapper {
            height: 510px;
            width: 100%;
            position: relative;
        }
        &__cover {
            background: linear-gradient(180deg, rgba(52, 56, 148, 0) 0%, rgba(52, 56, 148, 0.5) 53.24%, #343894 99.59%), url(/upload/img/video-preview-02.jpg) no-repeat center/cover;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 $space-xs 0;
            cursor: pointer;
            border-radius: $border-radius;
            &:hover { .v-play { &__wrapper { &-layer { transform: scale(1); opacity: 0 } } } }
        }

        &__caption {
            @include h(4);
            margin-top: 25px;
        }
        &__wrapper .v-content-video__caption {
            color: white;
            padding-bottom: $space-xs;
            margin-top: 0;
        }

        &__cover, &__broadcaster { @include img-stretch }
        &__broadcaster { display: none }
        &__play {
            @include flex-centralize;
            height: 100%;
            align-self: center;
            .v-play__wrapper {
                width: 140px;
                height: 160px;
            }
            .v-play__icon {
                svg {
                    width: 29px;
                    height: 47px;
                }
            }
        }

        &.start-video & {
            &__broadcaster { display: block }
            &__cover       { display: none }
        }
    }
</style>
