<template lang="pug">
    .v-dropdown(:class="openDropdownClass")
        tags-style.v-dropdown__content
            h3 AMP + опросы
            p Email, Push, сообщения в соцсетях, мессенджерах и SMS c возможностью выбора оптимальных стратегий и сочетаний: как для расширения охвата, так и для минимизации бюджета Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet Email, Push, сообщения в соцсетях, мессенджерах и SMS c возможностью выбора оптимальных стратегий и сочетаний: как для расширения охвата, так и для минимизации бюджета
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet
        .v-dropdown__toggle-icon(@click="dropdownHandler")
</template>

<script>
import to_open_dropdown from '@/assets/icons/other/to-open-dropdown.svg';
import TagsStyle from "@/components/TagsStyle";

export default {
    name: 'VDropdown',
    components: {
        TagsStyle,
        to_open_dropdown,
    },
    data:() => ({
        isDropdownOpen: false,
    }),
    methods: {
        dropdownHandler() { this.isDropdownOpen = !this.isDropdownOpen }
    },
    computed: {
        openDropdownClass() { return this.isDropdownOpen ? "open-dropdown" : null }
    }
}
</script>

<style lang="scss">
    .v-dropdown {
        $sky: $glob-color-sky;
        $border-radius: $glob-border-radius;
        $space-xs: $glob-space-xs;
        $space-md: $glob-space-md;
        $white: $glob-color-white;
        $space-xs: $glob-space-xs;
        $light-red: $glob-color-light-red;
        padding: $space-xs $space-md $space-xs $space-md;
        background: $sky;
        border-radius: $border-radius;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include trans;
        &__content {
            height: 90px;
            overflow: hidden;
            max-width: 900px;
            @include trans;
            p:last-child { margin-bottom: 0 }
        }
        &__toggle-icon {
            position: relative;
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
            cursor: pointer;
            &::before, &::after {
                @include trans;
                content: '';
                width: 100%;
                height: 2px;
                border-radius: 50px;
                background: $light-red;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }
            
        }
        &.open-dropdown {
            background: $white;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
        }
        &.open-dropdown & {
            &__content {
                height: auto;
            }
            &__toggle-icon {
                &::after {
                    transform: rotate(90deg);
                }
            }
        }
        @include media($max: $glob-viewport-tablet-min) {
            padding: $space-xs;
        }
    }
</style>


