<template lang="pug">
    .v-dropdowns
        v-container
            .v-dropdowns__wrapper
                v-dropdown
                v-dropdown
                v-dropdown
</template>

<script>

import VDropdown from "@/components/blocks/VDropdown";
import VContainer from "@/components/sections/VContainer";
export default {
    name: 'VDropdowns',
    components: {
        VContainer,
        VDropdown},
    
}
</script>

<style lang="scss">
    .v-dropdowns {
        $space-min: $glob-space-min;
        &__wrapper {
            @include flex-container(column, $space-min);
        }
    }
</style>


