<template lang="pug">
    v-section
        overlay(
            :reverse="true"
            :img="block.bg",
            :color="block.color",
            :opacity="'0.'+block.opacity",
        ).v-first-screen
            v-container
                v-banner.v-first-screen__wrapper(
                    :class="defGrid" ,
                    :include="false", 
                    :img="block.image"
                )
                    top-contents(:title="block.title", :content="block.content")

                    v-reg-include(v-if="type === 'reg' && block.reg_button_tex" theme="inline" :max="true").v-first-screen__reg
                        template(v-slot:btn) {{block.reg_button_text}}
                    .v-first-screen__btn
                        v-btn(
                            v-if="type === 'simple' && block.button_text && block.button_url",
                            :to="block.button_url",
                            :label="block.button_text"
                        )

            
</template>

<script>

import VBtn from "@/components/controls/VBtn";

import VBanner from "@/components/patterns/VBanner";
import Overlay from "@/components/patterns/Overlay";
import VRegInclude from "@/components/forms/VRegInclude";


export default {
    name: "VFirstScreen",
    components: {
      
        VRegInclude,
        Overlay,
        VBanner,
     
        VBtn,
   
    },
    props: {
        block: {
            type: Object,
            default:()=>({})
        },
        type: {
            type: String,
            default: "simple"
        }
    },
    computed: {
        defGrid() {
            return (this.type === 'reg') ? 'v-first-screen__wrapper_reg' : 'v-first-screen__wrapper_simple'
        }
    }
}
</script>

<style lang="scss">
    .v-first-screen {
        $bg:   $glob-color-light;
        $p-fs: $glob-fs-h35;
        $space-text: $glob-space-text;
        $space-2x:   $glob-space-2x;
        $space-md: $glob-space-md;
        $space-2xs: $glob-space-2xs;
        $space-xs: $glob-space-xs;
        $tablet-min:    $glob-viewport-tablet-min;
        $p: ".v-first-screen";
        $i: ".v-banner__img";
        
        min-height: 680px;
        padding-bottom: $space-2xs;
        &__wrapper {
            &_simple {
                grid-template-columns: minmax(400px, 420px) 1fr;
            }
            &_reg {
                grid-template-columns: minmax(400px, 600px) 1fr;
            }
            grid-template-rows: auto;
            margin-bottom: $space-md;
            & > *:not(.v-banner__img) { 
                grid-column: 1/2;
            }
            #{$i} { 
                grid-column: -2/-1; 
                grid-row: 1/4;
            }
            p  { font-size: $p-fs }
            .h1 { padding-top: $space-2x }
        }

        &__btn { padding-top: $space-xs }
        &__reg {
            .v-reg-include__area {
                border: 1px solid #CACAD7;
                padding-right: 6px;
            }
        }

        @include media($max: $tablet-min) {
            &__wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                .h1         { order: 1 }
                p          { order: 2 }
                #{$i}      { order: 3 }
                #{$p}__btn,
                #{$p}__reg { order: 4 ; margin-top: $space-xs }
            }
        }
    }
</style>
