<template lang="pug">
    v-section
        v-container
            top-contents(:title="block.title", :content="block.content")
            .v-include-constructor
                v-include-constructor-item(v-for="(item, index) in block.points", :key="item.id")
                    h3.h3(v-if="item.title" v-text="item.title") AMP + опросы
                    tags-style(v-if="item.content" v-html="item.content")
</template>

<script>
    import VContainer from "@/components/sections/VContainer";
    import VIncludeConstructorItem from "@/components/patterns/VIncludeConstructorItem";
    import TagsStyle from "@/components/TagsStyle";
    import VSection from "@/components/sections/VSection";
    import TopContents from "@/components/elements/TopContents";

    export default {
        name: 'VIncludeConstructor',
        components: {
            TopContents,
            VSection,
            TagsStyle,
            VIncludeConstructorItem,
            VContainer,
        },
        props: {
            block: {
                type: Object,
                default:()=>({})
            },
        }
    }
</script>
<style lang="scss">
    .v-include-constructor {
        $space-2xs: $glob-space-2xs;
        $space: $glob-space;
        $space-interval: $glob-space-interval;
        display: grid;
        grid-template-columns: calc(50% - 1px) calc(50% + 1px);
        grid-auto-rows: minmax(160px, auto);
        row-gap: $space;
        margin: $space-2xs 0;

        @include media($max: $glob-viewport-tablet-max) {
            grid-template-columns: 1fr;
            row-gap: $space-interval;
            grid-auto-rows: auto;
        }
    }
</style>
