<template lang="pug">
    .v-media-news-item
        v-btn(:to="button_url" v-if="button_url").v-media-news-item__link Перейти
        .v-media-news-item__preview
            img(:src="img", :alt="imgTitle").v-media-news-item__img
            .v-media-news-item__logo: img(:src="logoUrl", :alt="logoTitle")
        tags-style.v-media-news-item__content
            slot
</template>

<script>
import TagsStyle from "@/components/TagsStyle";
import VBtn from "@/components/controls/VBtn";
export default {
    name: "VMediaNewsItem",
    components: {
        VBtn,
        TagsStyle},
    props: {
        button_url:  { type: String, default:'' },
        imgTitle:  { type: String, default:'' },
        img:  { type: String, default:'' },
        logoUrl: { type: String, default:''},
        logoTitle: { type: String, default:''},
    }
}
</script>

<style lang="scss">
    .v-media-news-item {
        $box-shadow: $glob-box-shadow;
        $border-radius: $glob-border-radius;
        $space-2xs: $glob-space-2xs;
        $space-xs: $glob-space-xs;
        $space-min: $glob-space-min;
                
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        &__content {
            padding: $space-2xs$space-xs $space-min;
        }
        &__preview {
            border-radius: $border-radius;
            position: relative;
            height: 210px;
        }
        &__img { @include img-stretch; border-radius: $border-radius }
        &__logo {
            position: absolute;
            top: 100%; left: 30px;
            transform: translate(0, -50%);
            width: 60px;
            height: 70px;
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            img { width: 100%; height: 100% }
        }
        
        &__link {
            @include abs-stretch;
            opacity:0;
        }
    }
</style>
