<template lang="pug">
    v-section.v-news(container)
        .v-news__list
            //.v-news__item(v-for="(item, index ) in $slots.item", :key="`${index}li`")
                v-node(:node="item")
            .v-news__item(v-for="( block, index ) in blocks" :key="`${index}li`")
                top-contents(v-bind="options(block)")
                v-btn(type="link", :to="block.button_url" v-if="block.button_url") Посмотреть все статьи
                blocks(:blocks="[block]").v-news__content
      
            
                
        
</template>

<script>

import VMediaVideo from "@/components/patterns/VMediaVideo";

import VMediaNews from "@/components/patterns/VMediaNews";
import VNode from "@/components/VNode";
import TagsStyle from "@/components/TagsStyle";
import Blocks from "@/components/blocks";
import TopContents from "@/components/global/TopContents";

export default {
    name: "VNews",
    components: {
        TopContents,
        Blocks,
        TagsStyle,
        VNode,
        VMediaNews,
        VMediaVideo,
    },
    props:{
        blocks: {
            type: Array,
            default:()=>([])
        },
    },
    methods:{
        options(block){
            console.log(block);
            let obj = {
                title:block?.title,
                content:block?.content,
                textLeft:true
            }
            return obj    
        }
    }
    
    
}
</script>

<style lang="scss">
    .v-news {
        $tablet-min:    $glob-viewport-tablet-min;
        $tablet-medium: $glob-viewport-tablet-medium;
        $space:         $glob-space;
        $space-xs:      $glob-space-xs;
        
        &__list {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: $space-xs;
            @include media($min: $tablet-min) {
                grid-template-columns:minmax(290px, 1fr) 2fr;
            }
            @include media($min: $tablet-medium) {
                grid-template-columns: minmax(550px, 1fr) 1fr;
                grid-template-rows: inherit;
            }
            @include media($max: $tablet-min) {
                &__content { height: auto }
            }
        }
        
        
        
        &__content {
            margin-top: $space;
            height: 500px;
        }

      
    }
</style>
