<template lang="pug">
    v-section
        v-container
            .v-price-print
                v-flex-vertical
                    .v-price-print__header
                        h1.h1 Таблица цен
                        v-link(href="#")
                            template(slot="icon"): v-icon(name="printer"): printer
                            | Распечатать таблицу
                        
                    v-table(type="bicolor")
                        tr
                            th Кол.подписчиков
                            th 1 месяц
                            th: .th__text 3 месяца
                                v-hex-figure(radius="10").th__sale
                                    | -10%
                            th: .th__text 6 месяцев
                                v-hex-figure(radius="10").th__sale
                                    | -15%
                            th: .th__text 1 год
                                v-hex-figure(radius="10").th__sale
                                    | -20%
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        tr
                            td 1 - 200
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                            td Бесплатно
                        
                .v-price-print__link: v-link(href="#") Перейти на страницу тарифов
    
</template>

<script>
import VTable from "@/components/tags/VTable";
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";
import TagsStyle from "@/components/TagsStyle";
import VBtn from "@/components/controls/VBtn";
import VFlexVertical from "@/components/sections/VFlexVertical";
import VLink from "@/components/tags/VLink";
import VHexFigure from "@/components/elements/VHexFigure";
import printer from '@/assets/icons/other/printer.svg'
import VIcon from "@/components/VIcon";

export default {
    name: "VPricePrint",
    components: {
        VIcon,
        VHexFigure,
        VLink,
        VFlexVertical,
        VBtn,
        TagsStyle,
        VSection,
        VContainer,
        VTable,
        printer
    },
}
</script>

<style lang="scss">
    .v-price-print {
        $space-interval: $glob-space-interval;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &__link {
            display: flex;
            justify-content: flex-end;
            margin-top: $space-interval;
        }
    }
</style>
