<template lang="pug">
    v-section(container).VProfit
    
        .VProfit__wrapper(:style="{backgroundColor: block.color}")
            img(:src="block.image" v-if="block.image").VProfit__img
            .VProfit__content
                h2.h2(v-if="block.title") {{block.title}}
                tags-style(v-html="block.content")
                v-btn(v-if="block.button_url && block.button_text") {{block.button_text}}
</template>

<script>
//todo подверстать
import VBtn from "@/components/controls/VBtn";

export default {
    name: "VProfit",
    components: {
        VBtn,
    },
    props:{
        block: {
            type: Object,
            default:()=>({
                
            })
        },

    },
}
</script>

<style lang="scss">
    .VProfit {
        $border-radius: $glob-border-radius;
        $dark-blue:     $glob-color-dark-blue;
        $space-2xs:     $glob-space-2xs;
        $space-text:    $glob-space-text;
        $space-xs:      $glob-space-xs;
        &__wrapper {
            border-radius: $border-radius;
            background-color: $dark-blue;
            min-height: 350px;
            display: grid;
            //grid-template-columns: 1fr minmax(450px, 1fr);
            grid-template-columns: minmax(300px, 520px) minmax(450px, 1fr);
            align-items: center;
        }
        &__content {
            &, & > *, li:before { color: white !important; }
            padding: $space-2xs 8vw $space-text 0;
        }
        &__img {
            position: relative;
            object-fit: contain;
            transform: translate(-40%, -5%);
        }
        @include media($min: $glob-viewport-tablet-max) {
            padding-left: 220px;
        }
        @include media($max: $glob-viewport-tablet-max) {
            &__wrapper { grid-template-columns: 1fr }
            &__content {
                padding: $space-2xs $space-xs $space-text;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .v-btn { align-self: center }
            &__img { display: none }
        }
    }
</style>
