<template lang="pug">
    v-section.v-safety(container)
        top-contents(:title="block.title", :content="block.content" text-left)
        ul.v-safety__list
            li.v-safety__item(v-for="(item, index) in block.itemList",  :key="item.id")
                v-icon(name="shield").v-safety__icon(v-html="item.icon")
                tags-style.v-safety__content(v-html="item.content")
                    p Сервис Sendsay внесен в реестр операторов персональных данных Роскомнадзора и полностью #[strong соответствует требованиям 152-ФЗ «О персональных данных».]
       
</template>

<script>


import VIcon from "@/components/VIcon";


export default {
    name: "VSafety",
    components: {
    
        VIcon,
      
    },
    props:{
        block:{
            type:Object,
            default:()=>({
                itemList:[]
            })
        },

    },
}
</script>

<style lang="scss">
    .v-safety {
        $tablet-max:    $glob-viewport-tablet-max;
        $border-radius: $glob-border-radius;
        $space-2x:      $glob-space-2x;
        $space-md:      $glob-space-md;
        $sky:           $glob-color-sky;
        $dark-blue:     $glob-color-dark-blue;
        &__list {
            @include grid(450px);
            margin-top: $space-2x;
        }
        &__item {
            padding: $space-md;
            background-color: $sky;
            border-radius: $border-radius;
            display: flex;
            align-items: flex-start;
            position: relative;
        }
        &__content {
            max-width: 320px;
            strong { color: $dark-blue }
            p { margin-bottom: 0 }
        }
        &__icon {
            position: absolute;
            top: -30px; right: 30px;
            svg { width: 9vw; height: 9vw }

        }
        @include media($max: $tablet-max) {
            display: none;
        }
    }
</style>
