<template lang="pug">
    v-section(container)
        v-flex-vertical
            div
                h2.h1(v-if="title" v-text="title")
                tags-style(v-if="content" v-html="content")
            v-table(type="simple")
                tr
                    th Наименование
                    th Срок
                    th Цены
                tbody
                    tr(v-for="service in services" :key="service.id")
                        td(v-html="service.title")
                        td(v-html="service.duration || ''")
                        td
                            span(v-html="service.prices || ''")
                            span(v-if="service.prices && service.is_prices_rubles" v-html="' ₽'")
            //v-btn(type="filled" label="Заказать услугу сейчас!").js-intercom-doUpdate.js-order-more-features
            v-reg-include(theme="inline").v-try-free__reg.v-services__reg
</template>

<script>
import VTable from "@/components/tags/VTable";
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";
import TagsStyle from "@/components/TagsStyle";
import VBtn from "@/components/controls/VBtn";
import VFlexVertical from "@/components/sections/VFlexVertical";
import VRegInclude from "@/components/forms/VRegInclude";
export default {
    name: "VServices",
    components: {
        VRegInclude,
        VFlexVertical,
        VBtn,
        TagsStyle,
        VSection,
        VContainer,
        VTable
    },
    props: {
        content: {
            required: false,
            type: [String, null]
        },
        servicePopupContent: {
            required: false,
            default: null,
            type: String
        },
        servicePopupTitle: {
            required: false,
            default: null,
            type: String
        },
        services: {
            required: false,
            default: () => [],
            type: Array
        },
        title: {
            required: false,
            type: [String, null]
        }
    }
}
</script>

<style lang="scss">
    .v-services__reg {
        max-width: 600px;
    }
</style>
