<template lang="pug">
    v-section
        .v-statistic
            v-container
                top-contents(:title="block.title", :content="block.content" text-left)
                ul.v-statistic__list
                    li.v-statistic__item(
                        v-for="item in block.indicators", :key="item.id",
                        :style="{ backgroundImage: `url(${item.image})` }"
                        )
                        .v-statistic__content
                            .v-statistic__title(v-if="item.value") {{item.value}} {{item.unit}}
                            .v-statistic__text(v-if="item.title") {{item.title}}
                                .v-statistic__info(
                                    v-if="item.tooltip",
                                    @mouseenter="isPromptActive=true",
                                    @mouseleave="isPromptActive=false"
                                )
                                    v-icon(name="question").v-statistic__icon: question
                                    .v-statistic__prompt(:class="activePromptClass")
                                        .v-statistic__prompt-wrapper
                                            .v-statistic__prompt-text(v-html="item.tooltip")
                                                
                    //template
                        li.v-statistic__item(:style="{ backgroundImage: 'url(' + require(`@/assets/img/statistic-bg-01.png`) + ')' }")
                            .v-statistic__content
                                .v-statistic__title 1 млрд
                                .v-statistic__text Писем отправляем в месяц
    
                        li.v-statistic__item(:style="{ backgroundImage: 'url(' + require(`@/assets/img/statistic-bg-02.png`) + ')' }")
                            .v-statistic__content
                                .v-statistic__title 20 млн.
                                .v-statistic__text Скорость писем в час
    
                        li.v-statistic__item(:style="{ backgroundImage: 'url(' + require(`@/assets/img/statistic-bg-03.png`) + ')' }")
                            .v-statistic__content
                                .v-statistic__title 99,99 %
                                .v-statistic__text Общая доставляемость
    
                        li.v-statistic__item(:style="{ backgroundImage: 'url(' + require(`@/assets/img/statistic-bg-04.png`) + ')' }")
                            .v-statistic__content
                                .v-statistic__title 0,1 %
                                .v-statistic__text Показатель жалоб на спам
                                    .v-statistic__info(@mouseenter="isPromptActive=true" @mouseleave="isPromptActive=false")
                                        v-icon(name="question").v-statistic__icon: question
                                        .v-statistic__prompt(:class="activePromptClass")
                                            .v-statistic__prompt-wrapper
                                                .v-statistic__prompt-text
                                                    | Самый низкий показатель жалоб на спам. По данным "Mail.ru Group" за 2017 год
                        


                //v-try-free.v-statistic__slot
                                
                
</template>

<script>
import question from '@/assets/icons/other/question.svg'
import VIcon from "@/components/VIcon";
import VTryFree from "@/components/forms/RegistrarionForm";
import VSection from "@/components/sections/VSection";
import TopContents from "@/components/elements/TopContents";
    
export default {
    name: "VStatistic",
    components: {
        TopContents,
        VSection,
        VTryFree,
        VIcon,
        question,
    },
    data:() => ({
        isPromptActive: false,
    }),
    computed: { activePromptClass() { return this.isPromptActive ? "active" : null } },
    props: {
        block: {
            required: false,
            type: Object,
            default:()=>({})
        },
    }
}
</script>

<style lang="scss">
    .v-statistic {
        $space-xs: $glob-space-xs;
        $space-2x: $glob-space-2x;
        $space:    $glob-space;
        $space-indent:   $glob-space-indent;
        $space-interval: $glob-space-interval;
        $light-grey:     $glob-color-light-grey;
        $color-white:    $glob-color-white;
        $border-radius:  $glob-border-radius;
        $tablet-min:     $glob-viewport-tablet-min;
        $white:          $glob-color-white;
        
        &__slot { margin-top: $space-xs }
        &__list {
            @include grid(250px);
            margin-top: $space-2x;
        }
        &__item {
            padding-top: $space;
            border-radius: $border-radius;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            height: 275px;
            background:$glob-color-light-grey center/cover no-repeat;
        }
        &__title {
            @include h(2, $white);
            margin-bottom: $space-indent;
        }
        &__content {
            color: $white;
            line-height: 1.25em;
            padding: 0 $space;
        }
        &__text {
            width: 100%;
            position: relative;
        }
        &__vector {
            padding: 0 24px;
            margin-top: $space-interval;
            margin-bottom: 34px;
        }
        
        &__info {
            @include make-figure(20, #ffffff80, 0, $border-radius: 50%);
            @include flex-centralize;
            position: absolute;
            top: 0;
            left: calc(100% + 20px);
        }
        &__icon {
            width: 4px;
            height: 8px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            fill: $color-white;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        &__prompt {
            @include trans;
            position: relative;
            visibility: hidden;
            opacity: 0;
            
            &.active {
                visibility: visible;
                opacity: 1;
            }
            &-wrapper {
                position: absolute;
                bottom: calc(100% + 28px);
                left: 50%;
                transform: translateX(calc(-50% - 1px));
                width: 175px;
                background: $color-white;
                border-radius: 5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            }
            &-text {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 15px 12px;
                font-size: 12px;
                color: $light-grey;
                text-align: center;
                &:before {
                    content: '';
                    width: 0; height: 0;
                    border-style: solid;
                    border-width: 8px 7px 0 7px;
                    border-color: $color-white transparent transparent transparent;
                    position: absolute;
                    top: 100%; left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        @include media($max: $tablet-min) {
            padding-top: $space-xs;
            &__item { height: 200px }
        }
    }
</style>
