<template lang="pug">
    v-section: v-container: .v-webinar-modal
        .v-webinar-modal__close: .v-webinar-modal__close-icon
        .v-webinar-modal__wrapper
            img(src="/upload/img/check.png").v-webinar-modal__img
            .h1 Cпасибо, вы зарегистрировались на вебинар!
            .h3 Получите подарок по ссылке
            v-link(href="#")
                template(slot="icon"): v-icon(name="download"): download
                | Распечатать таблицу

</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";
import VBtn from "@/components/controls/VBtn";
import TagsStyle from "@/components/TagsStyle";
import VLink from "@/components/tags/VLink";
import download from '@/assets/icons/other/download.svg'

export default {
    name: "VWebinarModal",
    components: {
        VLink,
        TagsStyle,
        VBtn,
        VSection,
        VContainer,
        download
    },
}
</script>

<style lang="scss">
    .v-webinar-modal {
        $space-2xs: $glob-space-2xs;
        $space-xs: $glob-space-xs;
        $border-radius: $glob-border-radius;
        $light-red: $glob-color-light-red;
        $space-text: $glob-space-text;
        
        max-width: 600px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $border-radius;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);

        &__wrapper {
            padding: 115px 60px;
            @include flex-centralize;
            flex-direction: column;
            text-align: center;
        }

        &__img { margin-bottom: $space-text }

        &__close {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
            &-icon {
                $d:45deg;
                position: relative;
                width: 35px;
                height: 35px;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width:   18px;
                    height:  2px;
                    background: $light-red;
                    top: 50%;
                    left: 50%;
                }
                &:before { transform: translate(-50%, -50%) rotate($d); }
                &:after  { transform: translate(-50%, -50%) rotate(-$d); }
            }

        }
    }
</style>
