<template lang="pug">
    v-select.v-select_filled(:placeholder="placeholder" :options="grabOptions" :searchable="false") // :appendToBody="true" - Выпадаха подробная настройка на js (что-б поправить z-index)
</template>

<script>
    import VSelectPlugin from "vue-select";
    import "vue-select/dist/vue-select.css";
export default {
    name: "app-select",
    components:{
        VSelectPlugin
    },
    props: {
        options: {
            type: Array,
            default: [],
        },
        placeholder: {
            type: String,
            default: "",
        },
    },
    data() {
        return {
            
        }
    },
    computed: {
        grabOptions() {
            // Если есть слоты берем их, иначе берем входной options
            let slots = this.$slots.option,
                options = [];
            
            if (slots) {
                slots.forEach(el => options.push(el.text))
            } else {
                options = this.options
            }
            
            return options
        }
    },
}
</script>

<style lang="scss">
    // стрелку отрефакторить и z-index
    .v-select {
        @include vue-select-reset;
        @include input-customizer(vs__dropdown-toggle);
        
        $font-family: $glob-font-family;
        $color: $glob-color-light-grey;
        $space-text: $glob-space-text;
        $space-min:  $glob-space-min;
        $fs-small: $glob-fs-small;
        $space-xs:   $glob-space-xs;
        $color-white: $glob-color-white;
        $box-shadow: $glob-box-shadow;
        $light-blue: $glob-color-light-blue;
        $light-red: $glob-color-light-red;
        
        margin: $space-text 0;
        
        .vs{
            &__dropdown-menu, &__search, &__search:focus { 
                font-family: $font-family; 
            }
            &__dropdown-toggle { 
                color: $color; 
            }
            &__dropdown {
                &-menu {
                    top: calc(100% - #{$space-min});
                    font-size: $fs-small;
                    padding: $space-xs 0;
                    background-color: $color-white;
                    box-shadow: $box-shadow;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    // с z-index разобраться
                    //z-index: 999;
                    //z-index: -1;
                }
                &-option {
                    padding: $space-min $space-xs;
                    color: $color;
                    &--highlight {
                        background: $light-blue;
                    }
                }
            }
            
            &__clear, &__open-indicator {
                fill: $light-red;
            }
            &__fade-enter-active, &__fade-leave-active, &__clear, &__open-indicator {
                @include trans;
            }
            
        }
    }
</style>
