<template lang="pug">
    v-section(container).registration-form
        .registration-form__inner
            .registration-form__img: img(:src="block.image" :alt="block.title")
            .registration-form__content
                .registration-form__text(v-if="block.title" v-html="block.title")
                //.registration-form__btn: v-btn(type="filled" label="Попробуйте бесплатно")
                v-reg-include(theme="inline" :max="true").registration-form__reg
                    template(v-slot:btn) {{block.button_text}}
</template>

<script>
import VRegInclude from "@/components/forms/VRegInclude";
import VSection from "@/components/sections/VSection";
export default {
 
    components: {
        VSection,
        VRegInclude},
    props: {
        block: {
           
            type: Object,
            default:()=>({})
        }
    }
}
</script>

<style lang="scss">
    .registration-form {
        $tablet-medium: $glob-viewport-tablet-medium;
        $grey: $glob-color-grey;
        $border-radius: $glob-border-radius;
        $space-xs: $glob-space-xs;
        $space-indent: $glob-space-indent;
        $space-interval: $glob-space-interval;
        $fs-small: $glob-fs-small;
        $space-text: $glob-space-text;
        
   
        &__inner {
            display: grid;
            grid-template-columns: minmax(120px, 300px) 1fr;
            grid-column-gap: calc(2vw + #{$space-xs});
            width: 100%;
            height: auto;
            padding: $space-indent calc(2vw + #{$space-indent});
            align-items: center;
            justify-content: space-between;
            background: $grey;
            border-radius: $border-radius;
            box-sizing: border-box;

        }

        &__content {
            @include flex-container(column, $space-interval)
        }
        &__reg { .v-reg-include__area {
            font-size: $fs-small;
        }}
        &__text { @include h(3) }
        @include media($max: $tablet-medium) {
            padding: 0 $space-indent $space-text;
            @include flex-centralize;
            flex-direction: column;
            &__img { margin: -$space-interval 0 $space-interval }
        }
    }
</style>
