<template lang="pug">
    v-section(container).subscribe-form
        .subscribe-form
            .subscribe-form__form
                .subscribe-form__text
                    h3.h3.subscribe-form__title(v-if="block.title") {{block.title}}
                    tags-style(v-html="block.content")
                .subscribe-form__field
                    v-input(type="email" :hasIcon="true").v-input_long
                    tags-style.subscribe-form__caption(v-html="block.agree")
                     
                        
            
</template>

<script>

import VLink from "@/components/tags/VLink";
import TagsStyle from "@/components/TagsStyle";



export default {
   
    components: {


        TagsStyle,
        VLink
    },
    props:{
        block: {
            type: Object,
            default:()=>({
                
            })
        },

    }
}
</script>

<style lang="scss">
    .subscribe-form {
        $tablet-min: $glob-viewport-tablet-min;
        $grey: $glob-color-grey;
        $space-xs: $glob-space-xs;
        $space-text: $glob-space-text;
        $space-interval: $glob-space-interval;
        $space-2xs: $glob-space-2xs;
        $space: $glob-space;
        $space-md: $glob-space-md;
        $fs-small-sm: $glob-fs-small-sm;
        
        margin-top: $space-2xs;
        
        
        
        &__form {
            display: grid;
            grid-template-columns: minmax(120px, 2fr) minmax(250px, 3fr);
            grid-column-gap: $space-xs;
            width: 100%;
            height: auto;
            padding: $space $space-md $space-text;
            align-items: center;
            justify-content: space-between;
            background: $grey;
            border-radius: $space-interval;
        }
        &__field {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .v-input { width: 100% }
        }
        &__caption {
            font-size: $fs-small-sm;
            margin-top: $space-interval;
        }
        &__text {
            p {margin-bottom: 0;}
        }

        @include media($max: $tablet-min) {
            &__form {
                padding: $space-xs $space-xs $space-text;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            &__text { margin-bottom: $space-interval }
        }
    }
</style>

