<template lang="pug">
    label.v-checker
        input(:type="type")
        span {{label}}
        div {{row}}
</template>

<script>
    export default {
        name: "VChecker",
        props: {
            type: {
                type: String,
                default: "checkbox"
            },
            label: {
                type: String,
                default: "Empty"
            },
            value: {
                type: String,
                default: "someValue"
            }
        },
        data() {
            return {
                checked: true,
                picked: [1, 2, 3],
                row: "",
            }
        },
        computed: {
            initModel() {
                return this.type === "checkbox" ? "checked" : this.type === "radio" ? "picked" : ""
            }
        }
        
    }
</script>

<style lang="scss">
    .v-checker {
        $color: $glob-color-light-red;
        @include checker($el: span, $size: 20, $indent: 20, $color: $color);
    }
</style>
