<template lang="pug">
    v-section
        v-container
           
        v-btn(@click="$modal.show('my-first-modal')") попап    
        modal(name="my-first-modal" height="auto" adaptive)
            
            .v-content-modal
                .v-content-modal__close(@click="$modal.hide('my-first-modal')"): .v-content-modal__close-icon
                .v-content-modal__img
                    img(src="/upload/img/video-preview-02.jpg")
                .v-content-modal__content
                    .h2 Как изменился email- маркетинг за последние 5 лет?
                    .v-content-modal__text
                        .p И почему он остается одним из главных инструментов повторных продаж?
                    v-btn(label="Попробовать бесплатно")
</template>

<script>
import VContainer from "@/components/sections/VContainer";
import VSection from "@/components/sections/VSection";
import VBtn from "@/components/controls/VBtn";

import 'vue-js-modal/dist/styles.css'

export default {
    name: "VContentModal",
    components: {
        VBtn,
        VSection,
        VContainer,
    },
}
</script>

<style lang="scss">
    .vm--modal {
        $border-radius: $glob-border-radius;
        $box-shadow: $glob-box-shadow;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }
    .v-content-modal {
        $space-2xs: $glob-space-2xs;
        $space-xs: $glob-space-xs;
        $border-radius: $glob-border-radius;
        $color-sky: $glob-color-sky;
        
        max-width: 600px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
      /*  border-radius: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);*/
        &__img {
            width: 100%;
            height: 320px;
            position: relative;
            
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            img {
                @include img-stretch;
                
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }
            &::before {
                @include abs-stretch;
                background: linear-gradient(180deg, rgba(52, 56, 148, 0) 0%, rgba(52, 56, 148, 0.375) 0.01%, rgba(52, 56, 148, 0.75) 99.59%);
                content:'';
                z-index:1;
            }
        }
        &__content {
            padding: $space-xs $space-xs $space-2xs;
            @include flex-centralize;
            flex-direction: column;
            text-align: center;
        }
        &__text { max-width: 360px }
        &__close {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 3;
            cursor:pointer;
            &-icon {
                $d:45deg;
                position: relative;
                background-color: $color-sky;
                border-radius: 50px;
                width: 31px;
                height: 30px;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width:   18px;
                    height:  2px;
                    background: #323232;
                    top: 50%;
                    left: 50%;
                }
                &:before { transform: translate(-50%, -50%) rotate($d); }
                &:after  { transform: translate(-50%, -50%) rotate(-$d); }
            }

        }
    }
</style>
