<template lang="pug">
    form.v-form
        v-checker(type="checkbox" label="Один" value="'1'" id="1" name="1")
        v-checker(type="checkbox" label="Два"  value="'2'" id="2" name="2")
        v-checker(type="checkbox" label="Три"  value="'3'" id="3" name="3")
        v-checker(type="radio"    label="Один" value="4" id="u" name="u" v-model="picked")
        v-checker(type="radio"    label="Два"  value="5" id="x" name="q" v-model="picked")
        v-checker(type="radio"    label="Три"  value="6" id="c" name="w" v-model="picked")
        input(type="radio" id="one" value="Один" v-model="picked")
        input(type="radio" id="two" value="Два" v-model="picked")
        div {{picked}}
</template>

<script>
    
export default {
    name: "VForm",
    data() {return {
        picked: '',
    }}
}
</script>

<style lang="scss"></style>
