<template lang="pug">
    label.v-input
        input(:type="type" :placeholder="typeSettings.placeholder" v-model="change.text")
        v-icon(v-if="hasIcon").v-input__icon: mail_icon(:style="initColorIcon")
        //span.v-input__error(v-if="!errorMsg") {{errorMsg}}
        
</template>

<script>
    import mail_icon from '@/assets/icons/other/letter.svg'
    import VIcon from "@/components/VIcon";
    export default {
        components: {
            VIcon,
            mail_icon
        },
        name: "VInput",
        props: {
            type:    { type: String, default: "text" },
            hasIcon: { type: Boolean, default: false }
        },
        data() {
            return {
                colorIcon: {
                    type: String,
                    default: "#A02140", //?
                },
                change: {
                    text: ""
                }
            }
        },
        computed: {
            initColorIcon() {
                return `fill: #A02140` // ?
            },
            typeSettings() {
                let type = this.type, 
                    settings = {};
                
                if (type === 'email')
                {
                    settings.error = "ошибка, введите email";
                    settings.placeholder = "введите email для рассылки";
                }
                else if (type === 'text')
                {
                    settings.error = "ошибка, введите text";
                    settings.placeholder = "введите text";
                }
                
                return settings;
            },
            errorMsg() {
                if (this.change.text.length <= 0) {
                   return this.typeSettings.error
                }
                //return this.value
            },
        }
    }
</script>

<style lang="scss">
    .v-input {
        @include input-text;
        @include input-customizer;
        @include trans;
        
        &:not(&_filled) { $shadow: $glob-box-shadow; box-shadow: $shadow }
        
        &_filled {
            &:hover { $bg-hover: $glob-color-light-blue; background: $bg-hover; }
        }
        
        &__error {
            $color: $glob-color-light-red;
            $space: $glob-space-min;
            position: absolute;
            top: calc(100% + #{$space});
            left: 0;
            color: $color;
        }
                
        input ~ .v-input__icon {
            $interval: $glob-space-interval;
            margin-left: $interval;
            line-height: 0;
            user-select: none; user-focus: none;
        }
    }
</style>
