<template lang="pug">
    v-section: v-container
        overlay(:img="`${require('@/assets/img/webinar-01.jpg')}`" color="#0B1C48" :opacity="0.75").v-reg-webinar
            .v-reg-webinar__caption Зарегистрируйтесь на вебинар «название» бесплатно
            form.v-reg-webinar__form
                input(type="text" placeholder="Введите имя")
                input(type="text" placeholder="Мобильный телефон")
                input(type="text" placeholder="Ваш E-mail")
                v-btn(label="Зарегистрироваться")
</template>

<script>


import VSection from "@/components/sections/VSection";
import VContainer from "@/components/sections/VContainer";
import VBtn from "@/components/controls/VBtn";
import Overlay from "@/components/patterns/Overlay";
export default {
    name: 'VRegWebinar',
    components: {
        Overlay,
        VBtn,
        VContainer,
        VSection

    },

}
</script>

<style lang="scss">
    .v-reg-webinar {
        $fs-small: $glob-fs-small;
        $space-xs: $glob-space-xs;
        $space-text: $glob-space-text;
        $light-grey: $glob-color-light-grey;
        $tablet-max: $glob-viewport-tablet-max;
        $space-2xs: $glob-space-2xs;
        $space: $glob-space;

        display: grid;
        border-radius: 25px;
        overflow: hidden;
        justify-content: space-between;
        grid-template-columns: 590px 1fr;
        align-items: center;

        &__caption {
            @include flex-centralize;
            @include h(2, white);
            z-index: 1;
        }

        &__form {
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(auto-fit, 240px);
            grid-auto-rows: 50px;
            gap: $space-xs $space-text;
            justify-content: center;
            font-size: $fs-small

            input {
                border: none;
                border-radius: 10px;
                padding: 0 $space-xs;
            }
        }
        @include media($min: $tablet-max) {
            min-height: 320px;
            &__caption {
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                height: 100%;
                padding: 90px 100px 90px 60px;
                line-height: 1.4em;
                background-color: $light-grey;
            }
            &__form {
                padding: 90px 60px;
            }
        }
        @include media($max: $tablet-max) {
            grid-template-columns: 1fr;
            padding: $space-2xs;
            text-align: center;
            &__caption {
                margin-bottom: $space;
                align-items: center;
            }
        }
    }
</style>


