<template lang="pug">
    .v-reg-include
        v-section(v-if="theme !== 'inline'")
            v-container
                .v-reg-include__wrapper(:class="classInit(theme, classList)" :style="bgInit")
                    .v-reg-include__area
                        v-input(type="email").v-reg-include__input
                        v-btn(type="filled" label="Зарегистрироваться").v-reg-include__btn
                    .v-reg-include__caption(v-if='theme === "primary"')
                        | Нажимая на кнопку, Вы соглашаетесь с
                        v-link(href="#") условиями обработки персональных данных
                        
        .v-reg-include__wrapper.v-reg-include_inline(v-else)
            .v-reg-include__area(:style="inlineStyles")
                v-input(type="email").v-reg-include__input
                v-btn(type="filled").v-reg-include__btn
                    slot(name="btn") Зарегистрироваться
                        

</template>

<script>


import VContainer from "@/components/sections/VContainer";
import VBtn from "@/components/controls/VBtn";
import VSection from "@/components/sections/VSection";
import VLink from "@/components/tags/VLink";
export default {
    name: 'VRegInclude',
    components: {
        VLink,
        VSection,
        VBtn,
        VContainer
    },
    data:() => ({
        classList: {
            primary : ["v-reg-include_primary"],
            cover   : ["v-reg-include_cover"],
        }
    }),
    props: {
        theme:    { type: String, default: "primary" },
        bg:       { type: String },
        noborder: { type: Boolean, default: false },
        max:      { type: Boolean, default: false },
    },
    methods: {
        classInit(target, list) {
            for (let key in list) {
                if (target === key) return list[key]
            }
        },
    },
    computed: {
        bgInit() { 
            if (this.theme === "cover") return {
                background: `url('${this.bg}') center/cover no-repeat`
            }
        },
        inlineStyles() {
            let styles = {};
            if (!this.max) {
                styles.maxWidth = '570px';
            }
            if (!this.noborder) {
                styles.border = '1px solid #CACAD7';
                styles.paddingRight = '6px';
            }
            return styles
        }
    },
}
</script>

<style lang="scss">
    .v-reg-include {
        $space-interval: $glob-space-interval;
        $space-text: $glob-space-text;
        $space-md: $glob-space-md;
        $space: $glob-space;
        $space-xs: $glob-space-xs;
        $border-radius: $glob-border-radius;
        $fs-small: $glob-fs-small;
        $color-white: $glob-color-white;
        $grey: $glob-color-grey;
        $p: '.v-reg-include';
        width: 100%;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: $border-radius;
            #{$p}__block {
                padding-left:  5vw;
                padding-right: 5vw;
            }
        }
        &__area {
            @include flex-centralize;
            width: 100%;
            border-radius: 10px 50px 50px 10px;
            padding-right: 5px;
        }
        &__input {
            width: 100%;
            box-shadow: none !important;
        }
        &__caption {
            font-size: $fs-small;
            margin-top: $space-interval;
            align-self: flex-start;
        }
        &__btn { min-width: 280px }

        &_inline {
            #{$p}__area {
                background-color: $color-white;
            }
        }
        &_primary {
            padding: $space $space-md $space-text;
            background-color: $grey;
            #{$p}__input {
                margin-right: $space-xs;
            }
        }
        &_cover {
            padding: $space-md $space-interval;
            #{$p}__area {
                background-color: $color-white;
                max-width: 810px;
            }
        }
        
        @include media($max: $glob-viewport-tablet-min) {
            &:not(.v-header-menu__actions-reg) & {
                &__area {
                    background-color: transparent !important;
                    flex-direction: column;
                    padding-right: 0 !important;
                    border-radius: 10px 10px 15px 15px;
                    overflow: hidden;
                }
                &__input {
                    border-radius: 0 !important;
                    margin: 0 !important;
                }
                &__btn {
                    width: 100%;
                    min-width: auto;
                    border-radius: 0 !important;
                }
            }

        }
    }
</style>


